In [1]:
import pandas as pd
import requests # library to handle requests
from bs4 import BeautifulSoup # library to parse HTML documents

from pandas.io.html import read_html

In [2]:
# # get the response in the form of html
# wikiurl="https://en.wikipedia.org/wiki/List_of_Disney_animated_universe_characters"
# table_class="wikitable sortable jquery-tablesorter"
# response=requests.get(wikiurl)
# print(response.status_code)

## Disney Characters

In [3]:
# extract all tables on the page
url_page = 'https://en.wikipedia.org/wiki/List_of_Disney_animated_universe_characters'
tables = read_html(url_page, attrs={'class':'wikitable sortable'})

In [4]:
# Print the number of tables extracted from the page
print('Extracted {num} tables'.format(num=len(tables)))

Extracted 26 tables

In [5]:
tables[0].head()

              Character              Original voice actor  Animated debut
0          Abby Mallard                    Joan Cusack[1]  Chicken Little
1     Abigail Callaghan                       Katie Lowes      Big Hero 6
2        Abigail Gabble                   Monica Evans[2]  The Aristocats
3                   Abu                   Frank Welker[3]         Aladdin
4  Abuela Alma Madrigal  María Cecilia BoteroOlga Merediz         Encanto

In [6]:
tables[1].head()

         Character  Original voice actor          Animated debut
0           B.E.N.          Martin Short     Treasure Planet[28]
1          Babette  Mary Kay Bergman[23]    Beauty and the Beast
2    Baby Red Bird       Tress MacNeille  Mickey Mouse Clubhouse
3    Baby Sinclair           Kevin Clash               Dinosaurs
4  Babyface Beagle        Terry McGovern               DuckTales

In [7]:
# concatenating tables
df = pd.concat([tables[0],tables[1],tables[2],tables[3],tables[4],tables[5],\
               tables[6],tables[7],tables[8],tables[9],tables[10],tables[11],\
               tables[12],tables[13],tables[14],tables[15],tables[16],tables[17],\
               tables[18],tables[19],tables[20],tables[21],tables[22],tables[23],\
               tables[24],tables[25]], axis=0)
df.head()

              Character              Original voice actor  Animated debut
0          Abby Mallard                    Joan Cusack[1]  Chicken Little
1     Abigail Callaghan                       Katie Lowes      Big Hero 6
2        Abigail Gabble                   Monica Evans[2]  The Aristocats
3                   Abu                   Frank Welker[3]         Aladdin
4  Abuela Alma Madrigal  María Cecilia BoteroOlga Merediz         Encanto

In [8]:
# table_list=[]
# # def print_funct():
# #     print (f'tables[{i}],')
    
# for i in range(len(tables)):
#     if i == int(len(tables)):
#         print (f'tables[{i}]')
#     else:
#         print (f'tables[{i}],')
#         tab = print (f'tables[{i}],')
#         tab= f'tables[{i}]'
#         table_list.append(tab)
#         #table_list[frozenset(i)].append(tab)

#     #table_list.append(item)

# df = pd.concat([locals()[x] for x in len([table_list])], axis=0)
# #pd.concat([locals()[str_list[0]], locals()[str_list[1]]])

In [9]:
df.to_csv('output/disney_voice_characters.csv', index=False)

## Pixar Characters

In [10]:
# extract all tables on the page
url_page = 'https://en.wikipedia.org/wiki/List_of_Pixar_characters'
tables = read_html(url_page, attrs={'class':'wikitable sortable'})

In [11]:
# Print the number of tables extracted from the page
print('Extracted {num} tables'.format(num=len(tables)))

Extracted 27 tables

In [12]:
tables[0].head()

   Character Original voice actor Animated debut
0         22          Tina Fey[1]           Soul

In [13]:
tables[1].head()

            Character     Original voice actor  Animated debut
0            Aaron T.            Topher Ngo[2]     Turning Red
1            Aaron Z.             Josh Levi[2]     Turning Red
2           Abby Park            Hyein Park[2]     Turning Red
3  Abominable Snowman  John Ratzenberger[3][4]  Monsters, Inc.
4                Acer        Peter Jacobson[5]          Cars 2

In [14]:
# concatenating tables
df = pd.concat([tables[0],tables[1],tables[2],tables[3],tables[4],tables[5],\
               tables[6],tables[7],tables[8],tables[9],tables[10],tables[11],\
               tables[12],tables[13],tables[14],tables[15],tables[16],tables[17],\
               tables[18],tables[19],tables[20],tables[21],tables[22],tables[23],\
               tables[24],tables[25],tables[26]], axis=0)
df.head()

            Character     Original voice actor  Animated debut
0                  22              Tina Fey[1]            Soul
0            Aaron T.            Topher Ngo[2]     Turning Red
1            Aaron Z.             Josh Levi[2]     Turning Red
2           Abby Park            Hyein Park[2]     Turning Red
3  Abominable Snowman  John Ratzenberger[3][4]  Monsters, Inc.

In [15]:
df.to_csv('output/pixar_voice_characters.csv', index=False)