In [283]:
import pandas as pd
import numpy as np
import re

## We want to unify the MovieLens movieId and IMDBid for our database

### Load Completed IMDB movie dataset from 1_Resolve_IMDB_Disney_Movie_Title

In [284]:
#Load the complete IMDB dataset
complete_df = pd.read_csv('output/complete_Disney_movie.csv')
complete_df['Year'] = complete_df['Year'].str.split('–', 1).str[0]
complete_df['Genre'] = complete_df['Genre'].str.replace(',', '|')
complete_df['Genre'] = complete_df['Genre'].str.replace(' ', '')
complete_df.head()

,Title,Year,Rated,Released,Runtime,Genre,Director,Writer,Actors,Language,Country,Awards,Metascore,IMDBRating,imdbVotes,imdbID,total_gross,inflation_adjusted_gross
0,101 Dalmatians,1996,G,27 Nov 1996,103.0,Adventure|Comedy|Crime,Stephen Herek,"Dodie Smith, John Hughes","Glenn Close, Jeff Daniels, Joely Richardson","English, Spanish","United States, United Kingdom",Nominated for 1 BAFTA Film Award3 wins & 10 no...,49.0,5.7,109762,tt0115433,153000000.0,1.386569e+09
1,101 Dalmatians,1996,G,27 Nov 1996,103.0,Adventure|Comedy|Crime,Stephen Herek,"Dodie Smith, John Hughes","Glenn Close, Jeff Daniels, Joely Richardson","English, Spanish","United States, United Kingdom",Nominated for 1 BAFTA Film Award3 wins & 10 no...,49.0,5.7,109762,tt0115433,136189294.0,2.352021e+08
2,102 Dalmatians,2000,G,22 Nov 2000,100.0,Adventure|Comedy|Family,Kevin Lima,"Dodie Smith, Kristen Buckley, Brian Regan","Glenn Close, Gérard Depardieu, Ioan Gruffudd",English,"United States, United Kingdom",Nominated for 1 Oscar. 1 win & 8 nominations t...,35.0,4.9,37045,tt0211181,66941559.0,1.053377e+08
3,1492: Conquest of Paradise,1992,PG-13,09 Oct 1992,154.0,Adventure|Biography|Drama,Ridley Scott,Rose Bosch,"Gérard Depardieu, Armand Assante, Sigourney We...","English, Spanish, Latin, Arabic","United Kingdom, France, Spain",2 nominations,47.0,6.4,29990,tt0103594,7099531.0,1.371176e+07
4,"20,000 Leagues Under the Sea",1954,G,20 Jul 1955,127.0,Adventure|Drama|Family,Richard Fleischer,"Earl Felton, Jules Verne","Kirk Douglas, James Mason, Paul Lukas",English,United States,Won 2 Oscars. 5 wins & 3 nominations total,83.0,7.2,33152,tt0046672,28200000.0,2.840652e+08

In [285]:
complete_df['Year'] = complete_df['Year'].astype(int)

### Load MovieLens movies dataset

In [286]:
#load Movie Lens movies dataset
ml_df = pd.read_csv('input/movies.csv')
ml_df.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [287]:
#ml_df['title'] = ml_df['title'].str.replace('.','')
ml_df['movie_title'] = ml_df['title'].str.split(' \(', 1).str[0]
ml_df['movie_title'] = ml_df['movie_title'].str.replace('.','')
ml_df['year'] = ml_df['title'].str.extract('(\(\d{4}\)$)')
ml_df['year'] = ml_df['year'].str.replace('\)','')
ml_df['year'] = ml_df['year'].str.replace('\(','')

In [288]:
#Can't parse year to int as there are some null values
ml_df[ml_df['year'].isnull()]

,movieId,title,genres,movie_title,year
8463,25936,"Babe Ruth Story, The (1948)",Drama,"Babe Ruth Story, The",NaN
8602,26137,"Heroes of Telemark, The (1965)",Action|Drama|War,"Heroes of Telemark, The",NaN
8910,26628,Jack's Back (1988),Crime|Horror|Mystery|Thriller,Jack's Back,NaN
9120,27189,After the Rain (Ame agaru) (1999),Action|Drama,After the Rain,NaN
9763,32497,Love Letter (1995),Drama|Romance,Love Letter,NaN
...,...,...,...,...,...
62071,207714,Tales of Found Footage,(no genres listed),Tales of Found Footage,NaN
62104,207884,Enduring Destiny,(no genres listed),Enduring Destiny,NaN
62285,208597,Punk the Capital: Building a Sound Movement,Documentary,Punk the Capital: Building a Sound Movement,NaN
62326,208763,Yosemite: The Fate of Heaven,(no genres listed),Yosemite: The Fate of Heaven,NaN
62380,208973,The Falklands War: The Untold Story,(no genres listed),The Falklands War: The Untold Story,NaN

In [289]:
ml_df[ml_df.movie_title.str.startswith('101 Dalmatians')]

,movieId,title,genres,movie_title,year
1331,1367,101 Dalmatians (1996),Adventure|Children|Comedy,101 Dalmatians,1996
1996,2085,101 Dalmatians (One Hundred and One Dalmatians...,Adventure|Animation|Children,101 Dalmatians,1961
24273,121099,101 Dalmatians II: Patch's London Adventure (2...,Animation|Children,101 Dalmatians II: Patch's London Adventure,2003

In [290]:
#Fill Null year with -1
ml_df['year'].fillna("-1", inplace = True)
#Parse year as int
ml_df['year'] = ml_df['year'].astype(int)

In [291]:
#genres na?
ml_df.loc[ml_df['genres'].isna()]

Empty DataFrame
Columns: [movieId, title, genres, movie_title, year]
Index: []

In [292]:
#Merge the IMDB complete dataset and MovieLens dataset on movie_title & year ONLY
merged_disney_df =pd.merge(complete_df, ml_df, how='left', left_on=['Title', 'Year'], right_on=['movie_title', 'year'])
merged_disney_df.head()

,Title,Year,Rated,Released,Runtime,Genre,Director,Writer,Actors,Language,...,IMDBRating,imdbVotes,imdbID,total_gross,inflation_adjusted_gross,movieId,title,genres,movie_title,year
0,101 Dalmatians,1996,G,27 Nov 1996,103.0,Adventure|Comedy|Crime,Stephen Herek,"Dodie Smith, John Hughes","Glenn Close, Jeff Daniels, Joely Richardson","English, Spanish",...,5.7,109762,tt0115433,153000000.0,1.386569e+09,1367.0,101 Dalmatians (1996),Adventure|Children|Comedy,101 Dalmatians,1996.0
1,101 Dalmatians,1996,G,27 Nov 1996,103.0,Adventure|Comedy|Crime,Stephen Herek,"Dodie Smith, John Hughes","Glenn Close, Jeff Daniels, Joely Richardson","English, Spanish",...,5.7,109762,tt0115433,136189294.0,2.352021e+08,1367.0,101 Dalmatians (1996),Adventure|Children|Comedy,101 Dalmatians,1996.0
2,102 Dalmatians,2000,G,22 Nov 2000,100.0,Adventure|Comedy|Family,Kevin Lima,"Dodie Smith, Kristen Buckley, Brian Regan","Glenn Close, Gérard Depardieu, Ioan Gruffudd",English,...,4.9,37045,tt0211181,66941559.0,1.053377e+08,3991.0,102 Dalmatians (2000),Children|Comedy,102 Dalmatians,2000.0
3,1492: Conquest of Paradise,1992,PG-13,09 Oct 1992,154.0,Adventure|Biography|Drama,Ridley Scott,Rose Bosch,"Gérard Depardieu, Armand Assante, Sigourney We...","English, Spanish, Latin, Arabic",...,6.4,29990,tt0103594,7099531.0,1.371176e+07,8905.0,1492: Conquest of Paradise (1992),Adventure|Drama,1492: Conquest of Paradise,1992.0
4,"20,000 Leagues Under the Sea",1954,G,20 Jul 1955,127.0,Adventure|Drama|Family,Richard Fleischer,"Earl Felton, Jules Verne","Kirk Douglas, James Mason, Paul Lukas",English,...,7.2,33152,tt0046672,28200000.0,2.840652e+08,1019.0,"20,000 Leagues Under the Sea (1954)",Adventure|Drama|Sci-Fi,"20,000 Leagues Under the Sea",1954.0

In [293]:
merged_disney_df.isna().sum()

Title                         0
Year                          0
Rated                         0
Released                      0
Runtime                       0
Genre                         0
Director                      1
Writer                        5
Actors                        0
Language                      0
Country                       0
Awards                      101
Metascore                     0
IMDBRating                    0
imdbVotes                     0
imdbID                        0
total_gross                   0
inflation_adjusted_gross      0
movieId                     165
title                       165
genres                      165
movie_title                 165
year                        165
dtype: int64

In [294]:
#genres na?
merged_disney_df.loc[merged_disney_df['genres'].isna()]

,Title,Year,Rated,Released,Runtime,Genre,Director,Writer,Actors,Language,...,IMDBRating,imdbVotes,imdbID,total_gross,inflation_adjusted_gross,movieId,title,genres,movie_title,year
11,A Bug's Life,1998,G,25 Nov 1998,95.0,Animation|Adventure|Comedy,"John Lasseter, Andrew Stanton","John Lasseter, Andrew Stanton, Joe Ranft","Kevin Spacey, Dave Foley, Julia Louis-Dreyfus",English,...,7.2,284819,tt0120623,162798565.0,270635135.0,NaN,NaN,NaN,NaN,NaN
12,A Civil Action,1998,PG-13,08 Jan 1999,115.0,Drama,Steven Zaillian,"Jonathan Harr, Steven Zaillian","John Travolta, Robert Duvall, Kathleen Quinlan",English,...,6.6,28711,tt0120633,56709981.0,94274254.0,NaN,NaN,NaN,NaN,NaN
13,A Far Off Place,1993,PG,12 Mar 1993,108.0,Adventure|Drama|Family,Mikael Salomon,"Lourens van der Post, Robert Caswell, Jonathan...","Reese Witherspoon, Ethan Embry, Jack Thompson",English,...,6.5,3556,tt0106868,12890752.0,24173059.0,NaN,NaN,NaN,NaN,NaN
14,A Goofy Movie,1995,G,07 Apr 1995,78.0,Animation|Adventure|Comedy,Kevin Lima,"Jymn Magon, Chris Matheson, Brian Pimental","Bill Farmer, Jason Marsden, Jim Cummings",English,...,6.9,52129,tt0113198,35336439.0,62828837.0,NaN,NaN,NaN,NaN,NaN
15,The Gun in Betty Lou's Handbag,1992,PG-13,21 Aug 1992,89.0,Comedy|Mystery,Allan Moyle,Grace Cary Bickley,"Penelope Ann Miller, Eric Thal, Alfre Woodard",English,...,5.1,1683,tt0104376,3591460.0,6936407.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
605,Red Rock West,1993,R,14 May 1993,98.0,Crime|Drama|Thriller,John Dahl,"John Dahl, Rick Dahl","Nicolas Cage, Dennis Hopper, Lara Flynn Boyle",English,...,7.0,22020,tt0105226,2502551.0,4575683.0,NaN,NaN,NaN,NaN,NaN
612,Endurance,1998,G,14 May 1999,83.0,Biography|Drama|Sport,"Leslie Woodhead, Bud Greenspan",NaN,"Haile Gebrselassie, Shawananness Gebrselassie,...",English,...,6.3,419,tt0120659,229128.0,372669.0,NaN,NaN,NaN,NaN,NaN
614,Mars Needs Moms,2010,PG,11 Mar 2011,88.0,Animation|Action|Adventure,Simon Wells,"Simon Wells, Wendy Wells, Berkeley Breathed","Seth Green, Joan Cusack, Dan Fogler",English,...,5.4,22234,tt1305591,21392758.0,25770522.0,NaN,NaN,NaN,NaN,NaN
615,The Jungle Book 2,2002,G,14 Feb 2003,72.0,Animation|Adventure|Comedy,Steve Trenbirth,"Karl Geurs, Carter Crocker, Evan Spiliotopoulos","John Goodman, Haley Joel Osment, Tony Jay",English,...,5.4,16161,tt0283426,47901582.0,70542889.0,NaN,NaN,NaN,NaN,NaN
616,The Secret World of Arrietty,2010,G,17 Feb 2012,94.0,Animation|Adventure|Drama,Hiromasa Yonebayashi,"Mary Norton, Hayao Miyazaki, Keiko Niwa","Amy Poehler, Will Arnett, Mirai Shida",Japanese,...,7.6,89613,tt1568921,19192510.0,22651264.0,NaN,NaN,NaN,NaN,NaN

In [295]:
#genres na?
merged_disney_df.loc[merged_disney_df['genres'] == '(no genres listed)']

,Title,Year,Rated,Released,Runtime,Genre,Director,Writer,Actors,Language,...,IMDBRating,imdbVotes,imdbID,total_gross,inflation_adjusted_gross,movieId,title,genres,movie_title,year
333,Pirates of the Caribbean: Dead Men Tell No Tales,2017,PG-13,26 May 2017,129.0,Action|Adventure|Fantasy,"Joachim Rønning, Espen Sandberg","Jeff Nathanson, Terry Rossio, Ted Elliott","Johnny Depp, Geoffrey Rush, Javier Bardem","English, Spanish",...,6.5,292790,tt1790809,172558876.0,190756685.0,122896.0,Pirates of the Caribbean: Dead Men Tell No Tal...,(no genres listed),Pirates of the Caribbean: Dead Men Tell No Tales,2017.0

In [296]:
#Replace Genre "Not Rated" with "Not-Rated"

merged_disney_df['Rated'] = merged_disney_df['Rated'].str.replace('Not Rated','Not-Rated')

In [297]:
merged_disney_df.isna().sum()

Title                         0
Year                          0
Rated                         0
Released                      0
Runtime                       0
Genre                         0
Director                      1
Writer                        5
Actors                        0
Language                      0
Country                       0
Awards                      101
Metascore                     0
IMDBRating                    0
imdbVotes                     0
imdbID                        0
total_gross                   0
inflation_adjusted_gross      0
movieId                     165
title                       165
genres                      165
movie_title                 165
year                        165
dtype: int64

In [298]:
#genres na?
merged_disney_df.loc[merged_disney_df['movieId'].isna()]

,Title,Year,Rated,Released,Runtime,Genre,Director,Writer,Actors,Language,...,IMDBRating,imdbVotes,imdbID,total_gross,inflation_adjusted_gross,movieId,title,genres,movie_title,year
11,A Bug's Life,1998,G,25 Nov 1998,95.0,Animation|Adventure|Comedy,"John Lasseter, Andrew Stanton","John Lasseter, Andrew Stanton, Joe Ranft","Kevin Spacey, Dave Foley, Julia Louis-Dreyfus",English,...,7.2,284819,tt0120623,162798565.0,270635135.0,NaN,NaN,NaN,NaN,NaN
12,A Civil Action,1998,PG-13,08 Jan 1999,115.0,Drama,Steven Zaillian,"Jonathan Harr, Steven Zaillian","John Travolta, Robert Duvall, Kathleen Quinlan",English,...,6.6,28711,tt0120633,56709981.0,94274254.0,NaN,NaN,NaN,NaN,NaN
13,A Far Off Place,1993,PG,12 Mar 1993,108.0,Adventure|Drama|Family,Mikael Salomon,"Lourens van der Post, Robert Caswell, Jonathan...","Reese Witherspoon, Ethan Embry, Jack Thompson",English,...,6.5,3556,tt0106868,12890752.0,24173059.0,NaN,NaN,NaN,NaN,NaN
14,A Goofy Movie,1995,G,07 Apr 1995,78.0,Animation|Adventure|Comedy,Kevin Lima,"Jymn Magon, Chris Matheson, Brian Pimental","Bill Farmer, Jason Marsden, Jim Cummings",English,...,6.9,52129,tt0113198,35336439.0,62828837.0,NaN,NaN,NaN,NaN,NaN
15,The Gun in Betty Lou's Handbag,1992,PG-13,21 Aug 1992,89.0,Comedy|Mystery,Allan Moyle,Grace Cary Bickley,"Penelope Ann Miller, Eric Thal, Alfre Woodard",English,...,5.1,1683,tt0104376,3591460.0,6936407.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
605,Red Rock West,1993,R,14 May 1993,98.0,Crime|Drama|Thriller,John Dahl,"John Dahl, Rick Dahl","Nicolas Cage, Dennis Hopper, Lara Flynn Boyle",English,...,7.0,22020,tt0105226,2502551.0,4575683.0,NaN,NaN,NaN,NaN,NaN
612,Endurance,1998,G,14 May 1999,83.0,Biography|Drama|Sport,"Leslie Woodhead, Bud Greenspan",NaN,"Haile Gebrselassie, Shawananness Gebrselassie,...",English,...,6.3,419,tt0120659,229128.0,372669.0,NaN,NaN,NaN,NaN,NaN
614,Mars Needs Moms,2010,PG,11 Mar 2011,88.0,Animation|Action|Adventure,Simon Wells,"Simon Wells, Wendy Wells, Berkeley Breathed","Seth Green, Joan Cusack, Dan Fogler",English,...,5.4,22234,tt1305591,21392758.0,25770522.0,NaN,NaN,NaN,NaN,NaN
615,The Jungle Book 2,2002,G,14 Feb 2003,72.0,Animation|Adventure|Comedy,Steve Trenbirth,"Karl Geurs, Carter Crocker, Evan Spiliotopoulos","John Goodman, Haley Joel Osment, Tony Jay",English,...,5.4,16161,tt0283426,47901582.0,70542889.0,NaN,NaN,NaN,NaN,NaN
616,The Secret World of Arrietty,2010,G,17 Feb 2012,94.0,Animation|Adventure|Drama,Hiromasa Yonebayashi,"Mary Norton, Hayao Miyazaki, Keiko Niwa","Amy Poehler, Will Arnett, Mirai Shida",Japanese,...,7.6,89613,tt1568921,19192510.0,22651264.0,NaN,NaN,NaN,NaN,NaN

In [300]:
#merged_disney_df['title'] = merged_disney_df['title'].astype(str)

#So after merged, we need to find titles in IMDB lists without it's corresponding MovieLens movieID
#then we take the MovieLens movieId & genres to add into merged_disney_df

for i in merged_disney_df.index:
    if str(merged_disney_df['movieId'][i]) == 'nan':  
        for j in ml_df.index:
            if merged_disney_df['Title'][i] == ml_df['movie_title'][j]:
                print("--------------------------")
                print(merged_disney_df['Title'][i])
                print(ml_df['movie_title'][j])
                merged_disney_df['movieId'][i] = ml_df['movieId'][j]
                merged_disney_df['genres'][i] = ml_df['genres'][j]
                print("--------------------------")

--------------------------
Amy
Amy
--------------------------

/Users/vuvie/opt/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]
/Users/vuvie/opt/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

--------------------------
Amy
Amy
--------------------------
--------------------------
Black Panther
Black Panther
--------------------------
--------------------------
Black Widow
Black Widow
--------------------------
--------------------------
Black Widow
Black Widow
--------------------------
--------------------------
Captain Marvel
Captain Marvel
--------------------------
--------------------------
A Christmas Carol
A Christmas Carol
--------------------------
--------------------------
A Christmas Carol
A Christmas Carol
--------------------------
--------------------------
Earth
Earth
--------------------------
--------------------------
Earth
Earth
--------------------------
--------------------------
Earth
Earth
--------------------------
--------------------------
Houseguest
Houseguest
--------------------------
--------------------------
I'll Be Home for Christmas
I'll Be Home for Christmas
--------------------------
--------------------------
Night Crossing
Night Crossing
--------------------------
--------------------------
The Black Hole
The Black Hole
--------------------------
--------------------------
The Black Hole
The Black Hole
--------------------------
--------------------------
The Black Hole
The Black Hole
--------------------------
--------------------------
The Chronicles of Narnia: The Lion, the Witch and the Wardrobe
The Chronicles of Narnia: The Lion, the Witch and the Wardrobe
--------------------------
--------------------------
The Crew
The Crew
--------------------------
--------------------------
The Crew
The Crew
--------------------------
--------------------------
The Good Mother
The Good Mother
--------------------------
--------------------------
The Jungle Book
The Jungle Book
--------------------------
--------------------------
The Jungle Book
The Jungle Book
--------------------------
--------------------------
The Jungle Book
The Jungle Book
--------------------------
--------------------------
The Kid
The Kid
--------------------------
--------------------------
The Kid
The Kid
--------------------------
--------------------------
The Kid
The Kid
--------------------------
--------------------------
The Lion King
The Lion King
--------------------------
--------------------------
The Lion King
The Lion King
--------------------------
--------------------------
The Little Mermaid
The Little Mermaid
--------------------------
--------------------------
The Little Mermaid
The Little Mermaid
--------------------------
--------------------------
The Lone Ranger
The Lone Ranger
--------------------------
--------------------------
The Lookout
The Lookout
--------------------------
--------------------------
The Program
The Program
--------------------------
--------------------------
The Proposal
The Proposal
--------------------------
--------------------------
The Sixth Sense
The Sixth Sense
--------------------------
--------------------------
The Sorcerer's Apprentice
The Sorcerer's Apprentice
--------------------------
--------------------------
The Three Musketeers
The Three Musketeers
--------------------------
--------------------------
The Three Musketeers
The Three Musketeers
--------------------------
--------------------------
The Village
The Village
--------------------------
--------------------------
The Village
The Village
--------------------------
--------------------------
The War at Home
The War at Home
--------------------------
--------------------------
Red Rock West
Red Rock West
--------------------------
--------------------------
Endurance
Endurance
--------------------------
--------------------------
Mars Needs Moms
Mars Needs Moms
--------------------------

In [302]:
merged_disney_df.loc[merged_disney_df['Title'] == 'The Little Mermaid']

,Title,Year,Rated,Released,Runtime,Genre,Director,Writer,Actors,Language,...,IMDBRating,imdbVotes,imdbID,total_gross,inflation_adjusted_gross,movieId,title,genres,movie_title,year
482,The Little Mermaid,1989,G,17 Nov 1989,83.0,Animation|Adventure|Comedy,"Ron Clements, John Musker","John Musker, Ron Clements, Hans Christian Ande...","Jodi Benson, Samuel E. Wright, Rene Auberjonois","English, French",...,7.6,254101,tt0097757,111543479.0,243749487.0,193537.0,NaN,Animation|Fantasy,NaN,NaN

In [305]:
#We are going to add the Genre to genres column if it is nan or (no genres listed) because we will keep genres 
#column (from MovieLens) and drop Genre column from IMDB.
#The reason is MovieLens genres have longer genres list than IMDB

for i in merged_disney_df.index:
    if str(merged_disney_df['title'][i]) == 'nan' or str(merged_disney_df['genres'][i]) =='(no genres listed)':
        print("List of Movies that IMDB Genre nan will be replaced by MovieLens genres")
        print(merged_disney_df['Title'][i])
        print(merged_disney_df['Genre'][i])
        print(merged_disney_df['genres'][i])
        merged_disney_df['genres'][i] = merged_disney_df['Genre'][i]
        print("--------------------------")
        
    elif len(merged_disney_df['Genre'][i]) > len(merged_disney_df['genres'][i]):
        print(merged_disney_df['Genre'][i])
        print(merged_disney_df['genres'][i])
        merged_disney_df['genres'][i] = merged_disney_df['Genre'][i]
        print("--------------------------")

Adventure|Comedy|Family
Children|Comedy
--------------------------
Adventure|Biography|Drama
Adventure|Drama
--------------------------
Comedy|Drama|Family
Comedy
--------------------------
Comedy|Drama|Family
Comedy|Romance
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
A Bug's Life
Animation|Adventure|Comedy
Animation|Adventure|Comedy
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
A Civil Action
Drama
Drama
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
A Far Off Place
Adventure|Drama|Family
Adventure|Drama|Family
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
A Goofy Movie
Animation|Adventure|Comedy
Animation|Adventure|Comedy
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Gun in Betty Lou's Handbag
Comedy|Mystery
Comedy|Mystery
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
A Kid in King Arthur's Court
Adventure|Comedy|Family
Adventure|Comedy|Family
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
A Lot Like Love
Comedy|Drama|Romance
Comedy|Drama|Romance
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
A Low Down Dirty Shame
Action|Comedy|Crime
Action|Comedy|Crime
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
A Pyromaniac's Love Story
Comedy|Romance
Comedy|Romance
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
A Simple Twist of Fate
Comedy|Drama
Comedy|Drama
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
A Stranger Among Us
Crime|Drama|Romance
Crime|Drama|Romance
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
A Thousand Acres
Drama
Drama
--------------------------
Adventure|Comedy|Crime
Adventure|Comedy
--------------------------
Comedy|Drama|Family
Children|Comedy
--------------------------
Comedy|Drama|Family
Comedy
--------------------------
Adventure|Family|Fantasy
Adventure|Fantasy|IMAX
--------------------------
Documentary|Family
Documentary|IMAX
--------------------------
Biography|Drama|Thriller
Drama
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Amy
Drama|Family
Drama|Family
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
An American Werewolf in Paris
Comedy|Fantasy|Horror
Comedy|Fantasy|Horror
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
An Innocent Man
Action|Crime|Drama
Action|Crime|Drama
--------------------------
Comedy|Family|Fantasy
Children|Comedy
--------------------------
Drama|Romance|Sport
Drama
--------------------------
Comedy|Horror|Thriller
Comedy|Horror
--------------------------
Drama|Romance|Sport
Action
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Avengers: Endgame
Action|Adventure|Drama
Action|Adventure|Drama
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Avengers: Infinity War
Action|Adventure|Sci-Fi
Action|Adventure|Sci-Fi
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Baby: Secret of the Lost Legend
Adventure|Family|Sci-Fi
Adventure|Family|Sci-Fi
--------------------------
Crime|Drama|Thriller
Action|Crime|Drama
--------------------------
Crime|Drama|Thriller
Action|Crime|Drama
--------------------------
Documentary|Family
Documentary
--------------------------
Crime|Drama|Mystery
Drama|Mystery
--------------------------
Drama|History|Horror
Drama
--------------------------
Comedy|Romance
Comedy
--------------------------
Animation|Action|Adventure
Action|Animation|Comedy
--------------------------
Comedy|Crime|Thriller
Comedy|Crime
--------------------------
Crime|Drama|Thriller
Crime|Drama
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Black Panther
Action|Adventure|Sci-Fi
Action|Adventure|Sci-Fi
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Black Widow
Action|Adventure|Sci-Fi
Action|Adventure|Sci-Fi
--------------------------
Comedy|Family|Fantasy
Children|Comedy
--------------------------
Comedy|Crime|Family
Children|Comedy
--------------------------
Biography|Comedy|Drama
Comedy|Drama
--------------------------
Adventure|Comedy|Drama
Children|Comedy
--------------------------
Drama|Mystery|Romance
Drama
--------------------------
Drama|History|Thriller
Drama|Thriller
--------------------------
Adventure|Comedy|Romance
Comedy
--------------------------
Adventure|Comedy|Romance
Comedy
--------------------------
Comedy|Drama
Comedy
--------------------------
Comedy|Drama|Romance
Comedy|Romance
--------------------------
Action|Adventure|Sci-Fi
Action|Sci-Fi|Thriller
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Captain Marvel
Action|Adventure|Sci-Fi
Action|Adventure|Sci-Fi
--------------------------
Animation|Adventure|Comedy
Animation|Children|Comedy
--------------------------
Adventure|Comedy|Drama
Comedy|Drama|Romance
--------------------------
Comedy|Sport
Comedy
--------------------------
Adventure|Drama|Family
Adventure|Children
--------------------------
Documentary|Family
Documentary
--------------------------
Comedy|Drama|Romance
Drama|Romance
--------------------------
Drama|Mystery|Thriller
Drama|Thriller
--------------------------
Adventure|Comedy|Drama
Comedy
--------------------------
Drama|Mystery|Romance
Drama|Thriller
--------------------------
Comedy|Family|Music
Comedy
--------------------------
Crime|Drama|Mystery
Thriller
--------------------------
Adventure|Comedy|Family
Comedy
--------------------------
Action|Drama|Thriller
Drama|Thriller|War
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Cruella
Adventure|Comedy|Crime
Adventure|Comedy|Crime
--------------------------
Comedy|Drama|Family
Children|Comedy
--------------------------
Action|Comedy|Drama
Children|Comedy
--------------------------
Biography|Drama
Drama
--------------------------
Comedy|Drama
Drama
--------------------------
Crime|Drama|Mystery
Thriller
--------------------------
Action|Adventure|Horror
Action|Horror|Sci-Fi
--------------------------
Comedy|Drama
Comedy
--------------------------
Comedy|Romance
Comedy
--------------------------
Action|Comedy|Crime
Action|Crime
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
A Christmas Carol
Animation|Adventure|Comedy
Animation|Adventure|Comedy
--------------------------
Action|Comedy|Crime
Action|Comedy
--------------------------
Action|Adventure|Fantasy
Action|Adventure|Sci-Fi
--------------------------
Action|Comedy|Crime
Action|Comedy
--------------------------
Animation|Adventure|Comedy
Animation|Children
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
DuckTales the Movie: Treasure of the Lost Lamp
Animation|Adventure|Comedy
Animation|Adventure|Comedy
--------------------------
Comedy|Drama|Music
Comedy|Drama
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Ultimate X: The Movie
Documentary|Sport
Documentary|Sport
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Earth
Short|History
Short|History
--------------------------
Biography|Comedy|Drama
Comedy|Drama
--------------------------
Comedy|Sport
Comedy
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Encanto
Animation|Comedy|Family
Animation|Comedy|Family
--------------------------
Comedy|Family
Comedy
--------------------------
Comedy|Crime|Family
Comedy
--------------------------
Comedy|Family|Fantasy
Children|Comedy
--------------------------
Comedy|Family|Fantasy
Comedy
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Eternals
Action|Adventure|Fantasy
Action|Adventure|Fantasy
--------------------------
Biography|Drama|History
Drama|Musical
--------------------------
Adventure|Comedy|Crime
Comedy
--------------------------
Comedy|Family|Romance
Comedy
--------------------------
Comedy|Family|Romance
Comedy
--------------------------
Crime|Drama|Mystery
Drama
--------------------------
Drama|Mystery|Thriller
Action|Drama|Thriller
--------------------------
Action|Drama|War
Action|Drama
--------------------------
Action|Adventure|Comedy
Children|Comedy
--------------------------
Documentary|Family
Documentary|IMAX
--------------------------
Biography|Drama|Sport
Drama
--------------------------
Comedy|Crime
Comedy
--------------------------
Action|Crime|Thriller
Action|Crime
--------------------------
Biography|Comedy|Drama
Comedy|Drama|War
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Guardians of the Galaxy Vol 2
Action|Adventure|Comedy
Action|Adventure|Comedy
--------------------------
Comedy|Crime|Romance
Comedy
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Hannah Montana and Miley Cyrus: Best of Both Worlds Concert
Documentary|Music
Documentary|Music
--------------------------
Drama|Sport
Drama
--------------------------
Comedy|Musical|Romance
Comedy
--------------------------
Comedy|Drama|Family
Children|Comedy
--------------------------
Comedy|Drama|Fantasy
Comedy
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Herbie Fully Loaded
Adventure|Comedy|Family
Adventure|Comedy|Family
--------------------------
Action|Adventure|Biography
Adventure|Drama
--------------------------
Comedy|Drama|Family
Musical
--------------------------
Comedy|Drama
Comedy
--------------------------
Adventure|Comedy|Family
Adventure|Children
--------------------------
Adventure|Comedy|Family
Children|Comedy|Sci-Fi
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Houseguest
Comedy
Comedy
--------------------------
Action|Comedy|Romance
Action|Comedy
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
I'll Be Home for Christmas
Comedy|Family
Comedy|Family
--------------------------
Comedy|Drama|Romance
Comedy|Drama
--------------------------
Action|Comedy|Crime
Comedy|Horror
--------------------------
Biography|Drama|Sport
Drama
--------------------------
Adventure|Family
Adventure
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
It's Pat: The Movie
Comedy
Comedy
--------------------------
Comedy|Drama|Fantasy
Comedy|Drama
--------------------------
Biography|Drama|History
Drama
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Jonas Brothers: The 3D Concert Experience
Documentary|Music
Documentary|Music
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Jungle 2 Jungle
Comedy|Family
Comedy|Family
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Jungle Cruise
Action|Adventure|Comedy
Action|Adventure|Comedy
--------------------------
Adventure|Comedy|Fantasy
Comedy|Fantasy
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Wind Rises
Animation|Biography|Drama
Animation|Biography|Drama
--------------------------
Biography|Drama|History
Drama
--------------------------
Drama|Thriller
Drama
--------------------------
Comedy|Family
Comedy
--------------------------
Biography|Drama|History
Drama|War
--------------------------
Comedy|Drama|Romance
Drama|Romance
--------------------------
Adventure|Family|Fantasy
Fantasy
--------------------------
Comedy|Family
Comedy
--------------------------
Adventure|Comedy|Family
Children|Fantasy
--------------------------
Comedy|Crime|Family
Children|Comedy
--------------------------
Biography|Drama|Sport
Drama
--------------------------
Adventure|Drama|Romance
Adventure|Romance
--------------------------
Comedy|Romance
Comedy
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Million Dollar Arm
Biography|Drama|Sport
Biography|Drama|Sport
--------------------------
Biography|Drama|History
Drama
--------------------------
Adventure|Sci-Fi|Thriller
Sci-Fi
--------------------------
Comedy|Crime|Drama
Comedy|Crime
--------------------------
Documentary|Sport
Documentary
--------------------------
Comedy|Fantasy|Horror
Comedy
--------------------------
Comedy|Family|Sci-Fi
Comedy|Sci-Fi
--------------------------
Action|Adventure|Comedy
Adventure|Sci-Fi
--------------------------
Comedy|Drama|Sport
Comedy|Drama
--------------------------
Action|Adventure|Mystery
Action|Adventure
--------------------------
Comedy|Drama|Romance
Comedy|Drama
--------------------------
Drama|Family|History
Children|Musical
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Night Crossing
Drama|Family|History
Drama|Family|History
--------------------------
Biography|Drama|History
Drama
--------------------------
Comedy|Crime|Romance
Comedy|Romance
--------------------------
Comedy|Family
Comedy
--------------------------
Family|Fantasy
Drama|Fantasy
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Onward
Animation|Adventure|Comedy
Animation|Adventure|Comedy
--------------------------
Action|Drama|Romance
Western
--------------------------
Comedy|Sport
Comedy
--------------------------
Comedy|Drama
Drama
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Peter Pan 2: Return to Never Land
Animation|Adventure|Family
Animation|Adventure|Family
--------------------------
Drama|Fantasy|Romance
Drama|Romance
--------------------------
Animation|Adventure|Comedy
Animation|Children
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Play It to the Bone
Comedy|Drama|Sport
Comedy|Drama|Sport
--------------------------
Animation|Adventure|Comedy
Animation|Children
--------------------------
Drama|Fantasy|Mystery
Drama|Sci-Fi
--------------------------
Biography|Drama|Romance
Drama
--------------------------
Action|Adventure|Drama
Horror|Thriller
--------------------------
Comedy|Drama|Family
Comedy|Drama
--------------------------
Biography|Drama|Sport
Drama
--------------------------
Biography|Drama|History
Drama
--------------------------
Animation|Adventure|Comedy
Animation|Children
--------------------------
Action|Crime|Thriller
Crime|Thriller
--------------------------
Animation|Adventure|Comedy
Animation|Children|Drama
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Raya and the Last Dragon
Animation|Action|Adventure
Animation|Action|Adventure
--------------------------
Animation|Adventure|Comedy
Animation|Children
--------------------------
Biography|Drama|Sport
Drama
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Roving Mars
Documentary|Short
Documentary|Short
--------------------------
Biography|Drama|Sport
Drama
--------------------------
Comedy|Drama|Romance
Comedy|Drama
--------------------------
Comedy|Crime
Comedy
--------------------------
Drama|Musical
Drama
--------------------------
Biography|Drama|Family
Adventure|Drama
--------------------------
Action|Thriller
Thriller
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Shang-Chi and the Legend of the Ten Rings
Action|Adventure|Fantasy
Action|Adventure|Fantasy
--------------------------
Action|Adventure|Crime
Action|Adventure
--------------------------
Comedy|Drama|Family
Drama
--------------------------
Comedy|Family|Music
Comedy|Crime
--------------------------
Comedy|Family|Music
Comedy
--------------------------
Action|Comedy
Comedy
--------------------------
Adventure|Biography|Drama
Adventure|Drama
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Star Wars: Episode VIII - The Last Jedi
Action|Adventure|Fantasy
Action|Adventure|Fantasy
--------------------------
Drama|Romance
Drama
--------------------------
Crime|Drama|Music
Drama|Romance
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Step Up 2: The Streets
Drama|Music|Romance
Drama|Music|Romance
--------------------------
Comedy|Drama|Sport
Comedy
--------------------------
Comedy|Drama|Romance
Comedy
--------------------------
Crime|Drama|Romance
Drama
--------------------------
Drama|Music
Drama|War
--------------------------
Animation|Adventure|Comedy
Animation|Children
--------------------------
Comedy|Drama|Romance
Comedy|Romance
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The 13th Warrior
Action|Adventure|History
Action|Adventure|History
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Absent Minded Professor
Comedy|Family|Sci-Fi
Comedy|Family|Sci-Fi
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Adventures of Huck Finn
Adventure|Comedy|Drama
Adventure|Comedy|Drama
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Air Up There
Comedy|Family|Sport
Comedy|Family|Sport
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Apple Dumpling Gang
Comedy|Family|Western
Comedy|Family|Western
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Aristocats
Animation|Adventure|Comedy
Animation|Adventure|Comedy
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Associate
Comedy
Comedy
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Avengers
Action|Adventure|Sci-Fi
Action|Adventure|Sci-Fi
--------------------------
Adventure|Family|Fantasy
Children|Fantasy
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Big Green
Comedy|Family|Sport
Comedy|Family|Sport
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Black Cauldron
Animation|Action|Adventure
Animation|Action|Adventure
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Black Hole
Action|Sci-Fi
Action|Sci-Fi
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Cemetery Club
Comedy
Comedy
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Chronicles of Narnia: Prince Caspian
Action|Adventure|Family
Action|Adventure|Family
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Chronicles of Narnia: The Lion, the Witch and the Wardrobe
Adventure|Family|Fantasy
Adventure|Family|Fantasy
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Color of Money
Drama|Sport
Drama|Sport
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres

/Users/vuvie/opt/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/Users/vuvie/opt/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()

List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Great Mouse Detective
Animation|Adventure|Family
Animation|Adventure|Family
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Greatest Game Ever Played
Biography|Drama|Sport
Biography|Drama|Sport
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Guardian
Action|Adventure|Drama
Action|Adventure|Drama
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Hand that Rocks the Cradle
Drama|Thriller
Drama|Thriller
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Haunted Mansion
Comedy|Family|Fantasy
Comedy|Family|Fantasy
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Help
Drama
Drama
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Hitchhiker's Guide to the Galaxy
Adventure|Comedy|Sci-Fi
Adventure|Comedy|Sci-Fi
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Hoax
Thriller
Thriller
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Horse Whisperer
Drama|Romance|Western
Drama|Romance|Western
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Hot Chick
Comedy|Fantasy
Comedy|Fantasy
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Hunchback of Notre Dame
Animation|Drama|Family
Animation|Drama|Family
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Incredibles
Animation|Action|Adventure
Animation|Action|Adventure
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Inkwell
Comedy|Drama|Romance
Comedy|Drama|Romance
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Insider
Biography|Drama|Thriller
Biography|Drama|Thriller
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Invisible
Crime|Drama|Fantasy
Crime|Drama|Fantasy
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Jerky Boys
Comedy|Crime
Comedy|Crime
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Journey of Natty Gann
Adventure|Family
Adventure|Family
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Joy Luck Club
Drama
Drama
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Jungle Book
Animation|Adventure|Comedy
Animation|Adventure|Comedy
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Jungle Book
Animation|Adventure|Comedy
Animation|Adventure|Comedy
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Jungle Book
Animation|Adventure|Comedy
Animation|Adventure|Comedy
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Kid
Comedy|Family|Fantasy
Comedy|Family|Fantasy
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Ladykillers
Comedy|Crime|Thriller
Comedy|Crime|Thriller
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Last Flight of Noah's Ark
Adventure|Family
Adventure|Family
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Last Shot
Comedy|Romance
Comedy|Romance
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Last Song
Drama|Music|Romance
Drama|Music|Romance
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Life Aquatic with Steve Zissou
Action|Adventure|Comedy
Action|Adventure|Comedy
--------------------------
Drama|Romance
Drama
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Lion King
Animation|Adventure|Drama
Animation|Adventure|Drama
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Lion King
Animation|Adventure|Drama
Animation|Adventure|Drama
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Little Mermaid
Animation|Adventure|Comedy
Animation|Adventure|Comedy
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Lizzie McGuire Movie
Adventure|Comedy|Family
Adventure|Comedy|Family
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Lone Ranger
Action|Adventure|Western
Action|Adventure|Western
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Lookout
Crime|Drama|Thriller
Crime|Drama|Thriller
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Many Adventures of Winnie the Pooh
Animation|Adventure|Comedy
Animation|Adventure|Comedy
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Marrying Man
Comedy|Music|Romance
Comedy|Music|Romance
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Mighty Ducks
Comedy|Drama|Family
Comedy|Drama|Family
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Muppet Christmas Carol
Comedy|Drama|Family
Comedy|Drama|Family
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Muppets
Adventure|Comedy|Family
Adventure|Comedy|Family
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Nightmare Before Christmas
Animation|Family|Fantasy
Animation|Family|Fantasy
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Nightmare Before Christmas
Animation|Family|Fantasy
Animation|Family|Fantasy
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Odd Life of Timothy Green
Comedy|Drama|Family
Comedy|Drama|Family
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Other Sister
Comedy|Drama|Romance
Comedy|Drama|Romance
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Pacifier
Action|Comedy|Drama
Action|Comedy|Drama
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Parent Trap
Adventure|Comedy|Drama
Adventure|Comedy|Drama
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Preacher's Wife
Comedy|Drama|Fantasy
Comedy|Drama|Fantasy
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Prestige
Drama|Mystery|Thriller
Drama|Mystery|Thriller
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Princess Diaries
Comedy|Family|Romance
Comedy|Family|Romance
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Princess Diaries 2: Royal Engagement
Comedy|Family|Romance
Comedy|Family|Romance
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Princess and the Frog
Animation|Adventure|Comedy
Animation|Adventure|Comedy
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Program
Action|Drama|Romance
Action|Drama|Romance
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Proposal
Comedy|Drama|Romance
Comedy|Drama|Romance
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Puppet Masters
Horror|Sci-Fi|Thriller
Horror|Sci-Fi|Thriller
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Recruit
Action|Thriller
Action|Thriller
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Ref
Comedy|Crime|Drama
Comedy|Crime|Drama
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Rescuers
Animation|Adventure|Comedy
Animation|Adventure|Comedy
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Rescuers Down Under
Animation|Adventure|Comedy
Animation|Adventure|Comedy
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Rich Man's Wife
Thriller
Thriller
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Rock
Action|Adventure|Thriller
Action|Adventure|Thriller
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Rocketeer
Action|Adventure|Family
Action|Adventure|Family
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Rookie
Drama|Family|Sport
Drama|Family|Sport
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Royal Tenenbaums
Comedy|Drama
Comedy|Drama
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Santa Clause
Comedy|Drama|Family
Comedy|Drama|Family
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Santa Clause 2
Comedy|Family|Fantasy
Comedy|Family|Fantasy
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Santa Clause 3: The Escape Clause
Adventure|Comedy|Family
Adventure|Comedy|Family
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Scarlet Letter
Drama|Romance
Drama|Romance
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Shaggy Dog
Comedy|Family|Fantasy
Comedy|Family|Fantasy
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Sixth Man
Comedy|Drama|Fantasy
Comedy|Drama|Fantasy
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Sixth Sense
Drama|Mystery|Thriller
Drama|Mystery|Thriller
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Sorcerer's Apprentice
Action|Adventure|Family
Action|Adventure|Family
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Straight Story
Biography|Drama
Biography|Drama
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Sword in the Stone
Animation|Adventure|Comedy
Animation|Adventure|Comedy
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Three Musketeers
Action|Adventure|Comedy
Action|Adventure|Comedy
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Tie That Binds
Crime|Drama|Thriller
Crime|Drama|Thriller
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Tigger Movie
Animation|Adventure|Comedy
Animation|Adventure|Comedy
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Village
Drama|Mystery|Thriller
Drama|Mystery|Thriller
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The War at Home
Drama
Drama
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Waterboy
Comedy|Sport
Comedy|Sport
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Wild
Animation|Adventure|Comedy
Animation|Adventure|Comedy
--------------------------
Adventure|Comedy|Drama
Adventure|Children
--------------------------
Action|Biography|Drama
Action|Drama|Western
--------------------------
Comedy|Crime
Comedy
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
TRON
Action|Adventure|Sci-Fi
Action|Adventure|Sci-Fi
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
TRON: Legacy
Action|Adventure|Sci-Fi
Action|Adventure|Sci-Fi
--------------------------
Drama|Family|Fantasy
Drama|Fantasy
--------------------------
Comedy|Crime|Drama
Comedy|Crime
--------------------------
Drama|Mystery|Sci-Fi
Drama|Sci-Fi
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Up Close & Personal
Drama|Romance
Drama|Romance
--------------------------
Biography|Crime|Drama
Crime|Drama|Thriller
--------------------------
Action|Adventure|Drama
Drama|War
--------------------------
Drama|Romance
Drama
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
What's Love Got to Do with It
Biography|Drama|Music
Biography|Drama|Music
--------------------------
Comedy|Drama|Romance
Comedy|Romance
--------------------------
Adventure|Drama
Adventure
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Who Framed Roger Rabbit
Animation|Adventure|Comedy
Animation|Adventure|Comedy
--------------------------
Drama|Family|Romance
Drama|Romance
--------------------------
Action|Adventure|Comedy
Adventure|Comedy
--------------------------
Animation|Adventure|Comedy
Animation|Children|Comedy
--------------------------
Animation|Adventure|Comedy
Animation|Comedy
--------------------------
Documentary|Sport
Documentary
--------------------------
Comedy|Romance
Comedy
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Young Black Stallion
Adventure|Family|Drama
Adventure|Family|Drama
--------------------------
Action|Adventure|Family
Sci-Fi
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Mafia!
Comedy|Crime
Comedy|Crime
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Star Wars: Episode IX - The Rise of Skywalker
Action|Adventure|Fantasy
Action|Adventure|Fantasy
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
An Alan Smithee Film: Burn Hollywood Burn
Comedy
Comedy
--------------------------
Adventure|Drama|Sport
Action|Drama
--------------------------
Drama|Romance|Sport
Drama
--------------------------
Biography|Drama|History
Drama
--------------------------
Comedy|Drama|Romance
Comedy|Drama
--------------------------
Comedy|Fantasy|Romance
Comedy|Fantasy
--------------------------
Drama|Music
Drama
--------------------------
Adventure|Comedy|Family
Comedy
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Red Rock West
Crime|Drama|Thriller
Crime|Drama|Thriller
--------------------------
Biography|Comedy|Drama
Comedy|Drama
--------------------------
Action|Adventure|Fantasy
Action|Adventure|Sci-Fi
--------------------------
Documentary|Drama|History
Animation|Documentary
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Endurance
Biography|Drama|Sport
Biography|Drama|Sport
--------------------------
Drama|Romance
Drama
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Mars Needs Moms
Animation|Action|Adventure
Animation|Action|Adventure
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Jungle Book 2
Animation|Adventure|Comedy
Animation|Adventure|Comedy
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Secret World of Arrietty
Animation|Adventure|Drama
Animation|Adventure|Drama
--------------------------

In [306]:
#This first test list is ready for ML K-means Clustering

merged_disney_df.to_csv (r'output/ML_ready.csv', index = None, header=True)

In [252]:
# #make a running number for column test
# ml_df['test'] = np.arange(len(ml_df))

# #add constant string in front of the running number for Primary Key
# ml_df['test'] = 'wc-00000' + ml_df['test'].astype(str)

# ml_df.head()

,movieId,title,genres,movie_title,year,test
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,Toy Story,1995,wc-000000
1,2,Jumanji (1995),Adventure|Children|Fantasy,Jumanji,1995,wc-000001
2,3,Grumpier Old Men (1995),Comedy|Romance,Grumpier Old Men,1995,wc-000002
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,Waiting to Exhale,1995,wc-000003
4,5,Father of the Bride Part II (1995),Comedy,Father of the Bride Part II,1995,wc-000004

In [203]:
# #Merge the IMDB complete dataset and MovieLens dataset on movie_title ONLY
# merged_disney_df =pd.merge(complete_df, ml_df, how='left', left_on=['Title'], right_on=['movie_title'])
# merged_disney_df.head()

In [204]:
merged_disney_df.loc[merged_disney_df['movieId'].isna()]

,Title,Year,Rated,Released,Runtime,Genre,Director,Writer,Actors,Language,...,IMDBRating,imdbVotes,imdbID,total_gross,inflation_adjusted_gross,movieId,title,genres,movie_title,year
11,A Bug's Life,1998,G,25 Nov 1998,95.0,Animation| Adventure| Comedy,"John Lasseter, Andrew Stanton","John Lasseter, Andrew Stanton, Joe Ranft","Kevin Spacey, Dave Foley, Julia Louis-Dreyfus",English,...,7.2,284819,tt0120623,162798565.0,270635135.0,NaN,NaN,Animation| Adventure| Comedy,NaN,NaN
12,A Civil Action,1998,PG-13,08 Jan 1999,115.0,Drama,Steven Zaillian,"Jonathan Harr, Steven Zaillian","John Travolta, Robert Duvall, Kathleen Quinlan",English,...,6.6,28711,tt0120633,56709981.0,94274254.0,NaN,NaN,Drama,NaN,NaN
13,A Far Off Place,1993,PG,12 Mar 1993,108.0,Adventure| Drama| Family,Mikael Salomon,"Lourens van der Post, Robert Caswell, Jonathan...","Reese Witherspoon, Ethan Embry, Jack Thompson",English,...,6.5,3556,tt0106868,12890752.0,24173059.0,NaN,NaN,Adventure| Drama| Family,NaN,NaN
14,A Goofy Movie,1995,G,07 Apr 1995,78.0,Animation| Adventure| Comedy,Kevin Lima,"Jymn Magon, Chris Matheson, Brian Pimental","Bill Farmer, Jason Marsden, Jim Cummings",English,...,6.9,52129,tt0113198,35336439.0,62828837.0,NaN,NaN,Animation| Adventure| Comedy,NaN,NaN
15,The Gun in Betty Lou's Handbag,1992,PG-13,21 Aug 1992,89.0,Comedy| Mystery,Allan Moyle,Grace Cary Bickley,"Penelope Ann Miller, Eric Thal, Alfre Woodard",English,...,5.1,1683,tt0104376,3591460.0,6936407.0,NaN,NaN,Comedy| Mystery,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
605,Red Rock West,1993,R,14 May 1993,98.0,Crime| Drama| Thriller,John Dahl,"John Dahl, Rick Dahl","Nicolas Cage, Dennis Hopper, Lara Flynn Boyle",English,...,7.0,22020,tt0105226,2502551.0,4575683.0,NaN,NaN,Crime| Drama| Thriller,NaN,NaN
612,Endurance,1998,G,14 May 1999,83.0,Biography| Drama| Sport,"Leslie Woodhead, Bud Greenspan",NaN,"Haile Gebrselassie, Shawananness Gebrselassie,...",English,...,6.3,419,tt0120659,229128.0,372669.0,NaN,NaN,Biography| Drama| Sport,NaN,NaN
614,Mars Needs Moms,2010,PG,11 Mar 2011,88.0,Animation| Action| Adventure,Simon Wells,"Simon Wells, Wendy Wells, Berkeley Breathed","Seth Green, Joan Cusack, Dan Fogler",English,...,5.4,22234,tt1305591,21392758.0,25770522.0,NaN,NaN,Animation| Action| Adventure,NaN,NaN
615,The Jungle Book 2,2002,G,14 Feb 2003,72.0,Animation| Adventure| Comedy,Steve Trenbirth,"Karl Geurs, Carter Crocker, Evan Spiliotopoulos","John Goodman, Haley Joel Osment, Tony Jay",English,...,5.4,16161,tt0283426,47901582.0,70542889.0,NaN,NaN,Animation| Adventure| Comedy,NaN,NaN
616,The Secret World of Arrietty,2010,G,17 Feb 2012,94.0,Animation| Adventure| Drama,Hiromasa Yonebayashi,"Mary Norton, Hayao Miyazaki, Keiko Niwa","Amy Poehler, Will Arnett, Mirai Shida",Japanese,...,7.6,89613,tt1568921,19192510.0,22651264.0,NaN,NaN,Animation| Adventure| Drama,NaN,NaN

In [105]:
# #check some titles
# merged_disney_df[merged_disney_df.Title.str.startswith('WAL')]

,Title,Year,Rated,Released,Runtime,Genre,Director,Writer,Actors,Language,...,IMDBRating,imdbVotes,imdbID,total_gross,inflation_adjusted_gross,movieId,title,genres,movie_title,year
588,WALL·E,2008,G,27 Jun 2008,98.0,"Animation, Adventure, Family",Andrew Stanton,"Andrew Stanton, Pete Docter, Jim Reardon","Ben Burtt, Elissa Knight, Jeff Garlin","English, Hindi",...,8.4,1076317,tt0910970,223808164.0,281674190.0,60069.0,WALL·E (2008),Adventure|Animation|Children|Romance|Sci-Fi,WALL·E,2008.0

In [103]:
# #check some titles
# ml_df[ml_df.title.str.startswith('WAL')]

,movieId,title,genres,movie_title,year
12429,60069,WALL·E (2008),Adventure|Animation|Children|Romance|Sci-Fi,WALL·E,2008

In [7]:
#check some titles
ml_df[ml_df.title.str.startswith('Déjà')]

       movieId                     title                  genres
2085      2175            Déjà Vu (1997)           Drama|Romance
11210    49278  Déjà Vu (Deja Vu) (2006)  Action|Sci-Fi|Thriller
44232   167788            Déjà vu (1989)                  Comedy
54141   188899            Déjà Vu (1987)            Drama|Horror

### Load MovieLens Ratings dataset

In [12]:
#load Movie Lens ratings dataset
ml_ratings_df = pd.read_csv('input/ratings.csv')
ml_ratings_df.head()

   userId  movieId  rating   timestamp
0       1      296     5.0  1147880044
1       1      306     3.5  1147868817
2       1      307     5.0  1147868828
3       1      665     5.0  1147878820
4       1      899     3.5  1147868510

In [18]:
# ml_ratings_df.loc[ml_ratings_df['movieId'] == 49278]

          userId  movieId  rating   timestamp
0              1    49278     5.0  1147880044
1              1    49278     3.5  1147868817
2              1    49278     5.0  1147868828
3              1    49278     5.0  1147878820
4              1    49278     3.5  1147868510
...          ...      ...     ...         ...
25000090  162541    49278     4.5  1240953372
25000091  162541    49278     2.5  1240951998
25000092  162541    49278     2.0  1240950697
25000093  162541    49278     4.0  1240953434
25000094  162541    49278     5.0  1240952515

[25000095 rows x 4 columns]

In [183]:
# ml_ratings_df[ml_ratings_df.movieId.str.startswith('49278')]