In [225]:
import pandas as pd
import numpy as np
import re

## We want to unify the MovieLens movieId and IMDBid for our database

### Load Completed IMDB movie dataset from 1_Resolve_IMDB_Disney_Movie_Title

In [226]:
#Load the complete IMDB dataset
complete_df = pd.read_csv('output/complete_Disney_movie.csv')
complete_df['Year'] = complete_df['Year'].str.split('–', 1).str[0]
complete_df['Genre'] = complete_df['Genre'].str.replace(',', '|')
complete_df.head()

,Title,Year,Rated,Released,Runtime,Genre,Director,Writer,Actors,Language,Country,Awards,Metascore,IMDBRating,imdbVotes,imdbID,total_gross,inflation_adjusted_gross
0,101 Dalmatians,1996,G,27 Nov 1996,103.0,Adventure| Comedy| Crime,Stephen Herek,"Dodie Smith, John Hughes","Glenn Close, Jeff Daniels, Joely Richardson","English, Spanish","United States, United Kingdom",Nominated for 1 BAFTA Film Award3 wins & 10 no...,49.0,5.7,109762,tt0115433,153000000.0,1.386569e+09
1,101 Dalmatians,1996,G,27 Nov 1996,103.0,Adventure| Comedy| Crime,Stephen Herek,"Dodie Smith, John Hughes","Glenn Close, Jeff Daniels, Joely Richardson","English, Spanish","United States, United Kingdom",Nominated for 1 BAFTA Film Award3 wins & 10 no...,49.0,5.7,109762,tt0115433,136189294.0,2.352021e+08
2,102 Dalmatians,2000,G,22 Nov 2000,100.0,Adventure| Comedy| Family,Kevin Lima,"Dodie Smith, Kristen Buckley, Brian Regan","Glenn Close, Gérard Depardieu, Ioan Gruffudd",English,"United States, United Kingdom",Nominated for 1 Oscar. 1 win & 8 nominations t...,35.0,4.9,37045,tt0211181,66941559.0,1.053377e+08
3,1492: Conquest of Paradise,1992,PG-13,09 Oct 1992,154.0,Adventure| Biography| Drama,Ridley Scott,Rose Bosch,"Gérard Depardieu, Armand Assante, Sigourney We...","English, Spanish, Latin, Arabic","United Kingdom, France, Spain",2 nominations,47.0,6.4,29990,tt0103594,7099531.0,1.371176e+07
4,"20,000 Leagues Under the Sea",1954,G,20 Jul 1955,127.0,Adventure| Drama| Family,Richard Fleischer,"Earl Felton, Jules Verne","Kirk Douglas, James Mason, Paul Lukas",English,United States,Won 2 Oscars. 5 wins & 3 nominations total,83.0,7.2,33152,tt0046672,28200000.0,2.840652e+08

In [227]:
complete_df['Year'] = complete_df['Year'].astype(int)

### Load MovieLens movies dataset

In [228]:
#load Movie Lens movies dataset
ml_df = pd.read_csv('input/movies.csv')
ml_df.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [229]:
#ml_df['title'] = ml_df['title'].str.replace('.','')
ml_df['movie_title'] = ml_df['title'].str.split(' \(', 1).str[0]
ml_df['movie_title'] = ml_df['movie_title'].str.replace('.','')
ml_df['year'] = ml_df['title'].str.extract('(\(\d{4}\)$)')
ml_df['year'] = ml_df['year'].str.replace('\)','')
ml_df['year'] = ml_df['year'].str.replace('\(','')

In [230]:
#Can't parse year to int as there are some null values
ml_df[ml_df['year'].isnull()]

,movieId,title,genres,movie_title,year
8463,25936,"Babe Ruth Story, The (1948)",Drama,"Babe Ruth Story, The",NaN
8602,26137,"Heroes of Telemark, The (1965)",Action|Drama|War,"Heroes of Telemark, The",NaN
8910,26628,Jack's Back (1988),Crime|Horror|Mystery|Thriller,Jack's Back,NaN
9120,27189,After the Rain (Ame agaru) (1999),Action|Drama,After the Rain,NaN
9763,32497,Love Letter (1995),Drama|Romance,Love Letter,NaN
...,...,...,...,...,...
62071,207714,Tales of Found Footage,(no genres listed),Tales of Found Footage,NaN
62104,207884,Enduring Destiny,(no genres listed),Enduring Destiny,NaN
62285,208597,Punk the Capital: Building a Sound Movement,Documentary,Punk the Capital: Building a Sound Movement,NaN
62326,208763,Yosemite: The Fate of Heaven,(no genres listed),Yosemite: The Fate of Heaven,NaN
62380,208973,The Falklands War: The Untold Story,(no genres listed),The Falklands War: The Untold Story,NaN

In [231]:
ml_df[ml_df.movie_title.str.startswith('101 Dalmatians')]

,movieId,title,genres,movie_title,year
1331,1367,101 Dalmatians (1996),Adventure|Children|Comedy,101 Dalmatians,1996
1996,2085,101 Dalmatians (One Hundred and One Dalmatians...,Adventure|Animation|Children,101 Dalmatians,1961
24273,121099,101 Dalmatians II: Patch's London Adventure (2...,Animation|Children,101 Dalmatians II: Patch's London Adventure,2003

In [232]:
#Fill Null year with -1
ml_df['year'].fillna("-1", inplace = True
                    )
#Parse year as int
ml_df['year'] = ml_df['year'].astype(int)

In [233]:
#genres na?
ml_df.loc[ml_df['genres'].isna()]

Empty DataFrame
Columns: [movieId, title, genres, movie_title, year]
Index: []

In [234]:
#Merge the IMDB complete dataset and MovieLens dataset on movie_title & year ONLY
merged_disney_df =pd.merge(complete_df, ml_df, how='left', left_on=['Title', 'Year'], right_on=['movie_title', 'year'])
merged_disney_df.head()

,Title,Year,Rated,Released,Runtime,Genre,Director,Writer,Actors,Language,...,IMDBRating,imdbVotes,imdbID,total_gross,inflation_adjusted_gross,movieId,title,genres,movie_title,year
0,101 Dalmatians,1996,G,27 Nov 1996,103.0,Adventure| Comedy| Crime,Stephen Herek,"Dodie Smith, John Hughes","Glenn Close, Jeff Daniels, Joely Richardson","English, Spanish",...,5.7,109762,tt0115433,153000000.0,1.386569e+09,1367.0,101 Dalmatians (1996),Adventure|Children|Comedy,101 Dalmatians,1996.0
1,101 Dalmatians,1996,G,27 Nov 1996,103.0,Adventure| Comedy| Crime,Stephen Herek,"Dodie Smith, John Hughes","Glenn Close, Jeff Daniels, Joely Richardson","English, Spanish",...,5.7,109762,tt0115433,136189294.0,2.352021e+08,1367.0,101 Dalmatians (1996),Adventure|Children|Comedy,101 Dalmatians,1996.0
2,102 Dalmatians,2000,G,22 Nov 2000,100.0,Adventure| Comedy| Family,Kevin Lima,"Dodie Smith, Kristen Buckley, Brian Regan","Glenn Close, Gérard Depardieu, Ioan Gruffudd",English,...,4.9,37045,tt0211181,66941559.0,1.053377e+08,3991.0,102 Dalmatians (2000),Children|Comedy,102 Dalmatians,2000.0
3,1492: Conquest of Paradise,1992,PG-13,09 Oct 1992,154.0,Adventure| Biography| Drama,Ridley Scott,Rose Bosch,"Gérard Depardieu, Armand Assante, Sigourney We...","English, Spanish, Latin, Arabic",...,6.4,29990,tt0103594,7099531.0,1.371176e+07,8905.0,1492: Conquest of Paradise (1992),Adventure|Drama,1492: Conquest of Paradise,1992.0
4,"20,000 Leagues Under the Sea",1954,G,20 Jul 1955,127.0,Adventure| Drama| Family,Richard Fleischer,"Earl Felton, Jules Verne","Kirk Douglas, James Mason, Paul Lukas",English,...,7.2,33152,tt0046672,28200000.0,2.840652e+08,1019.0,"20,000 Leagues Under the Sea (1954)",Adventure|Drama|Sci-Fi,"20,000 Leagues Under the Sea",1954.0

In [235]:
merged_disney_df.isna().sum()

Title                         0
Year                          0
Rated                         0
Released                      0
Runtime                       0
Genre                         0
Director                      1
Writer                        5
Actors                        0
Language                      0
Country                       0
Awards                      101
Metascore                     0
IMDBRating                    0
imdbVotes                     0
imdbID                        0
total_gross                   0
inflation_adjusted_gross      0
movieId                     165
title                       165
genres                      165
movie_title                 165
year                        165
dtype: int64

In [236]:
#genres na?
merged_disney_df.loc[merged_disney_df['genres'].isna()]

,Title,Year,Rated,Released,Runtime,Genre,Director,Writer,Actors,Language,...,IMDBRating,imdbVotes,imdbID,total_gross,inflation_adjusted_gross,movieId,title,genres,movie_title,year
11,A Bug's Life,1998,G,25 Nov 1998,95.0,Animation| Adventure| Comedy,"John Lasseter, Andrew Stanton","John Lasseter, Andrew Stanton, Joe Ranft","Kevin Spacey, Dave Foley, Julia Louis-Dreyfus",English,...,7.2,284819,tt0120623,162798565.0,270635135.0,NaN,NaN,NaN,NaN,NaN
12,A Civil Action,1998,PG-13,08 Jan 1999,115.0,Drama,Steven Zaillian,"Jonathan Harr, Steven Zaillian","John Travolta, Robert Duvall, Kathleen Quinlan",English,...,6.6,28711,tt0120633,56709981.0,94274254.0,NaN,NaN,NaN,NaN,NaN
13,A Far Off Place,1993,PG,12 Mar 1993,108.0,Adventure| Drama| Family,Mikael Salomon,"Lourens van der Post, Robert Caswell, Jonathan...","Reese Witherspoon, Ethan Embry, Jack Thompson",English,...,6.5,3556,tt0106868,12890752.0,24173059.0,NaN,NaN,NaN,NaN,NaN
14,A Goofy Movie,1995,G,07 Apr 1995,78.0,Animation| Adventure| Comedy,Kevin Lima,"Jymn Magon, Chris Matheson, Brian Pimental","Bill Farmer, Jason Marsden, Jim Cummings",English,...,6.9,52129,tt0113198,35336439.0,62828837.0,NaN,NaN,NaN,NaN,NaN
15,The Gun in Betty Lou's Handbag,1992,PG-13,21 Aug 1992,89.0,Comedy| Mystery,Allan Moyle,Grace Cary Bickley,"Penelope Ann Miller, Eric Thal, Alfre Woodard",English,...,5.1,1683,tt0104376,3591460.0,6936407.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
605,Red Rock West,1993,R,14 May 1993,98.0,Crime| Drama| Thriller,John Dahl,"John Dahl, Rick Dahl","Nicolas Cage, Dennis Hopper, Lara Flynn Boyle",English,...,7.0,22020,tt0105226,2502551.0,4575683.0,NaN,NaN,NaN,NaN,NaN
612,Endurance,1998,G,14 May 1999,83.0,Biography| Drama| Sport,"Leslie Woodhead, Bud Greenspan",NaN,"Haile Gebrselassie, Shawananness Gebrselassie,...",English,...,6.3,419,tt0120659,229128.0,372669.0,NaN,NaN,NaN,NaN,NaN
614,Mars Needs Moms,2010,PG,11 Mar 2011,88.0,Animation| Action| Adventure,Simon Wells,"Simon Wells, Wendy Wells, Berkeley Breathed","Seth Green, Joan Cusack, Dan Fogler",English,...,5.4,22234,tt1305591,21392758.0,25770522.0,NaN,NaN,NaN,NaN,NaN
615,The Jungle Book 2,2002,G,14 Feb 2003,72.0,Animation| Adventure| Comedy,Steve Trenbirth,"Karl Geurs, Carter Crocker, Evan Spiliotopoulos","John Goodman, Haley Joel Osment, Tony Jay",English,...,5.4,16161,tt0283426,47901582.0,70542889.0,NaN,NaN,NaN,NaN,NaN
616,The Secret World of Arrietty,2010,G,17 Feb 2012,94.0,Animation| Adventure| Drama,Hiromasa Yonebayashi,"Mary Norton, Hayao Miyazaki, Keiko Niwa","Amy Poehler, Will Arnett, Mirai Shida",Japanese,...,7.6,89613,tt1568921,19192510.0,22651264.0,NaN,NaN,NaN,NaN,NaN

In [237]:
#genres na?
merged_disney_df.loc[merged_disney_df['genres'] == '(no genres listed)']

,Title,Year,Rated,Released,Runtime,Genre,Director,Writer,Actors,Language,...,IMDBRating,imdbVotes,imdbID,total_gross,inflation_adjusted_gross,movieId,title,genres,movie_title,year
333,Pirates of the Caribbean: Dead Men Tell No Tales,2017,PG-13,26 May 2017,129.0,Action| Adventure| Fantasy,"Joachim Rønning, Espen Sandberg","Jeff Nathanson, Terry Rossio, Ted Elliott","Johnny Depp, Geoffrey Rush, Javier Bardem","English, Spanish",...,6.5,292790,tt1790809,172558876.0,190756685.0,122896.0,Pirates of the Caribbean: Dead Men Tell No Tal...,(no genres listed),Pirates of the Caribbean: Dead Men Tell No Tales,2017.0

In [238]:
#Replace Genre "Not Rated" with "Not-Rated"

merged_disney_df['Rated'] = merged_disney_df['Rated'].str.replace('Not Rated','Not-Rated')

In [239]:
#merged_disney_df['title'] = merged_disney_df['title'].astype(str)

#We are going to add the Genre to genres column if it is nan or (no genres listed) because we will keep genres column 
#(from MovieLens) and drop Genre column from IMDB.
#The reason is MovieLens genres have longer genres list than IMDB

for i in merged_disney_df.index:
    if str(merged_disney_df['title'][i]) == 'nan' or str(merged_disney_df['genres'][i]) =='(no genres listed)':
        print("List of Movies that IMDB Genre will be replaced by MovieLens genres")
        print(merged_disney_df['Title'][i])
        print(merged_disney_df['Genre'][i])
        print(merged_disney_df['genres'][i])
        merged_disney_df['genres'][i] = merged_disney_df['Genre'][i]
        print("--------------------------")

List of Movies that IMDB Genre will be replaced by MovieLens genres
A Bug's Life
Animation| Adventure| Comedy
nan
--------------------------
List of Movies that IMDB Genre will be replaced by MovieLens genres
A Civil Action
Drama
nan
--------------------------
List of Movies that IMDB Genre will be replaced by MovieLens genres
A Far Off Place
Adventure| Drama| Family
nan
--------------------------
List of Movies that IMDB Genre will be replaced by MovieLens genres
A Goofy Movie
Animation| Adventure| Comedy
nan
--------------------------
List of Movies that IMDB Genre will be replaced by MovieLens genres
The Gun in Betty Lou's Handbag
Comedy| Mystery
nan
--------------------------
List of Movies that IMDB Genre will be replaced by MovieLens genres
A Kid in King Arthur's Court
Adventure| Comedy| Family
nan
--------------------------
List of Movies that IMDB Genre will be replaced by MovieLens genres
A Lot Like Love
Comedy| Drama| Romance
nan
--------------------------
List of Movies that IMDB Genre will be replaced by MovieLens genres
A Low Down Dirty Shame
Action| Comedy| Crime
nan
--------------------------
List of Movies that IMDB Genre will be replaced by MovieLens genres
A Pyromaniac's Love Story
Comedy| Romance
nan
--------------------------
List of Movies that IMDB Genre will be replaced by MovieLens genres
A Simple Twist of Fate
Comedy| Drama
nan
--------------------------
List of Movies that IMDB Genre will be replaced by MovieLens genres
A Stranger Among Us
Crime| Drama| Romance
nan
--------------------------
List of Movies that IMDB Genre will be replaced by MovieLens genres
A Thousand Acres
Drama
nan
--------------------------
List of Movies that IMDB Genre will be replaced by MovieLens genres
Amy
Drama| Family
nan
--------------------------
List of Movies that IMDB Genre will be replaced by MovieLens genres
An American Werewolf in Paris
Comedy| Fantasy| Horror
nan
--------------------------
List of Movies that IMDB Genre will be replaced by MovieLens genres
An Innocent Man
Action| Crime| Drama
nan
--------------------------
List of Movies that IMDB Genre will be replaced by MovieLens genres
Avengers: Endgame
Action| Adventure| Drama
nan
--------------------------
List of Movies that IMDB Genre will be replaced by MovieLens genres
Avengers: Infinity War
Action| Adventure| Sci-Fi
nan
--------------------------
List of Movies that IMDB Genre will be replaced by MovieLens genres
Baby: Secret of the Lost Legend
Adventure| Family| Sci-Fi
nan
--------------------------
List of Movies that IMDB Genre will be replaced by MovieLens genres
Black Panther
Action| Adventure| Sci-Fi
nan
--------------------------
List of Movies that IMDB Genre will be replaced by MovieLens genres
Black Widow
Action| Adventure| Sci-Fi
nan
--------------------------
List of Movies that IMDB Genre will be replaced by MovieLens genres
Captain Marvel
Action| Adventure| Sci-Fi
nan
--------------------------
List of Movies that IMDB Genre will be replaced by MovieLens genres
Cruella
Adventure| Comedy| Crime
nan
--------------------------
List of Movies that IMDB Genre will be replaced by MovieLens genres
A Christmas Carol
Animation| Adventure| Comedy
nan
--------------------------
List of Movies that IMDB Genre will be replaced by MovieLens genres
DuckTales the Movie: Treasure of the Lost Lamp
Animation| Adventure| Comedy
nan
--------------------------
List of Movies that IMDB Genre will be replaced by MovieLens genres
Ultimate X: The Movie
Documentary| Sport
nan
--------------------------
List of Movies that IMDB Genre will be replaced by MovieLens genres
Earth
Short| History
nan
--------------------------
List of Movies that IMDB Genre will be replaced by MovieLens genres
Encanto
Animation| Comedy| Family
nan
--------------------------
List of Movies that IMDB Genre will be replaced by MovieLens genres
Eternals
Action| Adventure| Fantasy
nan
--------------------------
List of Movies that IMDB Genre will be replaced by MovieLens genres
Guardians of the Galaxy Vol 2
Action| Adventure| Comedy
nan
--------------------------
List of Movies that IMDB Genre will be replaced by MovieLens genres
Hannah Montana and Miley Cyrus: Best of Both Worlds Concert
Documentary| Music
nan
--------------------------
List of Movies that IMDB Genre will be replaced by MovieLens genres
Herbie Fully Loaded
Adventure| Comedy| Family
nan
--------------------------
List of Movies that IMDB Genre will be replaced by MovieLens genres
Houseguest
Comedy
nan
--------------------------
List of Movies that IMDB Genre will be replaced by MovieLens genres
I'll Be Home for Christmas
Comedy| Family
nan
--------------------------
List of Movies that IMDB Genre will be replaced by MovieLens genres
It's Pat: The Movie
Comedy
nan
--------------------------
List of Movies that IMDB Genre will be replaced by MovieLens genres
Jonas Brothers: The 3D Concert Experience
Documentary| Music
nan
--------------------------
List of Movies that IMDB Genre will be replaced by MovieLens genres
Jungle 2 Jungle
Comedy| Family
nan
--------------------------
List of Movies that IMDB Genre will be replaced by MovieLens genres
Jungle Cruise
Action| Adventure| Comedy
nan
--------------------------
List of Movies that IMDB Genre will be replaced by MovieLens genres
The Wind Rises
Animation| Biography| Drama
nan
--------------------------
List of Movies that IMDB Genre will be replaced by MovieLens genres
Million Dollar Arm
Biography| Drama| Sport
nan
--------------------------
List of Movies that IMDB Genre will be replaced by MovieLens genres
Night Crossing
Drama| Family| History
nan
--------------------------
List of Movies that IMDB Genre will be replaced by MovieLens genres
Onward
Animation| Adventure| Comedy
nan
--------------------------
List of Movies that IMDB Genre will be replaced by MovieLens genres
Peter Pan 2: Return to Never Land
Animation| Adventure| Family
nan
--------------------------
List of Movies that IMDB Genre will be replaced by MovieLens genres
Pirates of the Caribbean: Dead Men Tell No Tales
Action| Adventure| Fantasy
(no genres listed)
--------------------------
List of Movies that IMDB Genre will be replaced by MovieLens genres
Play It to the Bone
Comedy| Drama| Sport
nan
--------------------------
List of Movies that IMDB Genre will be replaced by MovieLens genres
Raya and the Last Dragon
Animation| Action| Adventure
nan
--------------------------
List of Movies that IMDB Genre will be replaced by MovieLens genres
Roving Mars
Documentary| Short
nan
--------------------------
List of Movies that IMDB Genre will be replaced by MovieLens genres
Shang-Chi and the Legend of the Ten Rings
Action| Adventure| Fantasy
nan
--------------------------
List of Movies that IMDB Genre will be replaced by MovieLens genres
Star Wars: Episode VIII - The Last Jedi
Action| Adventure| Fantasy
nan
--------------------------
List of Movies that IMDB Genre will be replaced by MovieLens genres
Step Up 2: The Streets
Drama| Music| Romance
nan
--------------------------
List of Movies that IMDB Genre will be replaced by MovieLens genres
The 13th Warrior
Action| Adventure| History
nan
--------------------------
List of Movies that IMDB Genre will be replaced by MovieLens genres
The Absent Minded Professor
Comedy| Family| Sci-Fi
nan
--------------------------
List of Movies that IMDB Genre will be replaced by MovieLens genres
The Adventures of Huck Finn
Adventure| Comedy| Drama
nan
--------------------------
List of Movies that IMDB Genre will be replaced by MovieLens genres
The Air Up There
Comedy| Family| Sport
nan
--------------------------
List of Movies that IMDB Genre will be replaced by MovieLens genres
The Apple Dumpling Gang
Comedy| Family| Western
nan
--------------------------
List of Movies that IMDB Genre will be replaced by MovieLens genres
The Aristocats
Animation| Adventure| Comedy
nan
--------------------------
List of Movies that IMDB Genre will be replaced by MovieLens genres
The Associate
Comedy
nan
--------------------------
List of Movies that IMDB Genre will be replaced by MovieLens genres
The Avengers
Action| Adventure| Sci-Fi
nan
--------------------------
List of Movies that IMDB Genre will be replaced by MovieLens genres
The Big Green
Comedy| Family| Sport
nan
--------------------------
List of Movies that IMDB Genre will be replaced by MovieLens genres
The Black Cauldron
Animation| Action| Adventure
nan
--------------------------
List of Movies that IMDB Genre will be replaced by MovieLens genres
The Black Hole
Action| Sci-Fi
nan
--------------------------
List of Movies that IMDB Genre will be replaced by MovieLens genres
The Cemetery Club
Comedy
nan
--------------------------
List of Movies that IMDB Genre will be replaced by MovieLens genres
The Chronicles of Narnia: Prince Caspian
Action| Adventure| Family
nan
--------------------------
List of Movies that IMDB Genre will be replaced by MovieLens genres
The Chronicles of Narnia: The Lion, the Witch and the Wardrobe
Adventure| Family| Fantasy
nan
--------------------------
List of Movies that IMDB Genre will be replaced by MovieLens genres
The Color of Money
Drama| Sport
nan
--------------------------
List of Movies that IMDB Genre will be replaced by MovieLens genres
The Country Bears
Comedy| Family| Music
nan
--------------------------
List of Movies that IMDB Genre will be replaced by MovieLens genres
The Crew
Comedy| Crime
nan
--------------------------
List of Movies that IMDB Genre will be replaced by MovieLens genres
The Devil and Max Devlin
Comedy| Family| Fantasy
nan
--------------------------
List of Movies that IMDB Genre will be replaced by MovieLens genres
The Distinguished Gentleman
Comedy| Crime
nan
--------------------------
List of Movies that IMDB Genre will be replaced by MovieLens genres
The Doctor
Drama
nan
--------------------------
List of Movies that IMDB Genre will be replaced by MovieLens genres
The Emperor's New Groove
Animation| Adventure| Comedy
nan
--------------------------
List of Movies that IMDB Genre will be replaced by MovieLens genres
The Fifth Estate
Biography| Crime| Drama
nan
--------------------------
List of Movies that IMDB Genre will be replaced by MovieLens genres
The Fox and the Hound
Animation| Adventure| Drama
nan
--------------------------
List of Movies that IMDB Genre will be replaced by MovieLens genres
The Game Plan
Comedy| Family| Sport
nan
--------------------------
List of Movies that IMDB Genre will be replaced by MovieLens genres
The Good Mother
Drama| Romance
nan
--------------------------
List of Movies that IMDB Genre will be replaced by MovieLens genres
The Great Mouse Detective
Animation| Adventure| Family
nan
--------------------------
List of Movies that IMDB Genre will be replaced by MovieLens genres
The Greatest Game Ever Played
Biography| Drama| Sport
nan
--------------------------
List of Movies that IMDB Genre will be replaced by MovieLens genres
The Guardian
Action| Adventure| Drama
nan
--------------------------
List of Movies that IMDB Genre will be replaced by MovieLens genres
The Hand that Rocks the Cradle
Drama| Thriller
nan
--------------------------
List of Movies that IMDB Genre will be replaced by MovieLens genres
The Haunted Mansion
Comedy| Family| Fantasy
nan
--------------------------
List of Movies that IMDB Genre will be replaced by MovieLens genres
The Help
Drama
nan
--------------------------
List of Movies that IMDB Genre will be replaced by MovieLens genres
The Hitchhiker's Guide to the Galaxy
Adventure| Comedy| Sci-Fi
nan
--------------------------
List of Movies that IMDB Genre will be replaced by MovieLens genres
The Hoax
Thriller
nan
--------------------------
List of Movies that IMDB Genre will be replaced by MovieLens genres
The Horse Whisperer
Drama| Romance| Western
nan
--------------------------
List of Movies that IMDB Genre will be replaced by MovieLens genres
The Hot Chick
Comedy| Fantasy
nan
--------------------------
List of Movies that IMDB Genre will be replaced by MovieLens genres
The Hunchback of Notre Dame
Animation| Drama| Family
nan
--------------------------
List of Movies that IMDB Genre will be replaced by MovieLens genres
The Incredibles
Animation| Action| Adventure
nan
--------------------------
List of Movies that IMDB Genre will be replaced by MovieLens genres
The Inkwell
Comedy| Drama| Romance
nan
--------------------------
List of Movies that IMDB Genre will be replaced by MovieLens genres
The Insider
Biography| Drama| Thriller
nan
--------------------------
List of Movies that IMDB Genre will be replaced by MovieLens genres
The Invisible
Crime| Drama| Fantasy
nan
--------------------------
List of Movies that IMDB Genre will be replaced by MovieLens genres
The Jerky Boys
Comedy| Crime
nan
--------------------------
List of Movies that IMDB Genre will be replaced by MovieLens genres
The Journey of Natty Gann
Adventure| Family
nan
--------------------------
List of Movies that IMDB Genre will be replaced by MovieLens genres
The Joy Luck Club
Drama
nan
--------------------------
List of Movies that IMDB Genre will be replaced by MovieLens genres
The Jungle Book
Animation| Adventure| Comedy
nan
--------------------------
List of Movies that IMDB Genre will be replaced by MovieLens genres
The Jungle Book
Animation| Adventure| Comedy
nan
--------------------------
List of Movies that IMDB Genre will be replaced by MovieLens genres
The Jungle Book
Animation| Adventure| Comedy
nan
--------------------------
List of Movies that IMDB Genre will be replaced by MovieLens genres
The Kid
Comedy| Family| Fantasy
nan
--------------------------
List of Movies that IMDB Genre will be replaced by MovieLens genres
The Ladykillers
Comedy| Crime| Thriller
nan
--------------------------
List of Movies that IMDB Genre will be replaced by MovieLens genres
The Last Flight of Noah's Ark
Adventure| Family
nan
--------------------------
List of Movies that IMDB Genre will be replaced by MovieLens genres
The Last Shot
Comedy| Romance
nan
--------------------------
List of Movies that IMDB Genre will be replaced by MovieLens genres
The Last Song
Drama| Music| Romance
nan
--------------------------
List of Movies that IMDB Genre will be replaced by MovieLens genres
The Life Aquatic with Steve Zissou
Action| Adventure| Comedy
nan
--------------------------
List of Movies that IMDB Genre will be replaced by MovieLens genres
The Lion King
Animation| Adventure| Drama
nan
--------------------------
List of Movies that IMDB Genre will be replaced by MovieLens genres
The Lion King
Animation| Adventure| Drama
nan
--------------------------
List of Movies that IMDB Genre will be replaced by MovieLens genres
The Little Mermaid
Animation| Adventure| Comedy
nan
--------------------------
List of Movies that IMDB Genre will be replaced by MovieLens genres
The Lizzie McGuire Movie
Adventure| Comedy| Family
nan
--------------------------
List of Movies that IMDB Genre will be replaced by MovieLens genres
The Lone Ranger
Action| Adventure| Western
nan
--------------------------
List of Movies that IMDB Genre will be replaced by MovieLens genres
The Lookout
Crime| Drama| Thriller
nan
--------------------------
List of Movies that IMDB Genre will be replaced by MovieLens genres
The Many Adventures of Winnie the Pooh
Animation| Adventure| Comedy
nan
--------------------------
List of Movies that IMDB Genre will be replaced by MovieLens genres
The Marrying Man
Comedy| Music| Romance
nan
--------------------------
List of Movies that IMDB Genre will be replaced by MovieLens genres
The Mighty Ducks
Comedy| Drama| Family
nan
--------------------------
List of Movies that IMDB Genre will be replaced by MovieLens genres
The Muppet Christmas Carol
Comedy| Drama| Family
nan
--------------------------
List of Movies that IMDB Genre will be replaced by MovieLens genres
The Muppets
Adventure| Comedy| Family
nan
--------------------------
List of Movies that IMDB Genre will be replaced by MovieLens genres
The Nightmare Before Christmas
Animation| Family| Fantasy
nan
--------------------------
List of Movies that IMDB Genre will be replaced by MovieLens genres
The Nightmare Before Christmas
Animation| Family| Fantasy
nan
--------------------------
List of Movies that IMDB Genre will be replaced by MovieLens genres
The Odd Life of Timothy Green
Comedy| Drama| Family
nan
--------------------------
List of Movies that IMDB Genre will be replaced by MovieLens genres
The Other Sister
Comedy| Drama| Romance
nan
--------------------------
List of Movies that IMDB Genre will be replaced by MovieLens genres
The Pacifier
Action| Comedy| Drama
nan
--------------------------
List of Movies that IMDB Genre will be replaced by MovieLens genres
The Parent Trap
Adventure| Comedy| Drama
nan
--------------------------
List of Movies that IMDB Genre will be replaced by MovieLens genres
The Preacher's Wife
Comedy| Drama| Fantasy
nan
--------------------------
List of Movies that IMDB Genre will be replaced by MovieLens genres
The Prestige
Drama| Mystery| Thriller
nan
--------------------------
List of Movies that IMDB Genre will be replaced by MovieLens genres
The Princess Diaries
Comedy| Family| Romance
nan
--------------------------
List of Movies that IMDB Genre will be replaced by MovieLens genres
The Princess Diaries 2: Royal Engagement
Comedy| Family| Romance
nan
--------------------------
List of Movies that IMDB Genre will be replaced by MovieLens genres
The Princess and the Frog
Animation| Adventure| Comedy
nan
--------------------------
List of Movies that IMDB Genre will be replaced by MovieLens genres
The Program
Action| Drama| Romance
nan
--------------------------
List of Movies that IMDB Genre will be replaced by MovieLens genres
The Proposal
Comedy| Drama| Romance
nan
--------------------------
List of Movies that IMDB Genre will be replaced by MovieLens genres
The Puppet Masters
Horror| Sci-Fi| Thriller
nan
--------------------------
List of Movies that IMDB Genre will be replaced by MovieLens genres
The Recruit
Action| Thriller
nan
--------------------------
List of Movies that IMDB Genre will be replaced by MovieLens genres
The Ref
Comedy| Crime| Drama
nan
--------------------------
List of Movies that IMDB Genre will be replaced by MovieLens genres
The Rescuers
Animation| Adventure| Comedy
nan
--------------------------
List of Movies that IMDB Genre will be replaced by MovieLens genres
The Rescuers Down Under
Animation| Adventure| Comedy
nan
--------------------------
List of Movies that IMDB Genre will be replaced by MovieLens genres
The Rich Man's Wife
Thriller
nan
--------------------------
List of Movies that IMDB Genre will be replaced by MovieLens genres
The Rock
Action| Adventure| Thriller
nan
--------------------------
List of Movies that IMDB Genre will be replaced by MovieLens genres
The Rocketeer
Action| Adventure| Family
nan
--------------------------
List of Movies that IMDB Genre will be replaced by MovieLens genres
The Rookie
Drama| Family| Sport
nan
--------------------------
List of Movies that IMDB Genre will be replaced by MovieLens genres
The Royal Tenenbaums
Comedy| Drama
nan
--------------------------
List of Movies that IMDB Genre will be replaced by MovieLens genres
The Santa Clause
Comedy| Drama| Family
nan
--------------------------
List of Movies that IMDB Genre will be replaced by MovieLens genres
The Santa Clause 2
Comedy| Family| Fantasy
nan
--------------------------
List of Movies that IMDB Genre will be replaced by MovieLens genres
The Santa Clause 3: The Escape Clause
Adventure| Comedy| Family
nan
--------------------------
List of Movies that IMDB Genre will be replaced by MovieLens genres
The Scarlet Letter
Drama| Romance
nan
--------------------------
List of Movies that IMDB Genre will be replaced by MovieLens genres
The Shaggy Dog
Comedy| Family| Fantasy
nan
--------------------------
List of Movies that IMDB Genre will be replaced by MovieLens genres
The Sixth Man
Comedy| Drama| Fantasy
nan
--------------------------

/Users/vuvie/opt/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]

In [240]:
merged_disney_df.isna().sum()

Title                         0
Year                          0
Rated                         0
Released                      0
Runtime                       0
Genre                         0
Director                      1
Writer                        5
Actors                        0
Language                      0
Country                       0
Awards                      101
Metascore                     0
IMDBRating                    0
imdbVotes                     0
imdbID                        0
total_gross                   0
inflation_adjusted_gross      0
movieId                     165
title                       165
genres                        0
movie_title                 165
year                        165
dtype: int64

In [241]:
#This first test list is ready for ML K-means Clustering

merged_disney_df.to_csv (r'output/ML_ready.csv', index = None, header=True)

In [203]:
# #Merge the IMDB complete dataset and MovieLens dataset on movie_title ONLY
# merged_disney_df =pd.merge(complete_df, ml_df, how='left', left_on=['Title'], right_on=['movie_title'])
# merged_disney_df.head()

In [204]:
merged_disney_df.loc[merged_disney_df['movieId'].isna()]

,Title,Year,Rated,Released,Runtime,Genre,Director,Writer,Actors,Language,...,IMDBRating,imdbVotes,imdbID,total_gross,inflation_adjusted_gross,movieId,title,genres,movie_title,year
11,A Bug's Life,1998,G,25 Nov 1998,95.0,Animation| Adventure| Comedy,"John Lasseter, Andrew Stanton","John Lasseter, Andrew Stanton, Joe Ranft","Kevin Spacey, Dave Foley, Julia Louis-Dreyfus",English,...,7.2,284819,tt0120623,162798565.0,270635135.0,NaN,NaN,Animation| Adventure| Comedy,NaN,NaN
12,A Civil Action,1998,PG-13,08 Jan 1999,115.0,Drama,Steven Zaillian,"Jonathan Harr, Steven Zaillian","John Travolta, Robert Duvall, Kathleen Quinlan",English,...,6.6,28711,tt0120633,56709981.0,94274254.0,NaN,NaN,Drama,NaN,NaN
13,A Far Off Place,1993,PG,12 Mar 1993,108.0,Adventure| Drama| Family,Mikael Salomon,"Lourens van der Post, Robert Caswell, Jonathan...","Reese Witherspoon, Ethan Embry, Jack Thompson",English,...,6.5,3556,tt0106868,12890752.0,24173059.0,NaN,NaN,Adventure| Drama| Family,NaN,NaN
14,A Goofy Movie,1995,G,07 Apr 1995,78.0,Animation| Adventure| Comedy,Kevin Lima,"Jymn Magon, Chris Matheson, Brian Pimental","Bill Farmer, Jason Marsden, Jim Cummings",English,...,6.9,52129,tt0113198,35336439.0,62828837.0,NaN,NaN,Animation| Adventure| Comedy,NaN,NaN
15,The Gun in Betty Lou's Handbag,1992,PG-13,21 Aug 1992,89.0,Comedy| Mystery,Allan Moyle,Grace Cary Bickley,"Penelope Ann Miller, Eric Thal, Alfre Woodard",English,...,5.1,1683,tt0104376,3591460.0,6936407.0,NaN,NaN,Comedy| Mystery,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
605,Red Rock West,1993,R,14 May 1993,98.0,Crime| Drama| Thriller,John Dahl,"John Dahl, Rick Dahl","Nicolas Cage, Dennis Hopper, Lara Flynn Boyle",English,...,7.0,22020,tt0105226,2502551.0,4575683.0,NaN,NaN,Crime| Drama| Thriller,NaN,NaN
612,Endurance,1998,G,14 May 1999,83.0,Biography| Drama| Sport,"Leslie Woodhead, Bud Greenspan",NaN,"Haile Gebrselassie, Shawananness Gebrselassie,...",English,...,6.3,419,tt0120659,229128.0,372669.0,NaN,NaN,Biography| Drama| Sport,NaN,NaN
614,Mars Needs Moms,2010,PG,11 Mar 2011,88.0,Animation| Action| Adventure,Simon Wells,"Simon Wells, Wendy Wells, Berkeley Breathed","Seth Green, Joan Cusack, Dan Fogler",English,...,5.4,22234,tt1305591,21392758.0,25770522.0,NaN,NaN,Animation| Action| Adventure,NaN,NaN
615,The Jungle Book 2,2002,G,14 Feb 2003,72.0,Animation| Adventure| Comedy,Steve Trenbirth,"Karl Geurs, Carter Crocker, Evan Spiliotopoulos","John Goodman, Haley Joel Osment, Tony Jay",English,...,5.4,16161,tt0283426,47901582.0,70542889.0,NaN,NaN,Animation| Adventure| Comedy,NaN,NaN
616,The Secret World of Arrietty,2010,G,17 Feb 2012,94.0,Animation| Adventure| Drama,Hiromasa Yonebayashi,"Mary Norton, Hayao Miyazaki, Keiko Niwa","Amy Poehler, Will Arnett, Mirai Shida",Japanese,...,7.6,89613,tt1568921,19192510.0,22651264.0,NaN,NaN,Animation| Adventure| Drama,NaN,NaN

In [105]:
# #check some titles
# merged_disney_df[merged_disney_df.Title.str.startswith('WAL')]

,Title,Year,Rated,Released,Runtime,Genre,Director,Writer,Actors,Language,...,IMDBRating,imdbVotes,imdbID,total_gross,inflation_adjusted_gross,movieId,title,genres,movie_title,year
588,WALL·E,2008,G,27 Jun 2008,98.0,"Animation, Adventure, Family",Andrew Stanton,"Andrew Stanton, Pete Docter, Jim Reardon","Ben Burtt, Elissa Knight, Jeff Garlin","English, Hindi",...,8.4,1076317,tt0910970,223808164.0,281674190.0,60069.0,WALL·E (2008),Adventure|Animation|Children|Romance|Sci-Fi,WALL·E,2008.0

In [103]:
# #check some titles
# ml_df[ml_df.title.str.startswith('WAL')]

,movieId,title,genres,movie_title,year
12429,60069,WALL·E (2008),Adventure|Animation|Children|Romance|Sci-Fi,WALL·E,2008

In [7]:
#check some titles
ml_df[ml_df.title.str.startswith('Déjà')]

       movieId                     title                  genres
2085      2175            Déjà Vu (1997)           Drama|Romance
11210    49278  Déjà Vu (Deja Vu) (2006)  Action|Sci-Fi|Thriller
44232   167788            Déjà vu (1989)                  Comedy
54141   188899            Déjà Vu (1987)            Drama|Horror

### Load MovieLens Ratings dataset

In [12]:
#load Movie Lens ratings dataset
ml_ratings_df = pd.read_csv('input/ratings.csv')
ml_ratings_df.head()

   userId  movieId  rating   timestamp
0       1      296     5.0  1147880044
1       1      306     3.5  1147868817
2       1      307     5.0  1147868828
3       1      665     5.0  1147878820
4       1      899     3.5  1147868510

In [18]:
# ml_ratings_df.loc[ml_ratings_df['movieId'] == 49278]

          userId  movieId  rating   timestamp
0              1    49278     5.0  1147880044
1              1    49278     3.5  1147868817
2              1    49278     5.0  1147868828
3              1    49278     5.0  1147878820
4              1    49278     3.5  1147868510
...          ...      ...     ...         ...
25000090  162541    49278     4.5  1240953372
25000091  162541    49278     2.5  1240951998
25000092  162541    49278     2.0  1240950697
25000093  162541    49278     4.0  1240953434
25000094  162541    49278     5.0  1240952515

[25000095 rows x 4 columns]

In [183]:
# ml_ratings_df[ml_ratings_df.movieId.str.startswith('49278')]