In [1]:
import pandas as pd
import numpy as np
import re

## We want to unify the MovieLens movieId and IMDBid for our database

### Load Completed IMDB Blockbuster movie dataset from 1_Resolve_IMDB_Disney_Movie_Title

In [2]:
#Load the complete IMDB dataset
complete_df = pd.read_csv('output/complete_Disney_movie.csv')
complete_df['Year'] = complete_df['Year'].str.split('–', 1).str[0]
complete_df['Genre'] = complete_df['Genre'].str.replace(',', '|')
complete_df['Genre'] = complete_df['Genre'].str.replace(' ', '')

complete_df['Director'] = complete_df['Genre'].str.replace(',', '|')
complete_df['Director'] = complete_df['Genre'].str.replace(' ', '')

complete_df['Writer'] = complete_df['Writer'].str.replace(',', '|')
complete_df['Writer'] = complete_df['Writer'].str.replace(' ', '')

complete_df['Actors'] = complete_df['Actors'].str.replace(',', '|')
complete_df['Actors'] = complete_df['Actors'].str.replace(' ', '')

complete_df['Language'] = complete_df['Language'].str.replace(',', '|')
complete_df['Language'] = complete_df['Language'].str.replace(' ', '')

complete_df['Country'] = complete_df['Country'].str.replace(',', '|')
complete_df['Country'] = complete_df['Country'].str.replace(' ', '')


#complete_df['imdbVotes'] = complete_df['imdbVotes'].str.replace(',', '')

complete_df.head()

,Title,Year,Rated,Released,Runtime,Genre,Director,Writer,Actors,Language,Country,Awards,Metascore,IMDBRating,imdbVotes,imdbID,total_gross,inflation_adjusted_gross
0,101 Dalmatians,1996,G,27 Nov 1996,103.0,Adventure|Comedy|Crime,Adventure|Comedy|Crime,DodieSmith|JohnHughes,GlennClose|JeffDaniels|JoelyRichardson,English|Spanish,UnitedStates|UnitedKingdom,Nominated for 1 BAFTA Film Award3 wins & 10 no...,49.0,5.7,109762,tt0115433,153000000.0,1.386569e+09
1,101 Dalmatians,1996,G,27 Nov 1996,103.0,Adventure|Comedy|Crime,Adventure|Comedy|Crime,DodieSmith|JohnHughes,GlennClose|JeffDaniels|JoelyRichardson,English|Spanish,UnitedStates|UnitedKingdom,Nominated for 1 BAFTA Film Award3 wins & 10 no...,49.0,5.7,109762,tt0115433,136189294.0,2.352021e+08
2,102 Dalmatians,2000,G,22 Nov 2000,100.0,Adventure|Comedy|Family,Adventure|Comedy|Family,DodieSmith|KristenBuckley|BrianRegan,GlennClose|GérardDepardieu|IoanGruffudd,English,UnitedStates|UnitedKingdom,Nominated for 1 Oscar. 1 win & 8 nominations t...,35.0,4.9,37045,tt0211181,66941559.0,1.053377e+08
3,1492: Conquest of Paradise,1992,PG-13,09 Oct 1992,154.0,Adventure|Biography|Drama,Adventure|Biography|Drama,RoseBosch,GérardDepardieu|ArmandAssante|SigourneyWeaver,English|Spanish|Latin|Arabic,UnitedKingdom|France|Spain,2 nominations,47.0,6.4,29990,tt0103594,7099531.0,1.371176e+07
4,"20,000 Leagues Under the Sea",1954,G,20 Jul 1955,127.0,Adventure|Drama|Family,Adventure|Drama|Family,EarlFelton|JulesVerne,KirkDouglas|JamesMason|PaulLukas,English,UnitedStates,Won 2 Oscars. 5 wins & 3 nominations total,83.0,7.2,33152,tt0046672,28200000.0,2.840652e+08

In [3]:
complete_df['Year'] = complete_df['Year'].astype(int)

### Load MovieLens movies dataset

In [4]:
#load Movie Lens movies dataset
ml_df = pd.read_csv('input/movies.csv')
ml_df.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [5]:
#ml_df['title'] = ml_df['title'].str.replace('.','')
ml_df['movie_title'] = ml_df['title'].str.split(' \(', 1).str[0]
ml_df['movie_title'] = ml_df['movie_title'].str.replace('.','')
ml_df['year'] = ml_df['title'].str.extract('(\(\d{4}\)$)')
ml_df['year'] = ml_df['year'].str.replace('\)','')
ml_df['year'] = ml_df['year'].str.replace('\(','')

In [6]:
#Can't parse year to int as there are some null values
ml_df[ml_df['year'].isnull()]

,movieId,title,genres,movie_title,year
8463,25936,"Babe Ruth Story, The (1948)",Drama,"Babe Ruth Story, The",NaN
8602,26137,"Heroes of Telemark, The (1965)",Action|Drama|War,"Heroes of Telemark, The",NaN
8910,26628,Jack's Back (1988),Crime|Horror|Mystery|Thriller,Jack's Back,NaN
9120,27189,After the Rain (Ame agaru) (1999),Action|Drama,After the Rain,NaN
9763,32497,Love Letter (1995),Drama|Romance,Love Letter,NaN
...,...,...,...,...,...
62071,207714,Tales of Found Footage,(no genres listed),Tales of Found Footage,NaN
62104,207884,Enduring Destiny,(no genres listed),Enduring Destiny,NaN
62285,208597,Punk the Capital: Building a Sound Movement,Documentary,Punk the Capital: Building a Sound Movement,NaN
62326,208763,Yosemite: The Fate of Heaven,(no genres listed),Yosemite: The Fate of Heaven,NaN
62380,208973,The Falklands War: The Untold Story,(no genres listed),The Falklands War: The Untold Story,NaN

In [7]:
ml_df[ml_df.movie_title.str.startswith('101 Dalmatians')]

,movieId,title,genres,movie_title,year
1331,1367,101 Dalmatians (1996),Adventure|Children|Comedy,101 Dalmatians,1996
1996,2085,101 Dalmatians (One Hundred and One Dalmatians...,Adventure|Animation|Children,101 Dalmatians,1961
24273,121099,101 Dalmatians II: Patch's London Adventure (2...,Animation|Children,101 Dalmatians II: Patch's London Adventure,2003

In [8]:
#Fill Null year with -1
ml_df['year'].fillna("-1", inplace = True)
#Parse year as int
ml_df['year'] = ml_df['year'].astype(int)

In [9]:
#genres na?
ml_df.loc[ml_df['genres'].isna()]

Empty DataFrame
Columns: [movieId, title, genres, movie_title, year]
Index: []

In [10]:
#Merge the IMDB complete dataset and MovieLens dataset on movie_title & year ONLY
merged_disney_df =pd.merge(complete_df, ml_df, how='left', left_on=['Title', 'Year'], right_on=['movie_title', 'year'])
merged_disney_df.head()

,Title,Year,Rated,Released,Runtime,Genre,Director,Writer,Actors,Language,...,IMDBRating,imdbVotes,imdbID,total_gross,inflation_adjusted_gross,movieId,title,genres,movie_title,year
0,101 Dalmatians,1996,G,27 Nov 1996,103.0,Adventure|Comedy|Crime,Adventure|Comedy|Crime,DodieSmith|JohnHughes,GlennClose|JeffDaniels|JoelyRichardson,English|Spanish,...,5.7,109762,tt0115433,153000000.0,1.386569e+09,1367.0,101 Dalmatians (1996),Adventure|Children|Comedy,101 Dalmatians,1996.0
1,101 Dalmatians,1996,G,27 Nov 1996,103.0,Adventure|Comedy|Crime,Adventure|Comedy|Crime,DodieSmith|JohnHughes,GlennClose|JeffDaniels|JoelyRichardson,English|Spanish,...,5.7,109762,tt0115433,136189294.0,2.352021e+08,1367.0,101 Dalmatians (1996),Adventure|Children|Comedy,101 Dalmatians,1996.0
2,102 Dalmatians,2000,G,22 Nov 2000,100.0,Adventure|Comedy|Family,Adventure|Comedy|Family,DodieSmith|KristenBuckley|BrianRegan,GlennClose|GérardDepardieu|IoanGruffudd,English,...,4.9,37045,tt0211181,66941559.0,1.053377e+08,3991.0,102 Dalmatians (2000),Children|Comedy,102 Dalmatians,2000.0
3,1492: Conquest of Paradise,1992,PG-13,09 Oct 1992,154.0,Adventure|Biography|Drama,Adventure|Biography|Drama,RoseBosch,GérardDepardieu|ArmandAssante|SigourneyWeaver,English|Spanish|Latin|Arabic,...,6.4,29990,tt0103594,7099531.0,1.371176e+07,8905.0,1492: Conquest of Paradise (1992),Adventure|Drama,1492: Conquest of Paradise,1992.0
4,"20,000 Leagues Under the Sea",1954,G,20 Jul 1955,127.0,Adventure|Drama|Family,Adventure|Drama|Family,EarlFelton|JulesVerne,KirkDouglas|JamesMason|PaulLukas,English,...,7.2,33152,tt0046672,28200000.0,2.840652e+08,1019.0,"20,000 Leagues Under the Sea (1954)",Adventure|Drama|Sci-Fi,"20,000 Leagues Under the Sea",1954.0

In [11]:
merged_disney_df.isna().sum()

Title                         0
Year                          0
Rated                         0
Released                      0
Runtime                       0
Genre                         0
Director                      0
Writer                        5
Actors                        0
Language                      0
Country                       0
Awards                      101
Metascore                     0
IMDBRating                    0
imdbVotes                     0
imdbID                        0
total_gross                   0
inflation_adjusted_gross      0
movieId                     165
title                       165
genres                      165
movie_title                 165
year                        165
dtype: int64

In [12]:
#genres na?
merged_disney_df.loc[merged_disney_df['genres'].isna()]

,Title,Year,Rated,Released,Runtime,Genre,Director,Writer,Actors,Language,...,IMDBRating,imdbVotes,imdbID,total_gross,inflation_adjusted_gross,movieId,title,genres,movie_title,year
11,A Bug's Life,1998,G,25 Nov 1998,95.0,Animation|Adventure|Comedy,Animation|Adventure|Comedy,JohnLasseter|AndrewStanton|JoeRanft,KevinSpacey|DaveFoley|JuliaLouis-Dreyfus,English,...,7.2,284819,tt0120623,162798565.0,270635135.0,NaN,NaN,NaN,NaN,NaN
12,A Civil Action,1998,PG-13,08 Jan 1999,115.0,Drama,Drama,JonathanHarr|StevenZaillian,JohnTravolta|RobertDuvall|KathleenQuinlan,English,...,6.6,28711,tt0120633,56709981.0,94274254.0,NaN,NaN,NaN,NaN,NaN
13,A Far Off Place,1993,PG,12 Mar 1993,108.0,Adventure|Drama|Family,Adventure|Drama|Family,LourensvanderPost|RobertCaswell|JonathanHensleigh,ReeseWitherspoon|EthanEmbry|JackThompson,English,...,6.5,3556,tt0106868,12890752.0,24173059.0,NaN,NaN,NaN,NaN,NaN
14,A Goofy Movie,1995,G,07 Apr 1995,78.0,Animation|Adventure|Comedy,Animation|Adventure|Comedy,JymnMagon|ChrisMatheson|BrianPimental,BillFarmer|JasonMarsden|JimCummings,English,...,6.9,52129,tt0113198,35336439.0,62828837.0,NaN,NaN,NaN,NaN,NaN
15,The Gun in Betty Lou's Handbag,1992,PG-13,21 Aug 1992,89.0,Comedy|Mystery,Comedy|Mystery,GraceCaryBickley,PenelopeAnnMiller|EricThal|AlfreWoodard,English,...,5.1,1683,tt0104376,3591460.0,6936407.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
605,Red Rock West,1993,R,14 May 1993,98.0,Crime|Drama|Thriller,Crime|Drama|Thriller,JohnDahl|RickDahl,NicolasCage|DennisHopper|LaraFlynnBoyle,English,...,7.0,22020,tt0105226,2502551.0,4575683.0,NaN,NaN,NaN,NaN,NaN
612,Endurance,1998,G,14 May 1999,83.0,Biography|Drama|Sport,Biography|Drama|Sport,NaN,HaileGebrselassie|ShawanannessGebrselassie|Yon...,English,...,6.3,419,tt0120659,229128.0,372669.0,NaN,NaN,NaN,NaN,NaN
614,Mars Needs Moms,2010,PG,11 Mar 2011,88.0,Animation|Action|Adventure,Animation|Action|Adventure,SimonWells|WendyWells|BerkeleyBreathed,SethGreen|JoanCusack|DanFogler,English,...,5.4,22234,tt1305591,21392758.0,25770522.0,NaN,NaN,NaN,NaN,NaN
615,The Jungle Book 2,2002,G,14 Feb 2003,72.0,Animation|Adventure|Comedy,Animation|Adventure|Comedy,KarlGeurs|CarterCrocker|EvanSpiliotopoulos,JohnGoodman|HaleyJoelOsment|TonyJay,English,...,5.4,16161,tt0283426,47901582.0,70542889.0,NaN,NaN,NaN,NaN,NaN
616,The Secret World of Arrietty,2010,G,17 Feb 2012,94.0,Animation|Adventure|Drama,Animation|Adventure|Drama,MaryNorton|HayaoMiyazaki|KeikoNiwa,AmyPoehler|WillArnett|MiraiShida,Japanese,...,7.6,89613,tt1568921,19192510.0,22651264.0,NaN,NaN,NaN,NaN,NaN

In [13]:
#genres na?
merged_disney_df.loc[merged_disney_df['genres'] == '(no genres listed)']

,Title,Year,Rated,Released,Runtime,Genre,Director,Writer,Actors,Language,...,IMDBRating,imdbVotes,imdbID,total_gross,inflation_adjusted_gross,movieId,title,genres,movie_title,year
333,Pirates of the Caribbean: Dead Men Tell No Tales,2017,PG-13,26 May 2017,129.0,Action|Adventure|Fantasy,Action|Adventure|Fantasy,JeffNathanson|TerryRossio|TedElliott,JohnnyDepp|GeoffreyRush|JavierBardem,English|Spanish,...,6.5,292790,tt1790809,172558876.0,190756685.0,122896.0,Pirates of the Caribbean: Dead Men Tell No Tal...,(no genres listed),Pirates of the Caribbean: Dead Men Tell No Tales,2017.0

In [14]:
#Replace Genre "Not Rated" with "Not-Rated"

merged_disney_df['Rated'] = merged_disney_df['Rated'].str.replace('Not Rated','Not-Rated')

In [15]:
merged_disney_df.isna().sum()

Title                         0
Year                          0
Rated                         0
Released                      0
Runtime                       0
Genre                         0
Director                      0
Writer                        5
Actors                        0
Language                      0
Country                       0
Awards                      101
Metascore                     0
IMDBRating                    0
imdbVotes                     0
imdbID                        0
total_gross                   0
inflation_adjusted_gross      0
movieId                     165
title                       165
genres                      165
movie_title                 165
year                        165
dtype: int64

In [16]:
#movieId na?
merged_disney_df.loc[merged_disney_df['movieId'].isna()]

,Title,Year,Rated,Released,Runtime,Genre,Director,Writer,Actors,Language,...,IMDBRating,imdbVotes,imdbID,total_gross,inflation_adjusted_gross,movieId,title,genres,movie_title,year
11,A Bug's Life,1998,G,25 Nov 1998,95.0,Animation|Adventure|Comedy,Animation|Adventure|Comedy,JohnLasseter|AndrewStanton|JoeRanft,KevinSpacey|DaveFoley|JuliaLouis-Dreyfus,English,...,7.2,284819,tt0120623,162798565.0,270635135.0,NaN,NaN,NaN,NaN,NaN
12,A Civil Action,1998,PG-13,08 Jan 1999,115.0,Drama,Drama,JonathanHarr|StevenZaillian,JohnTravolta|RobertDuvall|KathleenQuinlan,English,...,6.6,28711,tt0120633,56709981.0,94274254.0,NaN,NaN,NaN,NaN,NaN
13,A Far Off Place,1993,PG,12 Mar 1993,108.0,Adventure|Drama|Family,Adventure|Drama|Family,LourensvanderPost|RobertCaswell|JonathanHensleigh,ReeseWitherspoon|EthanEmbry|JackThompson,English,...,6.5,3556,tt0106868,12890752.0,24173059.0,NaN,NaN,NaN,NaN,NaN
14,A Goofy Movie,1995,G,07 Apr 1995,78.0,Animation|Adventure|Comedy,Animation|Adventure|Comedy,JymnMagon|ChrisMatheson|BrianPimental,BillFarmer|JasonMarsden|JimCummings,English,...,6.9,52129,tt0113198,35336439.0,62828837.0,NaN,NaN,NaN,NaN,NaN
15,The Gun in Betty Lou's Handbag,1992,PG-13,21 Aug 1992,89.0,Comedy|Mystery,Comedy|Mystery,GraceCaryBickley,PenelopeAnnMiller|EricThal|AlfreWoodard,English,...,5.1,1683,tt0104376,3591460.0,6936407.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
605,Red Rock West,1993,R,14 May 1993,98.0,Crime|Drama|Thriller,Crime|Drama|Thriller,JohnDahl|RickDahl,NicolasCage|DennisHopper|LaraFlynnBoyle,English,...,7.0,22020,tt0105226,2502551.0,4575683.0,NaN,NaN,NaN,NaN,NaN
612,Endurance,1998,G,14 May 1999,83.0,Biography|Drama|Sport,Biography|Drama|Sport,NaN,HaileGebrselassie|ShawanannessGebrselassie|Yon...,English,...,6.3,419,tt0120659,229128.0,372669.0,NaN,NaN,NaN,NaN,NaN
614,Mars Needs Moms,2010,PG,11 Mar 2011,88.0,Animation|Action|Adventure,Animation|Action|Adventure,SimonWells|WendyWells|BerkeleyBreathed,SethGreen|JoanCusack|DanFogler,English,...,5.4,22234,tt1305591,21392758.0,25770522.0,NaN,NaN,NaN,NaN,NaN
615,The Jungle Book 2,2002,G,14 Feb 2003,72.0,Animation|Adventure|Comedy,Animation|Adventure|Comedy,KarlGeurs|CarterCrocker|EvanSpiliotopoulos,JohnGoodman|HaleyJoelOsment|TonyJay,English,...,5.4,16161,tt0283426,47901582.0,70542889.0,NaN,NaN,NaN,NaN,NaN
616,The Secret World of Arrietty,2010,G,17 Feb 2012,94.0,Animation|Adventure|Drama,Animation|Adventure|Drama,MaryNorton|HayaoMiyazaki|KeikoNiwa,AmyPoehler|WillArnett|MiraiShida,Japanese,...,7.6,89613,tt1568921,19192510.0,22651264.0,NaN,NaN,NaN,NaN,NaN

In [17]:
#merged_disney_df['title'] = merged_disney_df['title'].astype(str)

#So after merged, we need to find titles in IMDB lists without it's corresponding MovieLens movieID
#then we take the MovieLens movieId & genres to add into merged_disney_df

for i in merged_disney_df.index:
    if str(merged_disney_df['movieId'][i]) == 'nan':  
        for j in ml_df.index:
            if merged_disney_df['Title'][i] == ml_df['movie_title'][j]:
                print("--------------------------")
                print(merged_disney_df['Title'][i])
                print(ml_df['movie_title'][j])
                merged_disney_df['movieId'][i] = ml_df['movieId'][j]
                merged_disney_df['genres'][i] = ml_df['genres'][j]
                print("--------------------------")

--------------------------
Amy
Amy
--------------------------

/Users/vuvie/opt/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]
/Users/vuvie/opt/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

--------------------------
Amy
Amy
--------------------------
--------------------------
Black Panther
Black Panther
--------------------------
--------------------------
Black Widow
Black Widow
--------------------------
--------------------------
Black Widow
Black Widow
--------------------------
--------------------------
Captain Marvel
Captain Marvel
--------------------------
--------------------------
A Christmas Carol
A Christmas Carol
--------------------------
--------------------------
A Christmas Carol
A Christmas Carol
--------------------------
--------------------------
Earth
Earth
--------------------------
--------------------------
Earth
Earth
--------------------------
--------------------------
Earth
Earth
--------------------------
--------------------------
Houseguest
Houseguest
--------------------------
--------------------------
I'll Be Home for Christmas
I'll Be Home for Christmas
--------------------------
--------------------------
Night Crossing
Night Crossing
--------------------------
--------------------------
The Black Hole
The Black Hole
--------------------------
--------------------------
The Black Hole
The Black Hole
--------------------------
--------------------------
The Black Hole
The Black Hole
--------------------------
--------------------------
The Chronicles of Narnia: The Lion, the Witch and the Wardrobe
The Chronicles of Narnia: The Lion, the Witch and the Wardrobe
--------------------------
--------------------------
The Crew
The Crew
--------------------------
--------------------------
The Crew
The Crew
--------------------------
--------------------------
The Good Mother
The Good Mother
--------------------------
--------------------------
The Jungle Book
The Jungle Book
--------------------------
--------------------------
The Jungle Book
The Jungle Book
--------------------------
--------------------------
The Jungle Book
The Jungle Book
--------------------------
--------------------------
The Kid
The Kid
--------------------------
--------------------------
The Kid
The Kid
--------------------------
--------------------------
The Kid
The Kid
--------------------------
--------------------------
The Lion King
The Lion King
--------------------------
--------------------------
The Lion King
The Lion King
--------------------------
--------------------------
The Little Mermaid
The Little Mermaid
--------------------------
--------------------------
The Little Mermaid
The Little Mermaid
--------------------------
--------------------------
The Lone Ranger
The Lone Ranger
--------------------------
--------------------------
The Lookout
The Lookout
--------------------------
--------------------------
The Program
The Program
--------------------------
--------------------------
The Proposal
The Proposal
--------------------------
--------------------------
The Sixth Sense
The Sixth Sense
--------------------------
--------------------------
The Sorcerer's Apprentice
The Sorcerer's Apprentice
--------------------------
--------------------------
The Three Musketeers
The Three Musketeers
--------------------------
--------------------------
The Three Musketeers
The Three Musketeers
--------------------------
--------------------------
The Village
The Village
--------------------------
--------------------------
The Village
The Village
--------------------------
--------------------------
The War at Home
The War at Home
--------------------------
--------------------------
Red Rock West
Red Rock West
--------------------------
--------------------------
Endurance
Endurance
--------------------------
--------------------------
Mars Needs Moms
Mars Needs Moms
--------------------------

In [18]:
merged_disney_df.loc[merged_disney_df['Title'] == 'The Little Mermaid']

,Title,Year,Rated,Released,Runtime,Genre,Director,Writer,Actors,Language,...,IMDBRating,imdbVotes,imdbID,total_gross,inflation_adjusted_gross,movieId,title,genres,movie_title,year
482,The Little Mermaid,1989,G,17 Nov 1989,83.0,Animation|Adventure|Comedy,Animation|Adventure|Comedy,JohnMusker|RonClements|HansChristianAndersen,JodiBenson|SamuelE.Wright|ReneAuberjonois,English|French,...,7.6,254101,tt0097757,111543479.0,243749487.0,193537.0,NaN,Animation|Fantasy,NaN,NaN

In [19]:
#We are going to add the Genre to genres column if it is nan or (no genres listed) because we will keep genres 
#column (from MovieLens) and drop Genre column from IMDB.
#The reason is MovieLens genres have longer genres list than IMDB

for i in merged_disney_df.index:
    if str(merged_disney_df['title'][i]) == 'nan' or str(merged_disney_df['genres'][i]) =='(no genres listed)':
        print("List of Movies that IMDB Genre nan will be replaced by MovieLens genres")
        print(merged_disney_df['Title'][i])
        print(merged_disney_df['Genre'][i])
        print(merged_disney_df['genres'][i])
        merged_disney_df['genres'][i] = merged_disney_df['Genre'][i]
        print("--------------------------")
        
    elif len(merged_disney_df['Genre'][i]) > len(merged_disney_df['genres'][i]):
        print(merged_disney_df['Genre'][i])
        print(merged_disney_df['genres'][i])
        merged_disney_df['genres'][i] = merged_disney_df['Genre'][i]
        print("--------------------------")

Adventure|Comedy|Family
Children|Comedy
--------------------------
Adventure|Biography|Drama
Adventure|Drama
--------------------------
Comedy|Drama|Family
Comedy
--------------------------
Comedy|Drama|Family
Comedy|Romance
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
A Bug's Life
Animation|Adventure|Comedy
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
A Civil Action
Drama
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
A Far Off Place
Adventure|Drama|Family
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
A Goofy Movie
Animation|Adventure|Comedy
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Gun in Betty Lou's Handbag
Comedy|Mystery
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
A Kid in King Arthur's Court
Adventure|Comedy|Family
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
A Lot Like Love
Comedy|Drama|Romance
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
A Low Down Dirty Shame
Action|Comedy|Crime
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
A Pyromaniac's Love Story
Comedy|Romance
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
A Simple Twist of Fate
Comedy|Drama
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
A Stranger Among Us
Crime|Drama|Romance
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
A Thousand Acres
Drama
nan
--------------------------
Adventure|Comedy|Crime
Adventure|Comedy
--------------------------
Comedy|Drama|Family
Children|Comedy
--------------------------
Comedy|Drama|Family
Comedy
--------------------------
Adventure|Family|Fantasy
Adventure|Fantasy|IMAX
--------------------------
Documentary|Family
Documentary|IMAX
--------------------------
Biography|Drama|Thriller
Drama
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Amy
Drama|Family
Documentary
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
An American Werewolf in Paris
Comedy|Fantasy|Horror
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
An Innocent Man
Action|Crime|Drama
nan
--------------------------
Comedy|Family|Fantasy
Children|Comedy
--------------------------
Drama|Romance|Sport
Drama
--------------------------
Comedy|Horror|Thriller
Comedy|Horror
--------------------------
Drama|Romance|Sport
Action
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Avengers: Endgame
Action|Adventure|Drama
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Avengers: Infinity War
Action|Adventure|Sci-Fi
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Baby: Secret of the Lost Legend
Adventure|Family|Sci-Fi
nan
--------------------------
Crime|Drama|Thriller
Action|Crime|Drama
--------------------------
Crime|Drama|Thriller
Action|Crime|Drama
--------------------------
Documentary|Family
Documentary
--------------------------
Crime|Drama|Mystery
Drama|Mystery
--------------------------
Drama|History|Horror
Drama
--------------------------
Comedy|Romance
Comedy
--------------------------
Animation|Action|Adventure
Action|Animation|Comedy
--------------------------
Comedy|Crime|Thriller
Comedy|Crime
--------------------------
Crime|Drama|Thriller
Crime|Drama
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Black Panther
Action|Adventure|Sci-Fi
Action|Adventure|Sci-Fi
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Black Widow
Action|Adventure|Sci-Fi
Drama|Mystery
--------------------------
Comedy|Family|Fantasy
Children|Comedy
--------------------------
Comedy|Crime|Family
Children|Comedy
--------------------------
Biography|Comedy|Drama
Comedy|Drama
--------------------------
Adventure|Comedy|Drama
Children|Comedy
--------------------------
Drama|Mystery|Romance
Drama
--------------------------
Drama|History|Thriller
Drama|Thriller
--------------------------
Adventure|Comedy|Romance
Comedy
--------------------------
Adventure|Comedy|Romance
Comedy
--------------------------
Comedy|Drama
Comedy
--------------------------
Comedy|Drama|Romance
Comedy|Romance
--------------------------
Action|Adventure|Sci-Fi
Action|Sci-Fi|Thriller
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Captain Marvel
Action|Adventure|Sci-Fi
Action|Adventure|Sci-Fi
--------------------------
Animation|Adventure|Comedy
Animation|Children|Comedy
--------------------------
Adventure|Comedy|Drama
Comedy|Drama|Romance
--------------------------
Comedy|Sport
Comedy
--------------------------
Adventure|Drama|Family
Adventure|Children
--------------------------
Documentary|Family
Documentary
--------------------------
Comedy|Drama|Romance
Drama|Romance
--------------------------
Drama|Mystery|Thriller
Drama|Thriller
--------------------------
Adventure|Comedy|Drama
Comedy
--------------------------
Drama|Mystery|Romance
Drama|Thriller
--------------------------
Comedy|Family|Music
Comedy
--------------------------
Crime|Drama|Mystery
Thriller
--------------------------
Adventure|Comedy|Family
Comedy
--------------------------
Action|Drama|Thriller
Drama|Thriller|War
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Cruella
Adventure|Comedy|Crime
nan
--------------------------
Comedy|Drama|Family
Children|Comedy
--------------------------
Action|Comedy|Drama
Children|Comedy
--------------------------
Biography|Drama
Drama
--------------------------
Comedy|Drama
Drama
--------------------------
Crime|Drama|Mystery
Thriller
--------------------------
Action|Adventure|Horror
Action|Horror|Sci-Fi
--------------------------
Comedy|Drama
Comedy
--------------------------
Comedy|Romance
Comedy
--------------------------
Action|Comedy|Crime
Action|Crime
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
A Christmas Carol
Animation|Adventure|Comedy
Children
--------------------------
Action|Comedy|Crime
Action|Comedy
--------------------------
Action|Adventure|Fantasy
Action|Adventure|Sci-Fi
--------------------------
Action|Comedy|Crime
Action|Comedy
--------------------------
Animation|Adventure|Comedy
Animation|Children
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
DuckTales the Movie: Treasure of the Lost Lamp
Animation|Adventure|Comedy
nan
--------------------------
Comedy|Drama|Music
Comedy|Drama
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Ultimate X: The Movie
Documentary|Sport
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Earth
Short|History
Documentary
--------------------------
Biography|Comedy|Drama
Comedy|Drama
--------------------------
Comedy|Sport
Comedy
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Encanto
Animation|Comedy|Family
nan
--------------------------
Comedy|Family
Comedy
--------------------------
Comedy|Crime|Family
Comedy
--------------------------
Comedy|Family|Fantasy
Children|Comedy
--------------------------
Comedy|Family|Fantasy
Comedy
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Eternals
Action|Adventure|Fantasy
nan
--------------------------
Biography|Drama|History
Drama|Musical
--------------------------
Adventure|Comedy|Crime

/Users/vuvie/opt/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/Users/vuvie/opt/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()

Comedy
--------------------------
Comedy|Family|Romance
Comedy
--------------------------
Comedy|Family|Romance
Comedy
--------------------------
Crime|Drama|Mystery
Drama
--------------------------
Drama|Mystery|Thriller
Action|Drama|Thriller
--------------------------
Action|Drama|War
Action|Drama
--------------------------
Action|Adventure|Comedy
Children|Comedy
--------------------------
Documentary|Family
Documentary|IMAX
--------------------------
Biography|Drama|Sport
Drama
--------------------------
Comedy|Crime
Comedy
--------------------------
Action|Crime|Thriller
Action|Crime
--------------------------
Biography|Comedy|Drama
Comedy|Drama|War
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Guardians of the Galaxy Vol 2
Action|Adventure|Comedy
nan
--------------------------
Comedy|Crime|Romance
Comedy
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Hannah Montana and Miley Cyrus: Best of Both Worlds Concert
Documentary|Music
nan
--------------------------
Drama|Sport
Drama
--------------------------
Comedy|Musical|Romance
Comedy
--------------------------
Comedy|Drama|Family
Children|Comedy
--------------------------
Comedy|Drama|Fantasy
Comedy
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Herbie Fully Loaded
Adventure|Comedy|Family
nan
--------------------------
Action|Adventure|Biography
Adventure|Drama
--------------------------
Comedy|Drama|Family
Musical
--------------------------
Comedy|Drama
Comedy
--------------------------
Adventure|Comedy|Family
Adventure|Children
--------------------------
Adventure|Comedy|Family
Children|Comedy|Sci-Fi
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Houseguest
Comedy
Comedy
--------------------------
Action|Comedy|Romance
Action|Comedy
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
I'll Be Home for Christmas
Comedy|Family
Children|Drama
--------------------------
Comedy|Drama|Romance
Comedy|Drama
--------------------------
Action|Comedy|Crime
Comedy|Horror
--------------------------
Biography|Drama|Sport
Drama
--------------------------
Adventure|Family
Adventure
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
It's Pat: The Movie
Comedy
nan
--------------------------
Comedy|Drama|Fantasy
Comedy|Drama
--------------------------
Biography|Drama|History
Drama
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Jonas Brothers: The 3D Concert Experience
Documentary|Music
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Jungle 2 Jungle
Comedy|Family
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Jungle Cruise
Action|Adventure|Comedy
nan
--------------------------
Adventure|Comedy|Fantasy
Comedy|Fantasy
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Wind Rises
Animation|Biography|Drama
nan
--------------------------
Biography|Drama|History
Drama
--------------------------
Drama|Thriller
Drama
--------------------------
Comedy|Family
Comedy
--------------------------
Biography|Drama|History
Drama|War
--------------------------
Comedy|Drama|Romance
Drama|Romance
--------------------------
Adventure|Family|Fantasy
Fantasy
--------------------------
Comedy|Family
Comedy
--------------------------
Adventure|Comedy|Family
Children|Fantasy
--------------------------
Comedy|Crime|Family
Children|Comedy
--------------------------
Biography|Drama|Sport
Drama
--------------------------
Adventure|Drama|Romance
Adventure|Romance
--------------------------
Comedy|Romance
Comedy
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Million Dollar Arm
Biography|Drama|Sport
nan
--------------------------
Biography|Drama|History
Drama
--------------------------
Adventure|Sci-Fi|Thriller
Sci-Fi
--------------------------
Comedy|Crime|Drama
Comedy|Crime
--------------------------
Documentary|Sport
Documentary
--------------------------
Comedy|Fantasy|Horror
Comedy
--------------------------
Comedy|Family|Sci-Fi
Comedy|Sci-Fi
--------------------------
Action|Adventure|Comedy
Adventure|Sci-Fi
--------------------------
Comedy|Drama|Sport
Comedy|Drama
--------------------------
Action|Adventure|Mystery
Action|Adventure
--------------------------
Comedy|Drama|Romance
Comedy|Drama
--------------------------
Drama|Family|History
Children|Musical
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Night Crossing
Drama|Family|History
Drama
--------------------------
Biography|Drama|History
Drama
--------------------------
Comedy|Crime|Romance
Comedy|Romance
--------------------------
Comedy|Family
Comedy
--------------------------
Family|Fantasy
Drama|Fantasy
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Onward
Animation|Adventure|Comedy
nan
--------------------------
Action|Drama|Romance
Western
--------------------------
Comedy|Sport
Comedy
--------------------------
Comedy|Drama
Drama
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Peter Pan 2: Return to Never Land
Animation|Adventure|Family
nan
--------------------------
Drama|Fantasy|Romance
Drama|Romance
--------------------------
Animation|Adventure|Comedy
Animation|Children
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Pirates of the Caribbean: Dead Men Tell No Tales
Action|Adventure|Fantasy
(no genres listed)
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Play It to the Bone
Comedy|Drama|Sport
nan
--------------------------
Animation|Adventure|Comedy
Animation|Children
--------------------------
Drama|Fantasy|Mystery
Drama|Sci-Fi
--------------------------
Biography|Drama|Romance
Drama
--------------------------
Action|Adventure|Drama
Horror|Thriller
--------------------------
Comedy|Drama|Family
Comedy|Drama
--------------------------
Biography|Drama|Sport
Drama
--------------------------
Biography|Drama|History
Drama
--------------------------
Animation|Adventure|Comedy
Animation|Children
--------------------------
Action|Crime|Thriller
Crime|Thriller
--------------------------
Animation|Adventure|Comedy
Animation|Children|Drama
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Raya and the Last Dragon
Animation|Action|Adventure
nan
--------------------------
Animation|Adventure|Comedy
Animation|Children
--------------------------
Biography|Drama|Sport
Drama
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Roving Mars
Documentary|Short
nan
--------------------------
Biography|Drama|Sport
Drama
--------------------------
Comedy|Drama|Romance
Comedy|Drama
--------------------------
Comedy|Crime
Comedy
--------------------------
Drama|Musical
Drama
--------------------------
Biography|Drama|Family
Adventure|Drama
--------------------------
Action|Thriller
Thriller
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Shang-Chi and the Legend of the Ten Rings
Action|Adventure|Fantasy
nan
--------------------------
Action|Adventure|Crime
Action|Adventure
--------------------------
Comedy|Drama|Family
Drama
--------------------------
Comedy|Family|Music
Comedy|Crime
--------------------------
Comedy|Family|Music
Comedy
--------------------------
Action|Comedy
Comedy
--------------------------
Adventure|Biography|Drama
Adventure|Drama
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Star Wars: Episode VIII - The Last Jedi
Action|Adventure|Fantasy
nan
--------------------------
Drama|Romance
Drama
--------------------------
Crime|Drama|Music
Drama|Romance
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Step Up 2: The Streets
Drama|Music|Romance
nan
--------------------------
Comedy|Drama|Sport
Comedy
--------------------------
Comedy|Drama|Romance
Comedy
--------------------------
Crime|Drama|Romance
Drama
--------------------------
Drama|Music
Drama|War
--------------------------
Animation|Adventure|Comedy
Animation|Children
--------------------------
Comedy|Drama|Romance
Comedy|Romance
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The 13th Warrior
Action|Adventure|History
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Absent Minded Professor
Comedy|Family|Sci-Fi
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Adventures of Huck Finn
Adventure|Comedy|Drama
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Air Up There
Comedy|Family|Sport
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Apple Dumpling Gang
Comedy|Family|Western
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Aristocats
Animation|Adventure|Comedy
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Associate
Comedy
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Avengers
Action|Adventure|Sci-Fi
nan
--------------------------
Adventure|Family|Fantasy
Children|Fantasy
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Big Green
Comedy|Family|Sport
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Black Cauldron
Animation|Action|Adventure
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Black Hole
Action|Sci-Fi
Comedy|Crime
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Cemetery Club
Comedy
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Chronicles of Narnia: Prince Caspian
Action|Adventure|Family
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Chronicles of Narnia: The Lion, the Witch and the Wardrobe
Adventure|Family|Fantasy
Adventure|Children|Fantasy
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Color of Money
Drama|Sport
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Country Bears
Comedy|Family|Music
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Crew
Comedy|Crime
Crime|Drama|Thriller
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Devil and Max Devlin
Comedy|Family|Fantasy
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Distinguished Gentleman
Comedy|Crime
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Doctor
Drama
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Emperor's New Groove
Animation|Adventure|Comedy
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Fifth Estate
Biography|Crime|Drama
nan
--------------------------
Action|Drama|History
Drama|Thriller
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Fox and the Hound
Animation|Adventure|Drama
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Game Plan
Comedy|Family|Sport
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Good Mother
Drama|Romance
Drama|Mystery|Thriller
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Great Mouse Detective
Animation|Adventure|Family
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Greatest Game Ever Played
Biography|Drama|Sport
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Guardian
Action|Adventure|Drama
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Hand that Rocks the Cradle
Drama|Thriller
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Haunted Mansion
Comedy|Family|Fantasy
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Help
Drama
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Hitchhiker's Guide to the Galaxy
Adventure|Comedy|Sci-Fi
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Hoax
Thriller
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Horse Whisperer
Drama|Romance|Western
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Hot Chick
Comedy|Fantasy
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Hunchback of Notre Dame
Animation|Drama|Family
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Incredibles
Animation|Action|Adventure
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Inkwell
Comedy|Drama|Romance
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Insider
Biography|Drama|Thriller
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Invisible
Crime|Drama|Fantasy
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Jerky Boys
Comedy|Crime
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Journey of Natty Gann
Adventure|Family
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Joy Luck Club
Drama
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Jungle Book
Animation|Adventure|Comedy
Adventure|Drama|Fantasy
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Jungle Book
Animation|Adventure|Comedy
Adventure|Drama|Fantasy
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Jungle Book
Animation|Adventure|Comedy
Adventure|Drama|Fantasy
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Kid
Comedy|Family|Fantasy
Drama|Western
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Ladykillers
Comedy|Crime|Thriller
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Last Flight of Noah's Ark
Adventure|Family
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Last Shot
Comedy|Romance
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Last Song
Drama|Music|Romance
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Life Aquatic with Steve Zissou
Action|Adventure|Comedy
nan
--------------------------
Drama|Romance
Drama
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Lion King
Animation|Adventure|Drama
Adventure|Animation|Children|Drama
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Lion King
Animation|Adventure|Drama
Adventure|Animation|Children|Drama
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Little Mermaid
Animation|Adventure|Comedy
Animation|Fantasy
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Lizzie McGuire Movie
Adventure|Comedy|Family
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Lone Ranger
Action|Adventure|Western
Western
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Lookout
Crime|Drama|Thriller
Action|Crime|Thriller
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Many Adventures of Winnie the Pooh
Animation|Adventure|Comedy
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Marrying Man
Comedy|Music|Romance
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Mighty Ducks
Comedy|Drama|Family
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Muppet Christmas Carol
Comedy|Drama|Family
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Muppets
Adventure|Comedy|Family
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Nightmare Before Christmas
Animation|Family|Fantasy
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Nightmare Before Christmas
Animation|Family|Fantasy
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Odd Life of Timothy Green
Comedy|Drama|Family
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Other Sister
Comedy|Drama|Romance
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Pacifier
Action|Comedy|Drama
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Parent Trap
Adventure|Comedy|Drama
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Preacher's Wife
Comedy|Drama|Fantasy
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Prestige
Drama|Mystery|Thriller
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Princess Diaries
Comedy|Family|Romance
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Princess Diaries 2: Royal Engagement
Comedy|Family|Romance
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Princess and the Frog
Animation|Adventure|Comedy
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Program
Action|Drama|Romance
Drama
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres

In [20]:
#This first test list is ready for ML K-means Clustering

merged_disney_df.to_csv (r'output/ML_bb_ready.csv', index = None, header=True)

### Load Completed IMDB TV show dataset

In [23]:
#Load the complete IMDB dataset
imdb_tv_df = pd.read_csv('input/IMDB_tv.csv')

imdb_tv_df['Rated'] = imdb_tv_df['Rated'].str.replace('Not Rated','Not-Rated')
imdb_tv_df['Year'] = imdb_tv_df['Year'].str.split('–', 1).str[0]
imdb_tv_df['Year'] = imdb_tv_df['Year'].astype(int)
imdb_tv_df['Genre'] = imdb_tv_df['Genre'].str.replace(',', '|')
imdb_tv_df['Genre'] = imdb_tv_df['Genre'].str.replace(' ', '')

imdb_tv_df['Director'] = imdb_tv_df['Genre'].str.replace(',', '|')
imdb_tv_df['Director'] = imdb_tv_df['Genre'].str.replace(' ', '')

imdb_tv_df['Writer'] = imdb_tv_df['Writer'].str.replace(',', '|')
imdb_tv_df['Writer'] = imdb_tv_df['Writer'].str.replace(' ', '')

imdb_tv_df['Actors'] = imdb_tv_df['Actors'].str.replace(',', '|')
imdb_tv_df['Actors'] = imdb_tv_df['Actors'].str.replace(' ', '')

imdb_tv_df['Language'] = imdb_tv_df['Language'].str.replace(',', '|')
imdb_tv_df['Language'] = imdb_tv_df['Language'].str.replace(' ', '')

imdb_tv_df['Country'] = imdb_tv_df['Country'].str.replace(',', '|')
imdb_tv_df['Country'] = imdb_tv_df['Country'].str.replace(' ', '')

imdb_tv_df['imdbVotes'] = imdb_tv_df['imdbVotes'].astype(str)
imdb_tv_df['imdbVotes'] = imdb_tv_df['imdbVotes'].str.replace(',', '')

imdb_tv_df.head()

,Title,Year,Rated,Released,Runtime,Genre,Director,Writer,Actors,Language,Country,Awards,Metascore,IMDBRating,imdbVotes,imdbID
0,Ice Age: A Mammoth Christmas,2011,TV-PG,24 Nov 2011,26,Animation|Short|Adventure|Comedy|Family|Fantasy,Animation|Short|Adventure|Comedy|Family|Fantasy,SamHarper|MikeReiss,RayRomano|JohnLeguizamo|DenisLeary|QueenLatifah,English,USA,1 nomination.,-1.0,6.5,9671,tt2100546
1,The Queen Family Singalong,2021,TV-PG,04 Nov 2021,41,Music|Musical,Music|Musical,BrianStrickland,DarrenCriss|AdamLambert|JimmieAllen,English,UnitedStates,NaN,-1.0,5.9,86,tt15716286
2,The Beatles: Get Back,2021,PG-13,25 Nov 2021,-1,Documentary|Biography|Music,Documentary|Biography|Music,NaN,TheBeatles|JohnLennon|PaulMcCartney,English,UnitedKingdom|NewZealand|UnitedStates,4 wins & 4 nominations,-1.0,9.1,18501,tt9735318
3,Becoming Cousteau,2021,PG-13,24 Nov 2021,94,Documentary|Adventure|Biography,Documentary|Adventure|Biography,MarkMonroe|PaxWassermann,VincentCassel|CarolBurnett|LouisMalle,English|French,UnitedStates,Nominated for 1 BAFTA Film Award2 wins & 11 no...,74.0,7.1,834,tt10334438
4,Hawkeye,2021,TV-14,24 Nov 2021,60,Action|Adventure|Crime,Action|Adventure|Crime,NaN,JeremyRenner|HaileeSteinfeld|FlorencePugh,English|AmericanSign,UnitedStates,8 nominations,-1.0,7.7,142549,tt10160804

In [24]:
#Merge the IMDB tv shows dataset and MovieLens dataset on movie_title & year ONLY
merged_tv_df =pd.merge(imdb_tv_df, ml_df, how='left', left_on=['Title', 'Year'], right_on=['movie_title', 'year'])
merged_tv_df.head()

,Title,Year,Rated,Released,Runtime,Genre,Director,Writer,Actors,Language,...,Awards,Metascore,IMDBRating,imdbVotes,imdbID,movieId,title,genres,movie_title,year
0,Ice Age: A Mammoth Christmas,2011,TV-PG,24 Nov 2011,26,Animation|Short|Adventure|Comedy|Family|Fantasy,Animation|Short|Adventure|Comedy|Family|Fantasy,SamHarper|MikeReiss,RayRomano|JohnLeguizamo|DenisLeary|QueenLatifah,English,...,1 nomination.,-1.0,6.5,9671,tt2100546,117922.0,Ice Age: A Mammoth Christmas (2011),Adventure|Animation|Children,Ice Age: A Mammoth Christmas,2011.0
1,The Queen Family Singalong,2021,TV-PG,04 Nov 2021,41,Music|Musical,Music|Musical,BrianStrickland,DarrenCriss|AdamLambert|JimmieAllen,English,...,NaN,-1.0,5.9,86,tt15716286,NaN,NaN,NaN,NaN,NaN
2,The Beatles: Get Back,2021,PG-13,25 Nov 2021,-1,Documentary|Biography|Music,Documentary|Biography|Music,NaN,TheBeatles|JohnLennon|PaulMcCartney,English,...,4 wins & 4 nominations,-1.0,9.1,18501,tt9735318,NaN,NaN,NaN,NaN,NaN
3,Becoming Cousteau,2021,PG-13,24 Nov 2021,94,Documentary|Adventure|Biography,Documentary|Adventure|Biography,MarkMonroe|PaxWassermann,VincentCassel|CarolBurnett|LouisMalle,English|French,...,Nominated for 1 BAFTA Film Award2 wins & 11 no...,74.0,7.1,834,tt10334438,NaN,NaN,NaN,NaN,NaN
4,Hawkeye,2021,TV-14,24 Nov 2021,60,Action|Adventure|Crime,Action|Adventure|Crime,NaN,JeremyRenner|HaileeSteinfeld|FlorencePugh,English|AmericanSign,...,8 nominations,-1.0,7.7,142549,tt10160804,NaN,NaN,NaN,NaN,NaN

In [25]:
#Replace Genre "Not Rated" with "Not-Rated"
merged_tv_df['Rated'] = merged_tv_df['Rated'].str.replace('Not Rated','Not-Rated')

In [26]:
merged_tv_df.isna().sum()

Title            0
Year             0
Rated          164
Released        13
Runtime          0
Genre            6
Director         6
Writer         199
Actors          35
Language        18
Country         10
Awards         404
Metascore        0
IMDBRating       0
imdbVotes        0
imdbID           0
movieId        499
title          499
genres         499
movie_title    499
year           499
dtype: int64

In [27]:
#genres na?
merged_tv_df.loc[merged_tv_df['genres'] == '(no genres listed)']

,Title,Year,Rated,Released,Runtime,Genre,Director,Writer,Actors,Language,...,Awards,Metascore,IMDBRating,imdbVotes,imdbID,movieId,title,genres,movie_title,year
352,How to Play Football,1944,Approved,15 Sep 1944,7,Animation|Short|Comedy,Animation|Short|Comedy,RexCox|HarryReeves,BillyBletcher|PintoColvig,English,...,Nominated for 1 Oscar. 1 nomination total,-1.0,7.1,1199,tt0036933,136453.0,How to Play Football (1944),(no genres listed),How to Play Football,1944.0
415,A Ring of Endless Light,2002,TV-G,23 Aug 2002,88,Drama|Family|Romance,Drama|Family|Romance,MadeleineL'Engle(novel)|MaritaGiovanni(telepla...,MischaBarton|RyanMerriman|JaredPadalecki|Scarl...,English,...,2 wins & 1 nomination.,-1.0,6.0,1165,tt0282123,143426.0,A Ring of Endless Light (2002),(no genres listed),A Ring of Endless Light,2002.0
419,Almost Angels,1962,Not-Rated,21 Dec 1962,93,Comedy|Family|Music,Comedy|Family|Music,VernonHarris|RobertA.Stemmle,VincentWinter|SeanScully|PeterWeck,English,...,NaN,-1.0,6.6,547,tt0055740,170058.0,Almost Angels (1962),(no genres listed),Almost Angels,1962.0
508,Going to the Mat,2004,G,19 Mar 2004,120,Drama|Family|Sport,Drama|Family|Sport,ChrisNolan(story)|LaurieNolan(story)|ChrisNola...,AndrewLawrence|KhleoThomas|AlessandraTorresani...,English,...,1 win & 3 nominations.,-1.0,6.9,1305,tt0399104,143235.0,Going to the Mat (2004),(no genres listed),Going to the Mat,2004.0
567,Life Is Ruff,2005,TV-G,15 Jul 2005,84,Comedy|Family,Comedy|Family,EddieGuzelian,KyleMassey|KayPanabaker|MitchelMusso|CarterJen...,English,...,NaN,-1.0,4.9,1290,tt0450455,142572.0,Life Is Ruff (2005),(no genres listed),Life Is Ruff,2005.0
635,Quints,2000,TV-G,18 Aug 2000,83,Comedy|Drama|Family,Comedy|Drama|Family,MatthewWeisman(story)|MatthewWeisman(teleplay)...,KimberlyJ.Brown|DanielRoebuck|ElizabethMorehea...,English,...,2 nominations.,-1.0,5.7,2243,tt0245380,136371.0,Quints (2000),(no genres listed),Quints,2000.0
643,Right on Track,2003,TV-G,21 Mar 2003,89,Biography|Drama|Family,Biography|Drama|Family,SallyNemeth|BruceGraham,BeverleyMitchell|BrieLarson|JonLindstrom|JodiR...,English,...,NaN,-1.0,6.3,1233,tt0323810,140461.0,Right on Track (2003),(no genres listed),Right on Track,2003.0
716,The Jungle Book: Mowgli's Story,1998,G,28 Sep 1998,77,Adventure|Family,Adventure|Family,RudyardKipling(book)|JoseRivera(teleplay)|JimH...,BrandonBaker|ShermanHoward|ClancyBrown|PeriGilpin,English,...,NaN,-1.0,4.2,677,tt0144262,165965.0,The Jungle Book: Mowgli's Story (1998),(no genres listed),The Jungle Book: Mowgli's Story,1998.0
731,The Prince and the Pauper,1962,TV-PG,11 Mar 1962,93,Adventure,Adventure,MarkTwain|JackWhittingham,GuyWilliams|LaurenceNaismith|DonaldHouston,English,...,NaN,-1.0,6.3,295,tt1836776,170056.0,The Prince and the Pauper (1962),(no genres listed),The Prince and the Pauper,1962.0
745,The Thirteenth Year,1999,TV-G,15 May 1999,95,Comedy|Family|Fantasy,Comedy|Family|Fantasy,JennyArata(story)|RobertL.Baird(teleplay)|Kell...,ChezStarbuck|JustinJonRoss|CourtneeDraper|Bren...,English,...,1 nomination.,-1.0,6.0,5072,tt0200208,136590.0,The Thirteenth Year (1999),(no genres listed),The Thirteenth Year,1999.0
792,Yellowstone Cubs,1963,Not-Rated,01 Jun 1963,48,Adventure|Family,Adventure|Family,RalphWright,RexAllen|JoeWay,English,...,1 nomination,-1.0,6.9,283,tt0206446,203639.0,Yellowstone Cubs (1963),(no genres listed),Yellowstone Cubs,1963.0
793,You Lucky Dog,1998,TV-G,27 Jun 1998,89,Comedy|Family|Fantasy|Mystery,Comedy|Family|Fantasy|Mystery,DavidCovell(story)|DavidCovell(teleplay)|Peter...,KirkCameron|ChelseaNoble|JohndeLancie|Christin...,English,...,NaN,-1.0,4.7,616,tt0153992,162702.0,You Lucky Dog (1998),(no genres listed),You Lucky Dog,1998.0

In [28]:
#genres na?
merged_tv_df.loc[merged_tv_df['Genre'].isna()]

,Title,Year,Rated,Released,Runtime,Genre,Director,Writer,Actors,Language,...,Awards,Metascore,IMDBRating,imdbVotes,imdbID,movieId,title,genres,movie_title,year
94,Built for Mars: The Perseverance Rover,2021,NaN,02 May 2021,88,NaN,NaN,MarkDavis,SteveFrench|MoogegaCooper|AdamSteltzner,NaN,...,NaN,-1.0,-1.0,50,tt13932270,NaN,NaN,NaN,NaN,NaN
211,Disney Holiday Magic Quest,2020,NaN,04 Dec 2020,45,NaN,NaN,NaN,Raven-Symoné|MiloManheim|KyleeRussell,English,...,NaN,-1.0,6.2,32,tt13522634,NaN,NaN,NaN,NaN,NaN
223,American Party Animals,2016,NaN,NaN,-1,NaN,NaN,NaN,NaN,NaN,...,NaN,-1.0,-1.0,-1,tt6925732,NaN,NaN,NaN,NaN,NaN
285,Destination World,2018,NaN,NaN,-1,NaN,NaN,NaN,RickRobles,English,...,NaN,-1.0,-1.0,-1,tt14630178,NaN,NaN,NaN,NaN,NaN
311,The Story of the Animated Drawing,1955,NaN,01 Nov 1955,50,NaN,NaN,NaN,NaN,NaN,...,NaN,-1.0,-1.0,-1,tt4903486,NaN,NaN,NaN,NaN,NaN
647,Rocky Mountain Animal Rescue,2018,NaN,NaN,-1,NaN,NaN,NaN,NaN,English,...,NaN,-1.0,8.4,27,tt9395780,NaN,NaN,NaN,NaN,NaN

In [29]:
#So after merged, we need to find titles in IMDB lists without it's corresponding MovieLens movieID
#then we take the MovieLens movieId & genres to add into merged_tv_df

for i in merged_tv_df.index:
    if str(merged_tv_df['movieId'][i]) == 'nan':  
        for j in ml_df.index:
            if merged_tv_df['Title'][i] == ml_df['movie_title'][j]:
                print("--------------------------")
                print(merged_tv_df['Title'][i])
                print(ml_df['movie_title'][j])
                merged_tv_df['movieId'][i] = ml_df['movieId'][j]
                merged_tv_df['genres'][i] = ml_df['genres'][j]
                print("--------------------------")

--------------------------
Spin
Spin
--------------------------

/Users/vuvie/opt/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()
/Users/vuvie/opt/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':

--------------------------
Spin
Spin
--------------------------
--------------------------
Spin
Spin
--------------------------
--------------------------
Spin
Spin
--------------------------
--------------------------
Under Wraps
Under Wraps
--------------------------
--------------------------
Turner & Hooch
Turner & Hooch
--------------------------
--------------------------
Mulan
Mulan
--------------------------
--------------------------
Mulan
Mulan
--------------------------
--------------------------
Black Beauty
Black Beauty
--------------------------
--------------------------
Black Beauty
Black Beauty
--------------------------
--------------------------
Black Beauty
Black Beauty
--------------------------
--------------------------
Once Upon a Time
Once Upon a Time
--------------------------
--------------------------
Once Upon a Time
Once Upon a Time
--------------------------
--------------------------
Once Upon a Time
Once Upon a Time
--------------------------
--------------------------
Once Upon a Time
Once Upon a Time
--------------------------
--------------------------
Once Upon a Time
Once Upon a Time
--------------------------
--------------------------
Magic Camp
Magic Camp
--------------------------
--------------------------
Elephant
Elephant
--------------------------
--------------------------
Elephant
Elephant
--------------------------
--------------------------
The Lodge
The Lodge
--------------------------
--------------------------
Drain the Titanic
Drain the Titanic
--------------------------
--------------------------
Pick of the Litter
Pick of the Litter
--------------------------
--------------------------
Wind
Wind
--------------------------
--------------------------
Wind
Wind
--------------------------
--------------------------
Wind
Wind
--------------------------
--------------------------
Float
Float
--------------------------
--------------------------
Gargoyles
Gargoyles
--------------------------
--------------------------
Hounded
Hounded
--------------------------
--------------------------
I'll Be Home for Christmas
I'll Be Home for Christmas
--------------------------
--------------------------
Jungle Cat
Jungle Cat
--------------------------
--------------------------
Lifted
Lifted
--------------------------
--------------------------
Swiss Family Robinson
Swiss Family Robinson
--------------------------
--------------------------
The Computer Wore Tennis Shoes
The Computer Wore Tennis Shoes
--------------------------

In [30]:
merged_tv_df.loc[merged_tv_df['Title'] == 'Lifted']

,Title,Year,Rated,Released,Runtime,Genre,Director,Writer,Actors,Language,...,Awards,Metascore,IMDBRating,imdbVotes,imdbID,movieId,title,genres,movie_title,year
570,Lifted,2006,G,29 Jun 2007,5,Animation|Short|Comedy,Animation|Short|Comedy,GaryRydstrom|JeffPidgeon|MaxwellBraceIV,ShebWooley,None,...,Nominated for 1 Oscar. 1 nomination total,-1.0,7.8,19290,tt0945571,133335.0,NaN,Children|Drama,NaN,NaN

In [31]:
merged_tv_df.loc[merged_tv_df['Genre'].isna()]

,Title,Year,Rated,Released,Runtime,Genre,Director,Writer,Actors,Language,...,Awards,Metascore,IMDBRating,imdbVotes,imdbID,movieId,title,genres,movie_title,year
94,Built for Mars: The Perseverance Rover,2021,NaN,02 May 2021,88,NaN,NaN,MarkDavis,SteveFrench|MoogegaCooper|AdamSteltzner,NaN,...,NaN,-1.0,-1.0,50,tt13932270,NaN,NaN,NaN,NaN,NaN
211,Disney Holiday Magic Quest,2020,NaN,04 Dec 2020,45,NaN,NaN,NaN,Raven-Symoné|MiloManheim|KyleeRussell,English,...,NaN,-1.0,6.2,32,tt13522634,NaN,NaN,NaN,NaN,NaN
223,American Party Animals,2016,NaN,NaN,-1,NaN,NaN,NaN,NaN,NaN,...,NaN,-1.0,-1.0,-1,tt6925732,NaN,NaN,NaN,NaN,NaN
285,Destination World,2018,NaN,NaN,-1,NaN,NaN,NaN,RickRobles,English,...,NaN,-1.0,-1.0,-1,tt14630178,NaN,NaN,NaN,NaN,NaN
311,The Story of the Animated Drawing,1955,NaN,01 Nov 1955,50,NaN,NaN,NaN,NaN,NaN,...,NaN,-1.0,-1.0,-1,tt4903486,NaN,NaN,NaN,NaN,NaN
647,Rocky Mountain Animal Rescue,2018,NaN,NaN,-1,NaN,NaN,NaN,NaN,English,...,NaN,-1.0,8.4,27,tt9395780,NaN,NaN,NaN,NaN,NaN

In [32]:
#drop the column if Genre is Null

merged_tv_df.dropna(subset = ['Genre'], inplace=True)

In [33]:
merged_tv_df.loc[merged_tv_df['Genre'].isna()]

Empty DataFrame
Columns: [Title, Year, Rated, Released, Runtime, Genre, Director, Writer, Actors, Language, Country, Awards, Metascore, IMDBRating, imdbVotes, imdbID, movieId, title, genres, movie_title, year]
Index: []

[0 rows x 21 columns]

In [34]:
#We are going to add the Genre to genres column if it is nan or (no genres listed) because we will keep genres 
#column (from MovieLens) and drop Genre column from IMDB.
#The reason is MovieLens genres have longer genres list than IMDB

for i in merged_disney_df.index:
    if str(merged_disney_df['title'][i]) == 'nan' or str(merged_disney_df['genres'][i]) =='(no genres listed)':
        print("List of Movies that IMDB Genre nan will be replaced by MovieLens genres")
        print(merged_disney_df['Title'][i])
        print(merged_disney_df['Genre'][i])
        print(merged_disney_df['genres'][i])
        merged_disney_df['genres'][i] = merged_disney_df['Genre'][i]
        print("--------------------------")
        
    elif len(merged_disney_df['Genre'][i]) > len(merged_disney_df['genres'][i]):
        print(merged_disney_df['Genre'][i])
        print(merged_disney_df['genres'][i])
        merged_disney_df['genres'][i] = merged_disney_df['Genre'][i]
        print("--------------------------")

List of Movies that IMDB Genre nan will be replaced by MovieLens genres
A Bug's Life
Animation|Adventure|Comedy
Animation|Adventure|Comedy
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
A Civil Action
Drama
Drama
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
A Far Off Place
Adventure|Drama|Family
Adventure|Drama|Family
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
A Goofy Movie
Animation|Adventure|Comedy
Animation|Adventure|Comedy
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Gun in Betty Lou's Handbag
Comedy|Mystery
Comedy|Mystery
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
A Kid in King Arthur's Court
Adventure|Comedy|Family
Adventure|Comedy|Family
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
A Lot Like Love
Comedy|Drama|Romance
Comedy|Drama|Romance
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
A Low Down Dirty Shame
Action|Comedy|Crime
Action|Comedy|Crime
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
A Pyromaniac's Love Story
Comedy|Romance
Comedy|Romance
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
A Simple Twist of Fate
Comedy|Drama
Comedy|Drama
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
A Stranger Among Us
Crime|Drama|Romance
Crime|Drama|Romance
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
A Thousand Acres
Drama
Drama
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Amy
Drama|Family
Drama|Family
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
An American Werewolf in Paris
Comedy|Fantasy|Horror
Comedy|Fantasy|Horror
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
An Innocent Man
Action|Crime|Drama
Action|Crime|Drama
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Avengers: Endgame
Action|Adventure|Drama
Action|Adventure|Drama
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Avengers: Infinity War
Action|Adventure|Sci-Fi
Action|Adventure|Sci-Fi
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Baby: Secret of the Lost Legend
Adventure|Family|Sci-Fi
Adventure|Family|Sci-Fi
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Black Panther
Action|Adventure|Sci-Fi
Action|Adventure|Sci-Fi
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Black Widow
Action|Adventure|Sci-Fi
Action|Adventure|Sci-Fi
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Captain Marvel
Action|Adventure|Sci-Fi
Action|Adventure|Sci-Fi
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Cruella
Adventure|Comedy|Crime
Adventure|Comedy|Crime
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
A Christmas Carol
Animation|Adventure|Comedy
Animation|Adventure|Comedy
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
DuckTales the Movie: Treasure of the Lost Lamp
Animation|Adventure|Comedy
Animation|Adventure|Comedy
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Ultimate X: The Movie
Documentary|Sport
Documentary|Sport
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Earth
Short|History
Short|History
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Encanto
Animation|Comedy|Family
Animation|Comedy|Family
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Eternals
Action|Adventure|Fantasy
Action|Adventure|Fantasy
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Guardians of the Galaxy Vol 2
Action|Adventure|Comedy
Action|Adventure|Comedy
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Hannah Montana and Miley Cyrus: Best of Both Worlds Concert
Documentary|Music
Documentary|Music
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Herbie Fully Loaded
Adventure|Comedy|Family
Adventure|Comedy|Family
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Houseguest
Comedy
Comedy
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
I'll Be Home for Christmas
Comedy|Family
Comedy|Family
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
It's Pat: The Movie
Comedy
Comedy
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Jonas Brothers: The 3D Concert Experience
Documentary|Music
Documentary|Music
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Jungle 2 Jungle
Comedy|Family
Comedy|Family
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Jungle Cruise
Action|Adventure|Comedy
Action|Adventure|Comedy
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Wind Rises
Animation|Biography|Drama
Animation|Biography|Drama
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Million Dollar Arm
Biography|Drama|Sport
Biography|Drama|Sport
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Night Crossing
Drama|Family|History
Drama|Family|History
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Onward
Animation|Adventure|Comedy
Animation|Adventure|Comedy
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Peter Pan 2: Return to Never Land
Animation|Adventure|Family
Animation|Adventure|Family
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Play It to the Bone
Comedy|Drama|Sport
Comedy|Drama|Sport
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Raya and the Last Dragon
Animation|Action|Adventure
Animation|Action|Adventure
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Roving Mars
Documentary|Short
Documentary|Short
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Shang-Chi and the Legend of the Ten Rings
Action|Adventure|Fantasy
Action|Adventure|Fantasy
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Star Wars: Episode VIII - The Last Jedi
Action|Adventure|Fantasy
Action|Adventure|Fantasy
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Step Up 2: The Streets
Drama|Music|Romance
Drama|Music|Romance
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The 13th Warrior
Action|Adventure|History
Action|Adventure|History
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Absent Minded Professor
Comedy|Family|Sci-Fi
Comedy|Family|Sci-Fi
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Adventures of Huck Finn
Adventure|Comedy|Drama
Adventure|Comedy|Drama
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Air Up There
Comedy|Family|Sport
Comedy|Family|Sport
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Apple Dumpling Gang
Comedy|Family|Western
Comedy|Family|Western
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Aristocats
Animation|Adventure|Comedy
Animation|Adventure|Comedy
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Associate
Comedy
Comedy
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Avengers
Action|Adventure|Sci-Fi
Action|Adventure|Sci-Fi
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Big Green
Comedy|Family|Sport
Comedy|Family|Sport
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Black Cauldron
Animation|Action|Adventure
Animation|Action|Adventure
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Black Hole
Action|Sci-Fi
Action|Sci-Fi
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Cemetery Club
Comedy
Comedy
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Chronicles of Narnia: Prince Caspian
Action|Adventure|Family
Action|Adventure|Family
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Chronicles of Narnia: The Lion, the Witch and the Wardrobe
Adventure|Family|Fantasy
Adventure|Family|Fantasy
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Color of Money
Drama|Sport
Drama|Sport
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Country Bears
Comedy|Family|Music
Comedy|Family|Music
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Crew
Comedy|Crime
Comedy|Crime
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Devil and Max Devlin
Comedy|Family|Fantasy
Comedy|Family|Fantasy
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Distinguished Gentleman
Comedy|Crime
Comedy|Crime
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Doctor
Drama
Drama
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Emperor's New Groove
Animation|Adventure|Comedy
Animation|Adventure|Comedy
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Fifth Estate
Biography|Crime|Drama
Biography|Crime|Drama
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Fox and the Hound
Animation|Adventure|Drama
Animation|Adventure|Drama
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Game Plan
Comedy|Family|Sport
Comedy|Family|Sport
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Good Mother
Drama|Romance
Drama|Romance
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Great Mouse Detective
Animation|Adventure|Family
Animation|Adventure|Family
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Greatest Game Ever Played
Biography|Drama|Sport
Biography|Drama|Sport
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Guardian
Action|Adventure|Drama
Action|Adventure|Drama
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Hand that Rocks the Cradle
Drama|Thriller
Drama|Thriller
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Haunted Mansion
Comedy|Family|Fantasy
Comedy|Family|Fantasy
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Help
Drama
Drama
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Hitchhiker's Guide to the Galaxy
Adventure|Comedy|Sci-Fi
Adventure|Comedy|Sci-Fi
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Hoax
Thriller
Thriller
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Horse Whisperer
Drama|Romance|Western
Drama|Romance|Western
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Hot Chick
Comedy|Fantasy
Comedy|Fantasy
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Hunchback of Notre Dame
Animation|Drama|Family
Animation|Drama|Family
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Incredibles
Animation|Action|Adventure
Animation|Action|Adventure
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Inkwell
Comedy|Drama|Romance
Comedy|Drama|Romance
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Insider
Biography|Drama|Thriller
Biography|Drama|Thriller
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Invisible
Crime|Drama|Fantasy
Crime|Drama|Fantasy
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Jerky Boys
Comedy|Crime
Comedy|Crime
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Journey of Natty Gann
Adventure|Family
Adventure|Family
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Joy Luck Club
Drama
Drama
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Jungle Book
Animation|Adventure|Comedy
Animation|Adventure|Comedy
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Jungle Book
Animation|Adventure|Comedy
Animation|Adventure|Comedy
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Jungle Book
Animation|Adventure|Comedy
Animation|Adventure|Comedy
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Kid
Comedy|Family|Fantasy
Comedy|Family|Fantasy
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Ladykillers
Comedy|Crime|Thriller
Comedy|Crime|Thriller
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Last Flight of Noah's Ark
Adventure|Family
Adventure|Family
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Last Shot
Comedy|Romance
Comedy|Romance
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Last Song
Drama|Music|Romance
Drama|Music|Romance
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Life Aquatic with Steve Zissou
Action|Adventure|Comedy
Action|Adventure|Comedy
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Lion King
Animation|Adventure|Drama
Animation|Adventure|Drama
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Lion King
Animation|Adventure|Drama
Animation|Adventure|Drama
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Little Mermaid
Animation|Adventure|Comedy
Animation|Adventure|Comedy
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Lizzie McGuire Movie
Adventure|Comedy|Family
Adventure|Comedy|Family
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Lone Ranger
Action|Adventure|Western
Action|Adventure|Western
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Lookout
Crime|Drama|Thriller
Crime|Drama|Thriller
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Many Adventures of Winnie the Pooh
Animation|Adventure|Comedy
Animation|Adventure|Comedy
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Marrying Man
Comedy|Music|Romance
Comedy|Music|Romance
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Mighty Ducks
Comedy|Drama|Family
Comedy|Drama|Family
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Muppet Christmas Carol
Comedy|Drama|Family
Comedy|Drama|Family
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Muppets
Adventure|Comedy|Family
Adventure|Comedy|Family
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Nightmare Before Christmas
Animation|Family|Fantasy
Animation|Family|Fantasy
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Nightmare Before Christmas
Animation|Family|Fantasy
Animation|Family|Fantasy
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Odd Life of Timothy Green
Comedy|Drama|Family
Comedy|Drama|Family
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Other Sister
Comedy|Drama|Romance
Comedy|Drama|Romance
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Pacifier
Action|Comedy|Drama
Action|Comedy|Drama
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Parent Trap
Adventure|Comedy|Drama
Adventure|Comedy|Drama
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Preacher's Wife
Comedy|Drama|Fantasy
Comedy|Drama|Fantasy
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Prestige
Drama|Mystery|Thriller
Drama|Mystery|Thriller
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Princess Diaries
Comedy|Family|Romance
Comedy|Family|Romance
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Princess Diaries 2: Royal Engagement
Comedy|Family|Romance
Comedy|Family|Romance
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Princess and the Frog
Animation|Adventure|Comedy
Animation|Adventure|Comedy
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Program
Action|Drama|Romance
Action|Drama|Romance
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Proposal
Comedy|Drama|Romance
Comedy|Drama|Romance
--------------------------

/Users/vuvie/opt/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()

List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Three Musketeers
Action|Adventure|Comedy
Action|Adventure|Comedy
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Tie That Binds
Crime|Drama|Thriller
Crime|Drama|Thriller
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Tigger Movie
Animation|Adventure|Comedy
Animation|Adventure|Comedy
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Village
Drama|Mystery|Thriller
Drama|Mystery|Thriller
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The War at Home
Drama
Drama
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Waterboy
Comedy|Sport
Comedy|Sport
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Wild
Animation|Adventure|Comedy
Animation|Adventure|Comedy
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
TRON
Action|Adventure|Sci-Fi
Action|Adventure|Sci-Fi
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
TRON: Legacy
Action|Adventure|Sci-Fi
Action|Adventure|Sci-Fi
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Up Close & Personal
Drama|Romance
Drama|Romance
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
What's Love Got to Do with It
Biography|Drama|Music
Biography|Drama|Music
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Who Framed Roger Rabbit
Animation|Adventure|Comedy
Animation|Adventure|Comedy
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Young Black Stallion
Adventure|Family|Drama
Adventure|Family|Drama
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Mafia!
Comedy|Crime
Comedy|Crime
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Star Wars: Episode IX - The Rise of Skywalker
Action|Adventure|Fantasy
Action|Adventure|Fantasy
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
An Alan Smithee Film: Burn Hollywood Burn
Comedy
Comedy
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Red Rock West
Crime|Drama|Thriller
Crime|Drama|Thriller
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Endurance
Biography|Drama|Sport
Biography|Drama|Sport
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Mars Needs Moms
Animation|Action|Adventure
Animation|Action|Adventure
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Jungle Book 2
Animation|Adventure|Comedy
Animation|Adventure|Comedy
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Secret World of Arrietty
Animation|Adventure|Drama
Animation|Adventure|Drama
--------------------------

In [35]:
merged_tv_df.isna().sum()

Title            0
Year             0
Rated          158
Released        10
Runtime          0
Genre            0
Director         0
Writer         194
Actors          32
Language        15
Country          7
Awards         398
Metascore        0
IMDBRating       0
imdbVotes        0
imdbID           0
movieId        473
title          493
genres         473
movie_title    493
year           493
dtype: int64

In [36]:
#Make a decision to fill Rated NULL to "G"
merged_tv_df['Rated'].fillna('G', inplace = True)

In [37]:
#This first test list is ready for ML K-means Clustering

merged_tv_df.to_csv (r'output/ML_tv_ready.csv', index = None, header=True)

In [ ]:
# #make a running number for column test
# ml_df['test'] = np.arange(len(ml_df))

# #add constant string in front of the running number for Primary Key
# ml_df['test'] = 'wc-00000' + ml_df['test'].astype(str)

# ml_df.head()

In [ ]:
# #check some titles
# merged_disney_df[merged_disney_df.Title.str.startswith('WAL')]

In [ ]:
# #check some titles
# ml_df[ml_df.title.str.startswith('WAL')]

In [ ]:
# #check some titles
# ml_df[ml_df.title.str.startswith('Déjà')]

### Load MovieLens Ratings dataset

In [ ]:
# #load Movie Lens ratings dataset
# ml_ratings_df = pd.read_csv('input/ratings.csv')
# ml_ratings_df.head()

In [ ]:
# ml_ratings_df.loc[ml_ratings_df['movieId'] == 49278]

In [ ]:
# ml_ratings_df[ml_ratings_df.movieId.str.startswith('49278')]