In [86]:
import pandas as pd
import numpy as np
import re

#DB packages
from sqlalchemy import create_engine as ce
from sqlalchemy.types import Integer, Text, String, DateTime, Float
from config import db_password

## We want to unify the MovieLens movieId and IMDBid for our database

### Load Completed IMDB Blockbuster movie dataset from 1_Resolve_IMDB_Disney_Movie_Title

In [2]:
#Load the complete IMDB dataset
complete_df = pd.read_csv('output/complete_Disney_movie.csv')
complete_df['Year'] = complete_df['Year'].str.split('–', 1).str[0]
complete_df['Genre'] = complete_df['Genre'].str.replace(',', '|')
complete_df['Genre'] = complete_df['Genre'].str.replace(' ', '')

complete_df['Director'] = complete_df['Director'].str.replace(',', '|')
#complete_df['Director'] = complete_df['Director'].str.replace(' ', '')

complete_df['Writer'] = complete_df['Writer'].str.replace(',', '|')
#complete_df['Writer'] = complete_df['Writer'].str.replace(' ', '')

complete_df['Actors'] = complete_df['Actors'].str.replace(',', '|')
#complete_df['Actors'] = complete_df['Actors'].str.replace(' ', '')

complete_df['Language'] = complete_df['Language'].str.replace(',', '|')
complete_df['Language'] = complete_df['Language'].str.replace(' ', '')

complete_df['Country'] = complete_df['Country'].str.replace(',', '|')
#complete_df['Country'] = complete_df['Country'].str.replace(' ', '')


#complete_df['imdbVotes'] = complete_df['imdbVotes'].str.replace(',', '')

complete_df.head()

,Title,Year,Rated,Released,Runtime,Genre,Director,Writer,Actors,Language,Country,Awards,Metascore,IMDBRating,imdbVotes,imdbID,total_gross,inflation_adjusted_gross
0,101 Dalmatians,1996,G,27 Nov 1996,103.0,Adventure|Comedy|Crime,Stephen Herek,Dodie Smith| John Hughes,Glenn Close| Jeff Daniels| Joely Richardson,English|Spanish,United States| United Kingdom,Nominated for 1 BAFTA Film Award3 wins & 10 no...,49.0,5.7,109762,tt0115433,153000000.0,1.386569e+09
1,101 Dalmatians,1996,G,27 Nov 1996,103.0,Adventure|Comedy|Crime,Stephen Herek,Dodie Smith| John Hughes,Glenn Close| Jeff Daniels| Joely Richardson,English|Spanish,United States| United Kingdom,Nominated for 1 BAFTA Film Award3 wins & 10 no...,49.0,5.7,109762,tt0115433,136189294.0,2.352021e+08
2,102 Dalmatians,2000,G,22 Nov 2000,100.0,Adventure|Comedy|Family,Kevin Lima,Dodie Smith| Kristen Buckley| Brian Regan,Glenn Close| Gérard Depardieu| Ioan Gruffudd,English,United States| United Kingdom,Nominated for 1 Oscar. 1 win & 8 nominations t...,35.0,4.9,37045,tt0211181,66941559.0,1.053377e+08
3,1492: Conquest of Paradise,1992,PG-13,09 Oct 1992,154.0,Adventure|Biography|Drama,Ridley Scott,Rose Bosch,Gérard Depardieu| Armand Assante| Sigourney We...,English|Spanish|Latin|Arabic,United Kingdom| France| Spain,2 nominations,47.0,6.4,29990,tt0103594,7099531.0,1.371176e+07
4,"20,000 Leagues Under the Sea",1954,G,20 Jul 1955,127.0,Adventure|Drama|Family,Richard Fleischer,Earl Felton| Jules Verne,Kirk Douglas| James Mason| Paul Lukas,English,United States,Won 2 Oscars. 5 wins & 3 nominations total,83.0,7.2,33152,tt0046672,28200000.0,2.840652e+08

In [3]:
complete_df['Year'] = complete_df['Year'].astype(int)

### Load MovieLens movies dataset

In [4]:
#load Movie Lens movies dataset
ml_df = pd.read_csv('input/movies.csv')
ml_df.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [5]:
#ml_df['title'] = ml_df['title'].str.replace('.','')
ml_df['movie_title'] = ml_df['title'].str.split(' \(', 1).str[0]
ml_df['movie_title'] = ml_df['movie_title'].str.replace('.','')
ml_df['year'] = ml_df['title'].str.extract('(\(\d{4}\)$)')
ml_df['year'] = ml_df['year'].str.replace('\)','')
ml_df['year'] = ml_df['year'].str.replace('\(','')

In [6]:
#Can't parse year to int as there are some null values
ml_df[ml_df['year'].isnull()]

,movieId,title,genres,movie_title,year
8463,25936,"Babe Ruth Story, The (1948)",Drama,"Babe Ruth Story, The",NaN
8602,26137,"Heroes of Telemark, The (1965)",Action|Drama|War,"Heroes of Telemark, The",NaN
8910,26628,Jack's Back (1988),Crime|Horror|Mystery|Thriller,Jack's Back,NaN
9120,27189,After the Rain (Ame agaru) (1999),Action|Drama,After the Rain,NaN
9763,32497,Love Letter (1995),Drama|Romance,Love Letter,NaN
...,...,...,...,...,...
62071,207714,Tales of Found Footage,(no genres listed),Tales of Found Footage,NaN
62104,207884,Enduring Destiny,(no genres listed),Enduring Destiny,NaN
62285,208597,Punk the Capital: Building a Sound Movement,Documentary,Punk the Capital: Building a Sound Movement,NaN
62326,208763,Yosemite: The Fate of Heaven,(no genres listed),Yosemite: The Fate of Heaven,NaN
62380,208973,The Falklands War: The Untold Story,(no genres listed),The Falklands War: The Untold Story,NaN

In [7]:
ml_df[ml_df.movie_title.str.startswith('101 Dalmatians')]

,movieId,title,genres,movie_title,year
1331,1367,101 Dalmatians (1996),Adventure|Children|Comedy,101 Dalmatians,1996
1996,2085,101 Dalmatians (One Hundred and One Dalmatians...,Adventure|Animation|Children,101 Dalmatians,1961
24273,121099,101 Dalmatians II: Patch's London Adventure (2...,Animation|Children,101 Dalmatians II: Patch's London Adventure,2003

In [8]:
#Fill Null year with -1
ml_df['year'].fillna("-1", inplace = True)
#Parse year as int
ml_df['year'] = ml_df['year'].astype(int)

In [9]:
#genres na?
ml_df.loc[ml_df['genres'].isna()]

Empty DataFrame
Columns: [movieId, title, genres, movie_title, year]
Index: []

In [10]:
#Merge the IMDB complete dataset and MovieLens dataset on movie_title & year ONLY
merged_disney_df =pd.merge(complete_df, ml_df, how='left', left_on=['Title', 'Year'], right_on=['movie_title', 'year'])
merged_disney_df.head()

,Title,Year,Rated,Released,Runtime,Genre,Director,Writer,Actors,Language,...,IMDBRating,imdbVotes,imdbID,total_gross,inflation_adjusted_gross,movieId,title,genres,movie_title,year
0,101 Dalmatians,1996,G,27 Nov 1996,103.0,Adventure|Comedy|Crime,Stephen Herek,Dodie Smith| John Hughes,Glenn Close| Jeff Daniels| Joely Richardson,English|Spanish,...,5.7,109762,tt0115433,153000000.0,1.386569e+09,1367.0,101 Dalmatians (1996),Adventure|Children|Comedy,101 Dalmatians,1996.0
1,101 Dalmatians,1996,G,27 Nov 1996,103.0,Adventure|Comedy|Crime,Stephen Herek,Dodie Smith| John Hughes,Glenn Close| Jeff Daniels| Joely Richardson,English|Spanish,...,5.7,109762,tt0115433,136189294.0,2.352021e+08,1367.0,101 Dalmatians (1996),Adventure|Children|Comedy,101 Dalmatians,1996.0
2,102 Dalmatians,2000,G,22 Nov 2000,100.0,Adventure|Comedy|Family,Kevin Lima,Dodie Smith| Kristen Buckley| Brian Regan,Glenn Close| Gérard Depardieu| Ioan Gruffudd,English,...,4.9,37045,tt0211181,66941559.0,1.053377e+08,3991.0,102 Dalmatians (2000),Children|Comedy,102 Dalmatians,2000.0
3,1492: Conquest of Paradise,1992,PG-13,09 Oct 1992,154.0,Adventure|Biography|Drama,Ridley Scott,Rose Bosch,Gérard Depardieu| Armand Assante| Sigourney We...,English|Spanish|Latin|Arabic,...,6.4,29990,tt0103594,7099531.0,1.371176e+07,8905.0,1492: Conquest of Paradise (1992),Adventure|Drama,1492: Conquest of Paradise,1992.0
4,"20,000 Leagues Under the Sea",1954,G,20 Jul 1955,127.0,Adventure|Drama|Family,Richard Fleischer,Earl Felton| Jules Verne,Kirk Douglas| James Mason| Paul Lukas,English,...,7.2,33152,tt0046672,28200000.0,2.840652e+08,1019.0,"20,000 Leagues Under the Sea (1954)",Adventure|Drama|Sci-Fi,"20,000 Leagues Under the Sea",1954.0

In [11]:
merged_disney_df.isna().sum()

Title                         0
Year                          0
Rated                         0
Released                      0
Runtime                       0
Genre                         0
Director                      1
Writer                        5
Actors                        0
Language                      0
Country                       0
Awards                      101
Metascore                     0
IMDBRating                    0
imdbVotes                     0
imdbID                        0
total_gross                   0
inflation_adjusted_gross      0
movieId                     165
title                       165
genres                      165
movie_title                 165
year                        165
dtype: int64

In [12]:
#genres na?
merged_disney_df.loc[merged_disney_df['genres'].isna()]

,Title,Year,Rated,Released,Runtime,Genre,Director,Writer,Actors,Language,...,IMDBRating,imdbVotes,imdbID,total_gross,inflation_adjusted_gross,movieId,title,genres,movie_title,year
11,A Bug's Life,1998,G,25 Nov 1998,95.0,Animation|Adventure|Comedy,John Lasseter| Andrew Stanton,John Lasseter| Andrew Stanton| Joe Ranft,Kevin Spacey| Dave Foley| Julia Louis-Dreyfus,English,...,7.2,284819,tt0120623,162798565.0,270635135.0,NaN,NaN,NaN,NaN,NaN
12,A Civil Action,1998,PG-13,08 Jan 1999,115.0,Drama,Steven Zaillian,Jonathan Harr| Steven Zaillian,John Travolta| Robert Duvall| Kathleen Quinlan,English,...,6.6,28711,tt0120633,56709981.0,94274254.0,NaN,NaN,NaN,NaN,NaN
13,A Far Off Place,1993,PG,12 Mar 1993,108.0,Adventure|Drama|Family,Mikael Salomon,Lourens van der Post| Robert Caswell| Jonathan...,Reese Witherspoon| Ethan Embry| Jack Thompson,English,...,6.5,3556,tt0106868,12890752.0,24173059.0,NaN,NaN,NaN,NaN,NaN
14,A Goofy Movie,1995,G,07 Apr 1995,78.0,Animation|Adventure|Comedy,Kevin Lima,Jymn Magon| Chris Matheson| Brian Pimental,Bill Farmer| Jason Marsden| Jim Cummings,English,...,6.9,52129,tt0113198,35336439.0,62828837.0,NaN,NaN,NaN,NaN,NaN
15,The Gun in Betty Lou's Handbag,1992,PG-13,21 Aug 1992,89.0,Comedy|Mystery,Allan Moyle,Grace Cary Bickley,Penelope Ann Miller| Eric Thal| Alfre Woodard,English,...,5.1,1683,tt0104376,3591460.0,6936407.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
605,Red Rock West,1993,R,14 May 1993,98.0,Crime|Drama|Thriller,John Dahl,John Dahl| Rick Dahl,Nicolas Cage| Dennis Hopper| Lara Flynn Boyle,English,...,7.0,22020,tt0105226,2502551.0,4575683.0,NaN,NaN,NaN,NaN,NaN
612,Endurance,1998,G,14 May 1999,83.0,Biography|Drama|Sport,Leslie Woodhead| Bud Greenspan,NaN,Haile Gebrselassie| Shawananness Gebrselassie|...,English,...,6.3,419,tt0120659,229128.0,372669.0,NaN,NaN,NaN,NaN,NaN
614,Mars Needs Moms,2010,PG,11 Mar 2011,88.0,Animation|Action|Adventure,Simon Wells,Simon Wells| Wendy Wells| Berkeley Breathed,Seth Green| Joan Cusack| Dan Fogler,English,...,5.4,22234,tt1305591,21392758.0,25770522.0,NaN,NaN,NaN,NaN,NaN
615,The Jungle Book 2,2002,G,14 Feb 2003,72.0,Animation|Adventure|Comedy,Steve Trenbirth,Karl Geurs| Carter Crocker| Evan Spiliotopoulos,John Goodman| Haley Joel Osment| Tony Jay,English,...,5.4,16161,tt0283426,47901582.0,70542889.0,NaN,NaN,NaN,NaN,NaN
616,The Secret World of Arrietty,2010,G,17 Feb 2012,94.0,Animation|Adventure|Drama,Hiromasa Yonebayashi,Mary Norton| Hayao Miyazaki| Keiko Niwa,Amy Poehler| Will Arnett| Mirai Shida,Japanese,...,7.6,89613,tt1568921,19192510.0,22651264.0,NaN,NaN,NaN,NaN,NaN

In [13]:
#genres na?
merged_disney_df.loc[merged_disney_df['genres'] == '(no genres listed)']

,Title,Year,Rated,Released,Runtime,Genre,Director,Writer,Actors,Language,...,IMDBRating,imdbVotes,imdbID,total_gross,inflation_adjusted_gross,movieId,title,genres,movie_title,year
333,Pirates of the Caribbean: Dead Men Tell No Tales,2017,PG-13,26 May 2017,129.0,Action|Adventure|Fantasy,Joachim Rønning| Espen Sandberg,Jeff Nathanson| Terry Rossio| Ted Elliott,Johnny Depp| Geoffrey Rush| Javier Bardem,English|Spanish,...,6.5,292790,tt1790809,172558876.0,190756685.0,122896.0,Pirates of the Caribbean: Dead Men Tell No Tal...,(no genres listed),Pirates of the Caribbean: Dead Men Tell No Tales,2017.0

In [14]:
#Replace Genre "Not Rated" with "Not-Rated"

merged_disney_df['Rated'] = merged_disney_df['Rated'].str.replace('Not Rated','Not-Rated')

In [15]:
merged_disney_df.isna().sum()

Title                         0
Year                          0
Rated                         0
Released                      0
Runtime                       0
Genre                         0
Director                      1
Writer                        5
Actors                        0
Language                      0
Country                       0
Awards                      101
Metascore                     0
IMDBRating                    0
imdbVotes                     0
imdbID                        0
total_gross                   0
inflation_adjusted_gross      0
movieId                     165
title                       165
genres                      165
movie_title                 165
year                        165
dtype: int64

In [16]:
#movieId na?
merged_disney_df.loc[merged_disney_df['movieId'].isna()]

,Title,Year,Rated,Released,Runtime,Genre,Director,Writer,Actors,Language,...,IMDBRating,imdbVotes,imdbID,total_gross,inflation_adjusted_gross,movieId,title,genres,movie_title,year
11,A Bug's Life,1998,G,25 Nov 1998,95.0,Animation|Adventure|Comedy,John Lasseter| Andrew Stanton,John Lasseter| Andrew Stanton| Joe Ranft,Kevin Spacey| Dave Foley| Julia Louis-Dreyfus,English,...,7.2,284819,tt0120623,162798565.0,270635135.0,NaN,NaN,NaN,NaN,NaN
12,A Civil Action,1998,PG-13,08 Jan 1999,115.0,Drama,Steven Zaillian,Jonathan Harr| Steven Zaillian,John Travolta| Robert Duvall| Kathleen Quinlan,English,...,6.6,28711,tt0120633,56709981.0,94274254.0,NaN,NaN,NaN,NaN,NaN
13,A Far Off Place,1993,PG,12 Mar 1993,108.0,Adventure|Drama|Family,Mikael Salomon,Lourens van der Post| Robert Caswell| Jonathan...,Reese Witherspoon| Ethan Embry| Jack Thompson,English,...,6.5,3556,tt0106868,12890752.0,24173059.0,NaN,NaN,NaN,NaN,NaN
14,A Goofy Movie,1995,G,07 Apr 1995,78.0,Animation|Adventure|Comedy,Kevin Lima,Jymn Magon| Chris Matheson| Brian Pimental,Bill Farmer| Jason Marsden| Jim Cummings,English,...,6.9,52129,tt0113198,35336439.0,62828837.0,NaN,NaN,NaN,NaN,NaN
15,The Gun in Betty Lou's Handbag,1992,PG-13,21 Aug 1992,89.0,Comedy|Mystery,Allan Moyle,Grace Cary Bickley,Penelope Ann Miller| Eric Thal| Alfre Woodard,English,...,5.1,1683,tt0104376,3591460.0,6936407.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
605,Red Rock West,1993,R,14 May 1993,98.0,Crime|Drama|Thriller,John Dahl,John Dahl| Rick Dahl,Nicolas Cage| Dennis Hopper| Lara Flynn Boyle,English,...,7.0,22020,tt0105226,2502551.0,4575683.0,NaN,NaN,NaN,NaN,NaN
612,Endurance,1998,G,14 May 1999,83.0,Biography|Drama|Sport,Leslie Woodhead| Bud Greenspan,NaN,Haile Gebrselassie| Shawananness Gebrselassie|...,English,...,6.3,419,tt0120659,229128.0,372669.0,NaN,NaN,NaN,NaN,NaN
614,Mars Needs Moms,2010,PG,11 Mar 2011,88.0,Animation|Action|Adventure,Simon Wells,Simon Wells| Wendy Wells| Berkeley Breathed,Seth Green| Joan Cusack| Dan Fogler,English,...,5.4,22234,tt1305591,21392758.0,25770522.0,NaN,NaN,NaN,NaN,NaN
615,The Jungle Book 2,2002,G,14 Feb 2003,72.0,Animation|Adventure|Comedy,Steve Trenbirth,Karl Geurs| Carter Crocker| Evan Spiliotopoulos,John Goodman| Haley Joel Osment| Tony Jay,English,...,5.4,16161,tt0283426,47901582.0,70542889.0,NaN,NaN,NaN,NaN,NaN
616,The Secret World of Arrietty,2010,G,17 Feb 2012,94.0,Animation|Adventure|Drama,Hiromasa Yonebayashi,Mary Norton| Hayao Miyazaki| Keiko Niwa,Amy Poehler| Will Arnett| Mirai Shida,Japanese,...,7.6,89613,tt1568921,19192510.0,22651264.0,NaN,NaN,NaN,NaN,NaN

In [17]:
#merged_disney_df['title'] = merged_disney_df['title'].astype(str)

#So after merged, we need to find titles in IMDB lists without it's corresponding MovieLens movieID
#then we take the MovieLens movieId & genres to add into merged_disney_df

for i in merged_disney_df.index:
    if str(merged_disney_df['movieId'][i]) == 'nan':  
        for j in ml_df.index:
            if merged_disney_df['Title'][i] == ml_df['movie_title'][j]:
                print("--------------------------")
                print(merged_disney_df['Title'][i])
                print(ml_df['movie_title'][j])
                merged_disney_df['movieId'][i] = ml_df['movieId'][j]
                merged_disney_df['genres'][i] = ml_df['genres'][j]
                print("--------------------------")

--------------------------
Amy
Amy
--------------------------

/Users/vuvie/opt/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]
/Users/vuvie/opt/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

--------------------------
Amy
Amy
--------------------------
--------------------------
Black Panther
Black Panther
--------------------------
--------------------------
Black Widow
Black Widow
--------------------------
--------------------------
Black Widow
Black Widow
--------------------------
--------------------------
Captain Marvel
Captain Marvel
--------------------------
--------------------------
A Christmas Carol
A Christmas Carol
--------------------------
--------------------------
A Christmas Carol
A Christmas Carol
--------------------------
--------------------------
Earth
Earth
--------------------------
--------------------------
Earth
Earth
--------------------------
--------------------------
Earth
Earth
--------------------------
--------------------------
Houseguest
Houseguest
--------------------------
--------------------------
I'll Be Home for Christmas
I'll Be Home for Christmas
--------------------------
--------------------------
Night Crossing
Night Crossing
--------------------------
--------------------------
The Black Hole
The Black Hole
--------------------------
--------------------------
The Black Hole
The Black Hole
--------------------------
--------------------------
The Black Hole
The Black Hole
--------------------------
--------------------------
The Chronicles of Narnia: The Lion, the Witch and the Wardrobe
The Chronicles of Narnia: The Lion, the Witch and the Wardrobe
--------------------------
--------------------------
The Crew
The Crew
--------------------------
--------------------------
The Crew
The Crew
--------------------------
--------------------------
The Good Mother
The Good Mother
--------------------------
--------------------------
The Jungle Book
The Jungle Book
--------------------------
--------------------------
The Jungle Book
The Jungle Book
--------------------------
--------------------------
The Jungle Book
The Jungle Book
--------------------------
--------------------------
The Kid
The Kid
--------------------------
--------------------------
The Kid
The Kid
--------------------------
--------------------------
The Kid
The Kid
--------------------------
--------------------------
The Lion King
The Lion King
--------------------------
--------------------------
The Lion King
The Lion King
--------------------------
--------------------------
The Little Mermaid
The Little Mermaid
--------------------------
--------------------------
The Little Mermaid
The Little Mermaid
--------------------------
--------------------------
The Lone Ranger
The Lone Ranger
--------------------------
--------------------------
The Lookout
The Lookout
--------------------------
--------------------------
The Program
The Program
--------------------------
--------------------------
The Proposal
The Proposal
--------------------------
--------------------------
The Sixth Sense
The Sixth Sense
--------------------------
--------------------------
The Sorcerer's Apprentice
The Sorcerer's Apprentice
--------------------------
--------------------------
The Three Musketeers
The Three Musketeers
--------------------------
--------------------------
The Three Musketeers
The Three Musketeers
--------------------------
--------------------------
The Village
The Village
--------------------------
--------------------------
The Village
The Village
--------------------------
--------------------------
The War at Home
The War at Home
--------------------------
--------------------------
Red Rock West
Red Rock West
--------------------------
--------------------------
Endurance
Endurance
--------------------------
--------------------------
Mars Needs Moms
Mars Needs Moms
--------------------------

In [18]:
merged_disney_df.loc[merged_disney_df['Title'] == 'The Little Mermaid']

,Title,Year,Rated,Released,Runtime,Genre,Director,Writer,Actors,Language,...,IMDBRating,imdbVotes,imdbID,total_gross,inflation_adjusted_gross,movieId,title,genres,movie_title,year
482,The Little Mermaid,1989,G,17 Nov 1989,83.0,Animation|Adventure|Comedy,Ron Clements| John Musker,John Musker| Ron Clements| Hans Christian Ande...,Jodi Benson| Samuel E. Wright| Rene Auberjonois,English|French,...,7.6,254101,tt0097757,111543479.0,243749487.0,193537.0,NaN,Animation|Fantasy,NaN,NaN

In [19]:
#We are going to add the Genre to genres column if it is nan or (no genres listed) because we will keep genres 
#column (from MovieLens) and drop Genre column from IMDB.
#The reason is MovieLens genres have longer genres list than IMDB

for i in merged_disney_df.index:
    if str(merged_disney_df['title'][i]) == 'nan' or str(merged_disney_df['genres'][i]) =='(no genres listed)':
        print("List of Movies that IMDB Genre nan will be replaced by MovieLens genres")
        print(merged_disney_df['Title'][i])
        print(merged_disney_df['Genre'][i])
        print(merged_disney_df['genres'][i])
        merged_disney_df['genres'][i] = merged_disney_df['Genre'][i]
        print("--------------------------")
        
    elif len(merged_disney_df['Genre'][i]) > len(merged_disney_df['genres'][i]):
        print(merged_disney_df['Genre'][i])
        print(merged_disney_df['genres'][i])
        merged_disney_df['genres'][i] = merged_disney_df['Genre'][i]
        print("--------------------------")

Adventure|Comedy|Family
Children|Comedy
--------------------------
Adventure|Biography|Drama
Adventure|Drama
--------------------------
Comedy|Drama|Family
Comedy
--------------------------
Comedy|Drama|Family
Comedy|Romance
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
A Bug's Life
Animation|Adventure|Comedy
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
A Civil Action
Drama
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
A Far Off Place
Adventure|Drama|Family
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
A Goofy Movie
Animation|Adventure|Comedy
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Gun in Betty Lou's Handbag
Comedy|Mystery
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
A Kid in King Arthur's Court
Adventure|Comedy|Family
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
A Lot Like Love
Comedy|Drama|Romance
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
A Low Down Dirty Shame
Action|Comedy|Crime
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
A Pyromaniac's Love Story
Comedy|Romance
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
A Simple Twist of Fate
Comedy|Drama
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
A Stranger Among Us
Crime|Drama|Romance
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
A Thousand Acres
Drama
nan
--------------------------
Adventure|Comedy|Crime
Adventure|Comedy
--------------------------
Comedy|Drama|Family
Children|Comedy
--------------------------
Comedy|Drama|Family
Comedy
--------------------------
Adventure|Family|Fantasy
Adventure|Fantasy|IMAX
--------------------------
Documentary|Family
Documentary|IMAX
--------------------------
Biography|Drama|Thriller
Drama
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Amy
Drama|Family
Documentary
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
An American Werewolf in Paris
Comedy|Fantasy|Horror
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
An Innocent Man
Action|Crime|Drama
nan
--------------------------
Comedy|Family|Fantasy
Children|Comedy

/Users/vuvie/opt/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/Users/vuvie/opt/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()

--------------------------
Drama|Romance|Sport
Drama
--------------------------
Comedy|Horror|Thriller
Comedy|Horror
--------------------------
Drama|Romance|Sport
Action
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Avengers: Endgame
Action|Adventure|Drama
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Avengers: Infinity War
Action|Adventure|Sci-Fi
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Baby: Secret of the Lost Legend
Adventure|Family|Sci-Fi
nan
--------------------------
Crime|Drama|Thriller
Action|Crime|Drama
--------------------------
Crime|Drama|Thriller
Action|Crime|Drama
--------------------------
Documentary|Family
Documentary
--------------------------
Crime|Drama|Mystery
Drama|Mystery
--------------------------
Drama|History|Horror
Drama
--------------------------
Comedy|Romance
Comedy
--------------------------
Animation|Action|Adventure
Action|Animation|Comedy
--------------------------
Comedy|Crime|Thriller
Comedy|Crime
--------------------------
Crime|Drama|Thriller
Crime|Drama
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Black Panther
Action|Adventure|Sci-Fi
Action|Adventure|Sci-Fi
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Black Widow
Action|Adventure|Sci-Fi
Drama|Mystery
--------------------------
Comedy|Family|Fantasy
Children|Comedy
--------------------------
Comedy|Crime|Family
Children|Comedy
--------------------------
Biography|Comedy|Drama
Comedy|Drama
--------------------------
Adventure|Comedy|Drama
Children|Comedy
--------------------------
Drama|Mystery|Romance
Drama
--------------------------
Drama|History|Thriller
Drama|Thriller
--------------------------
Adventure|Comedy|Romance
Comedy
--------------------------
Adventure|Comedy|Romance
Comedy
--------------------------
Comedy|Drama
Comedy
--------------------------
Comedy|Drama|Romance
Comedy|Romance
--------------------------
Action|Adventure|Sci-Fi
Action|Sci-Fi|Thriller
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Captain Marvel
Action|Adventure|Sci-Fi
Action|Adventure|Sci-Fi
--------------------------
Animation|Adventure|Comedy
Animation|Children|Comedy
--------------------------
Adventure|Comedy|Drama
Comedy|Drama|Romance
--------------------------
Comedy|Sport
Comedy
--------------------------
Adventure|Drama|Family
Adventure|Children
--------------------------
Documentary|Family
Documentary
--------------------------
Comedy|Drama|Romance
Drama|Romance
--------------------------
Drama|Mystery|Thriller
Drama|Thriller
--------------------------
Adventure|Comedy|Drama
Comedy
--------------------------
Drama|Mystery|Romance
Drama|Thriller
--------------------------
Comedy|Family|Music
Comedy
--------------------------
Crime|Drama|Mystery
Thriller
--------------------------
Adventure|Comedy|Family
Comedy
--------------------------
Action|Drama|Thriller
Drama|Thriller|War
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Cruella
Adventure|Comedy|Crime
nan
--------------------------
Comedy|Drama|Family
Children|Comedy
--------------------------
Action|Comedy|Drama
Children|Comedy
--------------------------
Biography|Drama
Drama
--------------------------
Comedy|Drama
Drama
--------------------------
Crime|Drama|Mystery
Thriller
--------------------------
Action|Adventure|Horror
Action|Horror|Sci-Fi
--------------------------
Comedy|Drama
Comedy
--------------------------
Comedy|Romance
Comedy
--------------------------
Action|Comedy|Crime
Action|Crime
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
A Christmas Carol
Animation|Adventure|Comedy
Children
--------------------------
Action|Comedy|Crime
Action|Comedy
--------------------------
Action|Adventure|Fantasy
Action|Adventure|Sci-Fi
--------------------------
Action|Comedy|Crime
Action|Comedy
--------------------------
Animation|Adventure|Comedy
Animation|Children
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
DuckTales the Movie: Treasure of the Lost Lamp
Animation|Adventure|Comedy
nan
--------------------------
Comedy|Drama|Music
Comedy|Drama
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Ultimate X: The Movie
Documentary|Sport
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Earth
Short|History
Documentary
--------------------------
Biography|Comedy|Drama
Comedy|Drama
--------------------------
Comedy|Sport
Comedy
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Encanto
Animation|Comedy|Family
nan
--------------------------
Comedy|Family
Comedy
--------------------------
Comedy|Crime|Family
Comedy
--------------------------
Comedy|Family|Fantasy
Children|Comedy
--------------------------
Comedy|Family|Fantasy
Comedy
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Eternals
Action|Adventure|Fantasy
nan
--------------------------
Biography|Drama|History
Drama|Musical
--------------------------
Adventure|Comedy|Crime
Comedy
--------------------------
Comedy|Family|Romance
Comedy
--------------------------
Comedy|Family|Romance
Comedy
--------------------------
Crime|Drama|Mystery
Drama
--------------------------
Drama|Mystery|Thriller
Action|Drama|Thriller
--------------------------
Action|Drama|War
Action|Drama
--------------------------
Action|Adventure|Comedy
Children|Comedy
--------------------------
Documentary|Family
Documentary|IMAX
--------------------------
Biography|Drama|Sport
Drama
--------------------------
Comedy|Crime
Comedy
--------------------------
Action|Crime|Thriller
Action|Crime
--------------------------
Biography|Comedy|Drama
Comedy|Drama|War
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Guardians of the Galaxy Vol 2
Action|Adventure|Comedy
nan
--------------------------
Comedy|Crime|Romance
Comedy
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Hannah Montana and Miley Cyrus: Best of Both Worlds Concert
Documentary|Music
nan
--------------------------
Drama|Sport
Drama
--------------------------
Comedy|Musical|Romance
Comedy
--------------------------
Comedy|Drama|Family
Children|Comedy
--------------------------
Comedy|Drama|Fantasy
Comedy
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Herbie Fully Loaded
Adventure|Comedy|Family
nan
--------------------------
Action|Adventure|Biography
Adventure|Drama
--------------------------
Comedy|Drama|Family
Musical
--------------------------
Comedy|Drama
Comedy
--------------------------
Adventure|Comedy|Family
Adventure|Children
--------------------------
Adventure|Comedy|Family
Children|Comedy|Sci-Fi
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Houseguest
Comedy
Comedy
--------------------------
Action|Comedy|Romance
Action|Comedy
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
I'll Be Home for Christmas
Comedy|Family
Children|Drama
--------------------------
Comedy|Drama|Romance
Comedy|Drama
--------------------------
Action|Comedy|Crime
Comedy|Horror
--------------------------
Biography|Drama|Sport
Drama
--------------------------
Adventure|Family
Adventure
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
It's Pat: The Movie
Comedy
nan
--------------------------
Comedy|Drama|Fantasy
Comedy|Drama
--------------------------
Biography|Drama|History
Drama
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Jonas Brothers: The 3D Concert Experience
Documentary|Music
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Jungle 2 Jungle
Comedy|Family
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Jungle Cruise
Action|Adventure|Comedy
nan
--------------------------
Adventure|Comedy|Fantasy
Comedy|Fantasy
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Wind Rises
Animation|Biography|Drama
nan

--------------------------
Biography|Drama|History
Drama
--------------------------
Drama|Thriller
Drama
--------------------------
Comedy|Family
Comedy
--------------------------
Biography|Drama|History
Drama|War
--------------------------
Comedy|Drama|Romance
Drama|Romance
--------------------------
Adventure|Family|Fantasy
Fantasy
--------------------------
Comedy|Family
Comedy
--------------------------
Adventure|Comedy|Family
Children|Fantasy
--------------------------
Comedy|Crime|Family
Children|Comedy
--------------------------
Biography|Drama|Sport
Drama
--------------------------
Adventure|Drama|Romance
Adventure|Romance
--------------------------
Comedy|Romance
Comedy
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Million Dollar Arm
Biography|Drama|Sport
nan
--------------------------
Biography|Drama|History
Drama
--------------------------
Adventure|Sci-Fi|Thriller
Sci-Fi
--------------------------
Comedy|Crime|Drama
Comedy|Crime
--------------------------
Documentary|Sport
Documentary
--------------------------
Comedy|Fantasy|Horror
Comedy
--------------------------
Comedy|Family|Sci-Fi
Comedy|Sci-Fi
--------------------------
Action|Adventure|Comedy
Adventure|Sci-Fi
--------------------------
Comedy|Drama|Sport
Comedy|Drama
--------------------------
Action|Adventure|Mystery
Action|Adventure
--------------------------
Comedy|Drama|Romance
Comedy|Drama
--------------------------
Drama|Family|History
Children|Musical
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Night Crossing
Drama|Family|History
Drama
--------------------------
Biography|Drama|History
Drama
--------------------------
Comedy|Crime|Romance
Comedy|Romance
--------------------------
Comedy|Family
Comedy
--------------------------
Family|Fantasy
Drama|Fantasy
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Onward
Animation|Adventure|Comedy
nan
--------------------------
Action|Drama|Romance
Western
--------------------------
Comedy|Sport
Comedy
--------------------------
Comedy|Drama
Drama
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Peter Pan 2: Return to Never Land
Animation|Adventure|Family
nan
--------------------------
Drama|Fantasy|Romance
Drama|Romance
--------------------------
Animation|Adventure|Comedy
Animation|Children
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Pirates of the Caribbean: Dead Men Tell No Tales
Action|Adventure|Fantasy
(no genres listed)
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Play It to the Bone
Comedy|Drama|Sport
nan
--------------------------
Animation|Adventure|Comedy
Animation|Children
--------------------------
Drama|Fantasy|Mystery
Drama|Sci-Fi
--------------------------
Biography|Drama|Romance
Drama
--------------------------
Action|Adventure|Drama
Horror|Thriller
--------------------------
Comedy|Drama|Family
Comedy|Drama
--------------------------
Biography|Drama|Sport
Drama
--------------------------
Biography|Drama|History
Drama
--------------------------
Animation|Adventure|Comedy
Animation|Children
--------------------------
Action|Crime|Thriller
Crime|Thriller
--------------------------
Animation|Adventure|Comedy
Animation|Children|Drama
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Raya and the Last Dragon
Animation|Action|Adventure
nan
--------------------------
Animation|Adventure|Comedy
Animation|Children
--------------------------
Biography|Drama|Sport
Drama
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Roving Mars
Documentary|Short
nan
--------------------------
Biography|Drama|Sport
Drama
--------------------------
Comedy|Drama|Romance
Comedy|Drama
--------------------------
Comedy|Crime
Comedy
--------------------------
Drama|Musical
Drama
--------------------------
Biography|Drama|Family
Adventure|Drama
--------------------------
Action|Thriller
Thriller
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Shang-Chi and the Legend of the Ten Rings
Action|Adventure|Fantasy
nan
--------------------------
Action|Adventure|Crime
Action|Adventure
--------------------------
Comedy|Drama|Family
Drama
--------------------------
Comedy|Family|Music
Comedy|Crime
--------------------------
Comedy|Family|Music
Comedy
--------------------------
Action|Comedy
Comedy
--------------------------
Adventure|Biography|Drama
Adventure|Drama
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Star Wars: Episode VIII - The Last Jedi
Action|Adventure|Fantasy
nan
--------------------------
Drama|Romance
Drama
--------------------------
Crime|Drama|Music
Drama|Romance
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Step Up 2: The Streets
Drama|Music|Romance
nan
--------------------------
Comedy|Drama|Sport
Comedy
--------------------------
Comedy|Drama|Romance
Comedy
--------------------------
Crime|Drama|Romance
Drama
--------------------------
Drama|Music
Drama|War
--------------------------
Animation|Adventure|Comedy
Animation|Children
--------------------------
Comedy|Drama|Romance
Comedy|Romance
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The 13th Warrior
Action|Adventure|History
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Absent Minded Professor
Comedy|Family|Sci-Fi
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Adventures of Huck Finn
Adventure|Comedy|Drama
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Air Up There
Comedy|Family|Sport
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Apple Dumpling Gang
Comedy|Family|Western
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Aristocats
Animation|Adventure|Comedy
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Associate
Comedy
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Avengers
Action|Adventure|Sci-Fi
nan
--------------------------
Adventure|Family|Fantasy
Children|Fantasy
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Big Green
Comedy|Family|Sport
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Black Cauldron
Animation|Action|Adventure
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Black Hole
Action|Sci-Fi
Comedy|Crime
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Cemetery Club
Comedy
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Chronicles of Narnia: Prince Caspian
Action|Adventure|Family
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Chronicles of Narnia: The Lion, the Witch and the Wardrobe
Adventure|Family|Fantasy
Adventure|Children|Fantasy
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Color of Money
Drama|Sport
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Country Bears
Comedy|Family|Music
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Crew
Comedy|Crime
Crime|Drama|Thriller
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Devil and Max Devlin
Comedy|Family|Fantasy
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Distinguished Gentleman
Comedy|Crime
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Doctor
Drama
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres

The Emperor's New Groove
Animation|Adventure|Comedy
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Fifth Estate
Biography|Crime|Drama
nan
--------------------------
Action|Drama|History
Drama|Thriller
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Fox and the Hound
Animation|Adventure|Drama
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Game Plan
Comedy|Family|Sport
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Good Mother
Drama|Romance
Drama|Mystery|Thriller
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Great Mouse Detective
Animation|Adventure|Family
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Greatest Game Ever Played
Biography|Drama|Sport
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Guardian
Action|Adventure|Drama
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Hand that Rocks the Cradle
Drama|Thriller
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Haunted Mansion
Comedy|Family|Fantasy
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Help
Drama
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Hitchhiker's Guide to the Galaxy
Adventure|Comedy|Sci-Fi
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Hoax
Thriller
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Horse Whisperer
Drama|Romance|Western
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Hot Chick
Comedy|Fantasy
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Hunchback of Notre Dame
Animation|Drama|Family
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Incredibles
Animation|Action|Adventure
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Inkwell
Comedy|Drama|Romance
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Insider
Biography|Drama|Thriller
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Invisible
Crime|Drama|Fantasy
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Jerky Boys
Comedy|Crime
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Journey of Natty Gann
Adventure|Family
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Joy Luck Club
Drama
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Jungle Book
Animation|Adventure|Comedy
Adventure|Drama|Fantasy
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Jungle Book
Animation|Adventure|Comedy
Adventure|Drama|Fantasy
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Jungle Book
Animation|Adventure|Comedy
Adventure|Drama|Fantasy
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Kid
Comedy|Family|Fantasy
Drama|Western
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Ladykillers
Comedy|Crime|Thriller
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Last Flight of Noah's Ark
Adventure|Family
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Last Shot
Comedy|Romance
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Last Song
Drama|Music|Romance
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Life Aquatic with Steve Zissou
Action|Adventure|Comedy
nan
--------------------------
Drama|Romance
Drama
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Lion King
Animation|Adventure|Drama
Adventure|Animation|Children|Drama
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Lion King
Animation|Adventure|Drama
Adventure|Animation|Children|Drama
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Little Mermaid
Animation|Adventure|Comedy
Animation|Fantasy
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Lizzie McGuire Movie
Adventure|Comedy|Family
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Lone Ranger
Action|Adventure|Western
Western
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Lookout
Crime|Drama|Thriller
Action|Crime|Thriller
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Many Adventures of Winnie the Pooh
Animation|Adventure|Comedy
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Marrying Man
Comedy|Music|Romance
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Mighty Ducks
Comedy|Drama|Family
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Muppet Christmas Carol
Comedy|Drama|Family
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Muppets
Adventure|Comedy|Family
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Nightmare Before Christmas
Animation|Family|Fantasy
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Nightmare Before Christmas
Animation|Family|Fantasy
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Odd Life of Timothy Green
Comedy|Drama|Family
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Other Sister
Comedy|Drama|Romance
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Pacifier
Action|Comedy|Drama
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Parent Trap
Adventure|Comedy|Drama
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Preacher's Wife
Comedy|Drama|Fantasy
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Prestige
Drama|Mystery|Thriller
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Princess Diaries
Comedy|Family|Romance
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Princess Diaries 2: Royal Engagement
Comedy|Family|Romance
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Princess and the Frog
Animation|Adventure|Comedy
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Program
Action|Drama|Romance
Drama
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Proposal
Comedy|Drama|Romance
Documentary
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Puppet Masters
Horror|Sci-Fi|Thriller
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Recruit
Action|Thriller
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Ref
Comedy|Crime|Drama
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Rescuers
Animation|Adventure|Comedy
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Rescuers Down Under
Animation|Adventure|Comedy
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Rich Man's Wife
Thriller
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Rock
Action|Adventure|Thriller
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Rocketeer
Action|Adventure|Family
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Rookie
Drama|Family|Sport
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Royal Tenenbaums
Comedy|Drama
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Santa Clause
Comedy|Drama|Family
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Santa Clause 2
Comedy|Family|Fantasy
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Santa Clause 3: The Escape Clause
Adventure|Comedy|Family
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Scarlet Letter
Drama|Romance
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Shaggy Dog
Comedy|Family|Fantasy
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Sixth Man
Comedy|Drama|Fantasy
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Sixth Sense
Drama|Mystery|Thriller
Drama
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Sorcerer's Apprentice
Action|Adventure|Family
Animation|Drama
--------------------------

List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Straight Story
Biography|Drama
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Sword in the Stone
Animation|Adventure|Comedy
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Three Musketeers
Action|Adventure|Comedy
Adventure|Comedy
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Tie That Binds
Crime|Drama|Thriller
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Tigger Movie
Animation|Adventure|Comedy
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Village
Drama|Mystery|Thriller
Animation
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The War at Home
Drama
Documentary|War
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Waterboy
Comedy|Sport
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Wild
Animation|Adventure|Comedy
nan
--------------------------
Adventure|Comedy|Drama
Adventure|Children
--------------------------
Action|Biography|Drama
Action|Drama|Western
--------------------------
Comedy|Crime
Comedy
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
TRON
Action|Adventure|Sci-Fi
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
TRON: Legacy
Action|Adventure|Sci-Fi
nan
--------------------------
Drama|Family|Fantasy
Drama|Fantasy
--------------------------
Comedy|Crime|Drama
Comedy|Crime
--------------------------
Drama|Mystery|Sci-Fi
Drama|Sci-Fi
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Up Close & Personal
Drama|Romance
nan
--------------------------
Biography|Crime|Drama
Crime|Drama|Thriller
--------------------------
Action|Adventure|Drama
Drama|War
--------------------------
Drama|Romance
Drama
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
What's Love Got to Do with It
Biography|Drama|Music
nan
--------------------------
Comedy|Drama|Romance
Comedy|Romance
--------------------------
Adventure|Drama
Adventure
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Who Framed Roger Rabbit
Animation|Adventure|Comedy
nan
--------------------------
Drama|Family|Romance
Drama|Romance
--------------------------
Action|Adventure|Comedy
Adventure|Comedy
--------------------------
Animation|Adventure|Comedy
Animation|Children|Comedy
--------------------------
Animation|Adventure|Comedy
Animation|Comedy
--------------------------
Documentary|Sport
Documentary
--------------------------
Comedy|Romance
Comedy
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Young Black Stallion
Adventure|Family|Drama
nan
--------------------------
Action|Adventure|Family
Sci-Fi
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Mafia!
Comedy|Crime
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Star Wars: Episode IX - The Rise of Skywalker
Action|Adventure|Fantasy
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
An Alan Smithee Film: Burn Hollywood Burn
Comedy
nan
--------------------------
Adventure|Drama|Sport
Action|Drama
--------------------------
Drama|Romance|Sport
Drama
--------------------------
Biography|Drama|History
Drama
--------------------------
Comedy|Drama|Romance
Comedy|Drama
--------------------------
Comedy|Fantasy|Romance
Comedy|Fantasy
--------------------------
Drama|Music
Drama
--------------------------
Adventure|Comedy|Family
Comedy
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Red Rock West
Crime|Drama|Thriller
Thriller
--------------------------
Biography|Comedy|Drama
Comedy|Drama
--------------------------
Action|Adventure|Fantasy
Action|Adventure|Sci-Fi
--------------------------
Documentary|Drama|History
Animation|Documentary
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Endurance
Biography|Drama|Sport
Documentary|Drama
--------------------------
Drama|Romance
Drama
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Mars Needs Moms
Animation|Action|Adventure
Action|Adventure|Animation|Children|Comedy|Sci-Fi|IMAX
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Jungle Book 2
Animation|Adventure|Comedy
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Secret World of Arrietty
Animation|Adventure|Drama
nan
--------------------------

In [96]:
list(merged_disney_df)

['Title',
 'Year',
 'Rated',
 'Released',
 'Runtime',
 'Director',
 'Writer',
 'Actors',
 'Language',
 'Country',
 'Awards',
 'Metascore',
 'IMDBRating',
 'imdbVotes',
 'imdbID',
 'total_gross',
 'inflation_adjusted_gross',
 'genres']

In [97]:
merged_disney_df.drop(columns=['movie_title', 'year', 'movieId', 'title', 'Genre'], inplace = True)

KeyError: "['movie_title' 'year' 'movieId' 'title' 'Genre'] not found in axis"

In [98]:
merged_disney_df.head()

,Title,Year,Rated,Released,Runtime,Director,Writer,Actors,Language,Country,Awards,Metascore,IMDBRating,imdbVotes,imdbID,total_gross,inflation_adjusted_gross,genres
0,101 Dalmatians,1996,G,27 Nov 1996,103.0,Stephen Herek,Dodie Smith| John Hughes,Glenn Close| Jeff Daniels| Joely Richardson,English|Spanish,United States| United Kingdom,Nominated for 1 BAFTA Film Award3 wins & 10 no...,49.0,5.7,109762,tt0115433,153000000.0,1.386569e+09,Adventure|Children|Comedy
1,101 Dalmatians,1996,G,27 Nov 1996,103.0,Stephen Herek,Dodie Smith| John Hughes,Glenn Close| Jeff Daniels| Joely Richardson,English|Spanish,United States| United Kingdom,Nominated for 1 BAFTA Film Award3 wins & 10 no...,49.0,5.7,109762,tt0115433,136189294.0,2.352021e+08,Adventure|Children|Comedy
2,102 Dalmatians,2000,G,22 Nov 2000,100.0,Kevin Lima,Dodie Smith| Kristen Buckley| Brian Regan,Glenn Close| Gérard Depardieu| Ioan Gruffudd,English,United States| United Kingdom,Nominated for 1 Oscar. 1 win & 8 nominations t...,35.0,4.9,37045,tt0211181,66941559.0,1.053377e+08,Adventure|Comedy|Family
3,1492: Conquest of Paradise,1992,PG-13,09 Oct 1992,154.0,Ridley Scott,Rose Bosch,Gérard Depardieu| Armand Assante| Sigourney We...,English|Spanish|Latin|Arabic,United Kingdom| France| Spain,2 nominations,47.0,6.4,29990,tt0103594,7099531.0,1.371176e+07,Adventure|Biography|Drama
4,"20,000 Leagues Under the Sea",1954,G,20 Jul 1955,127.0,Richard Fleischer,Earl Felton| Jules Verne,Kirk Douglas| James Mason| Paul Lukas,English,United States,Won 2 Oscars. 5 wins & 3 nominations total,83.0,7.2,33152,tt0046672,28200000.0,2.840652e+08,Adventure|Drama|Sci-Fi

In [99]:
#This first test list is ready for ML K-means Clustering
merged_disney_df.to_csv (r'output/ML_bb_ready.csv', index = None, header=True)

## Transform the DF for Postgres SQL INSERT

Change the table names to lowercap as postgres does not seem to do well with Caps

In [101]:
merged_disney_df.rename(columns={'imdbID': 'imdb_id', 'Title': 'title', 'Year': 'year', 'Rated': 'rated',\
                                'Released':'released', 'Runtime': 'runtime', 'IMDBRating': 'imdb_rating',\
                                'imdbVotes': 'imdb_votes', 'Awards': 'awards', 'Metascore': 'metascore',\
                                'Language':'language', 'Country': 'country'}, inplace=True)

In [103]:
movies_df = merged_disney_df[['imdb_id','title', 'year', 'rated', 'released', 'runtime', 'genres', 'imdb_rating',\
                              'imdb_votes']]

In [104]:
#create a df for awards
awards_df = merged_disney_df[['imdb_id', 'awards']]
#make a running number
awards_df['awards_id'] = np.arange(len(awards_df))
#add constant string in front of the running number for Primary Key
awards_df['awards_id'] = 'a-000' + awards_df['awards_id'].astype(str)
awards_df.head()

/Users/vuvie/opt/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/Users/vuvie/opt/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

     imdb_id                                             awards awards_id
0  tt0115433  Nominated for 1 BAFTA Film Award3 wins & 10 no...    a-0000
1  tt0115433  Nominated for 1 BAFTA Film Award3 wins & 10 no...    a-0001
2  tt0211181  Nominated for 1 Oscar. 1 win & 8 nominations t...    a-0002
3  tt0103594                                      2 nominations    a-0003
4  tt0046672         Won 2 Oscars. 5 wins & 3 nominations total    a-0004

In [105]:
#create a df for metascore
metascore_df = merged_disney_df[['imdb_id', 'metascore']]
#make a running number
metascore_df['ms_id'] = np.arange(len(metascore_df))
#add constant string in front of the running number for Primary Key
metascore_df['ms_id'] = 'ms-000' + metascore_df['ms_id'].astype(str)
metascore_df.tail()

/Users/vuvie/opt/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/Users/vuvie/opt/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

       imdb_id  metascore      ms_id
612  tt0120659       -1.0  ms-000612
613  tt0119125       -1.0  ms-000613
614  tt1305591       49.0  ms-000614
615  tt0283426       38.0  ms-000615
616  tt1568921       80.0  ms-000616

In [106]:
#create a df for language country
language_country_df = merged_disney_df[['imdb_id', 'language', 'country']]
#make a running number
language_country_df['lc_id'] = np.arange(len(language_country_df))
#add constant string in front of the running number for Primary Key
language_country_df['lc_id'] = 'lc-000' + language_country_df['lc_id'].astype(str)
language_country_df.head()

/Users/vuvie/opt/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/Users/vuvie/opt/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,imdb_id,language,country,lc_id
0,tt0115433,English|Spanish,United States| United Kingdom,lc-0000
1,tt0115433,English|Spanish,United States| United Kingdom,lc-0001
2,tt0211181,English,United States| United Kingdom,lc-0002
3,tt0103594,English|Spanish|Latin|Arabic,United Kingdom| France| Spain,lc-0003
4,tt0046672,English,United States,lc-0004

In [107]:
#create a df for gross revenue
gross_revenue_df = merged_disney_df[['imdb_id', 'total_gross', 'inflation_adjusted_gross']]
#make a running number
gross_revenue_df['rev_id'] = np.arange(len(revenue_df))
#add constant string in front of the running number for Primary Key
gross_revenue_df['rev_id'] = 'r-000' + revenue_df['rev_id'].astype(str)
gross_revenue_df.head()

/Users/vuvie/opt/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/Users/vuvie/opt/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

     imdb_id  total_gross  inflation_adjusted_gross       rev_id
0  tt0115433  153000000.0              1.386569e+09  r-000r-0000
1  tt0115433  136189294.0              2.352021e+08  r-000r-0001
2  tt0211181   66941559.0              1.053377e+08  r-000r-0002
3  tt0103594    7099531.0              1.371176e+07  r-000r-0003
4  tt0046672   28200000.0              2.840652e+08  r-000r-0004

## Open Database CONNECTION

In [108]:
# Connect to PostgreSQL
db_engine = ce (f"postgresql://postgres:{db_password}@127.0.0.1:5433/Disney", echo=True)

In [115]:
movies_df.to_sql('movies' , db_engine, if_exists='replace')

2022-04-07 23:51:28,872 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2022-04-07 23:51:28,897 INFO sqlalchemy.engine.base.Engine {'name': 'movies'}
2022-04-07 23:51:28,935 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2022-04-07 23:51:28,937 INFO sqlalchemy.engine.base.Engine {'name': 'movies'}
2022-04-07 23:51:28,962 INFO sqlalchemy.engine.base.Engine SELECT c.relname FROM pg_class c JOIN pg_namespace n ON n.oid = c.relnamespace WHERE n.nspname = %(schema)s AND c.relkind in ('r', 'p')
2022-04-07 23:51:28,963 INFO sqlalchemy.engine.base.Engine {'schema': 'public'}
2022-04-07 23:51:28,971 INFO sqlalchemy.engine.base.Engine
            SELECT c.oid
            FROM pg_catalog.pg_class c
            LEFT JOIN pg_catalog.pg_namespace n ON n.oid = c.relnamespace
            WHERE (pg_catalog.pg_table_is_visible(c.oid))
            AND c.relname = %(table_name)s AND c.relkind in
            ('r', 'v', 'm', 'f', 'p')

2022-04-07 23:51:28,973 INFO sqlalchemy.engine.base.Engine {'table_name': 'movies'}
2022-04-07 23:51:28,984 INFO sqlalchemy.engine.base.Engine
            SELECT a.attname,
              pg_catalog.format_type(a.atttypid, a.atttypmod),
              (SELECT pg_catalog.pg_get_expr(d.adbin, d.adrelid)
                FROM pg_catalog.pg_attrdef d
               WHERE d.adrelid = a.attrelid AND d.adnum = a.attnum
               AND a.atthasdef)
              AS DEFAULT,
              a.attnotnull, a.attnum, a.attrelid as table_oid,
              pgd.description as comment,
              a.attgenerated as generated
            FROM pg_catalog.pg_attribute a
            LEFT JOIN pg_catalog.pg_description pgd ON (
                pgd.objoid = a.attrelid AND pgd.objsubid = a.attnum)
            WHERE a.attrelid = %(table_oid)s
            AND a.attnum > 0 AND NOT a.attisdropped
            ORDER BY a.attnum

2022-04-07 23:51:28,986 INFO sqlalchemy.engine.base.Engine {'table_oid': 33053}
2022-04-07 23:51:28,996 INFO sqlalchemy.engine.base.Engine
            SELECT t.typname as "name",
               pg_catalog.format_type(t.typbasetype, t.typtypmod) as "attype",
               not t.typnotnull as "nullable",
               t.typdefault as "default",
               pg_catalog.pg_type_is_visible(t.oid) as "visible",
               n.nspname as "schema"
            FROM pg_catalog.pg_type t
               LEFT JOIN pg_catalog.pg_namespace n ON n.oid = t.typnamespace
            WHERE t.typtype = 'd'

2022-04-07 23:51:28,998 INFO sqlalchemy.engine.base.Engine {}
2022-04-07 23:51:29,007 INFO sqlalchemy.engine.base.Engine
            SELECT t.typname as "name",
               -- no enum defaults in 8.4 at least
               -- t.typdefault as "default",
               pg_catalog.pg_type_is_visible(t.oid) as "visible",
               n.nspname as "schema",
               e.enumlabel as "label"
            FROM pg_catalog.pg_type t
                 LEFT JOIN pg_catalog.pg_namespace n ON n.oid = t.typnamespace
                 LEFT JOIN pg_catalog.pg_enum e ON t.oid = e.enumtypid
            WHERE t.typtype = 'e'
        ORDER BY "schema", "name", e.oid
2022-04-07 23:51:29,009 INFO sqlalchemy.engine.base.Engine {}
2022-04-07 23:51:29,021 INFO sqlalchemy.engine.base.Engine
                SELECT a.attname
                FROM pg_attribute a JOIN (
                    SELECT unnest(ix.indkey) attnum,
                           generate_subscripts(ix.indkey, 1) ord
                    FROM pg_index ix
                    WHERE ix.indrelid = %(table_oid)s AND ix.indisprimary
                    ) k ON a.attnum=k.attnum
                WHERE a.attrelid = %(table_oid)s
                ORDER BY k.ord

2022-04-07 23:51:29,023 INFO sqlalchemy.engine.base.Engine {'table_oid': 33053}
2022-04-07 23:51:29,033 INFO sqlalchemy.engine.base.Engine
        SELECT conname
           FROM  pg_catalog.pg_constraint r
           WHERE r.conrelid = %(table_oid)s AND r.contype = 'p'
           ORDER BY 1

2022-04-07 23:51:29,034 INFO sqlalchemy.engine.base.Engine {'table_oid': 33053}
2022-04-07 23:51:29,043 INFO sqlalchemy.engine.base.Engine
          SELECT r.conname,
                pg_catalog.pg_get_constraintdef(r.oid, true) as condef,
                n.nspname as conschema
          FROM  pg_catalog.pg_constraint r,
                pg_namespace n,
                pg_class c

          WHERE r.conrelid = %(table)s AND
                r.contype = 'f' AND
                c.oid = confrelid AND
                n.oid = c.relnamespace
          ORDER BY 1

2022-04-07 23:51:29,044 INFO sqlalchemy.engine.base.Engine {'table': 33053}
2022-04-07 23:51:29,052 INFO sqlalchemy.engine.base.Engine
              SELECT
                  i.relname as relname,
                  ix.indisunique, ix.indexprs, ix.indpred,
                  a.attname, a.attnum, c.conrelid, ix.indkey::varchar,
                  ix.indoption::varchar, i.reloptions, am.amname,
                  ix.indnkeyatts as indnkeyatts
              FROM
                  pg_class t
                        join pg_index ix on t.oid = ix.indrelid
                        join pg_class i on i.oid = ix.indexrelid
                        left outer join
                            pg_attribute a
                            on t.oid = a.attrelid and a.attnum = ANY(ix.indkey)
                        left outer join
                            pg_constraint c
                            on (ix.indrelid = c.conrelid and
                                ix.indexrelid = c.conindid and
                                c.contype in ('p', 'u', 'x'))
                        left outer join
                            pg_am am
                            on i.relam = am.oid
              WHERE
                  t.relkind IN ('r', 'v', 'f', 'm', 'p')
                  and t.oid = %(table_oid)s
                  and ix.indisprimary = 'f'
              ORDER BY
                  t.relname,
                  i.relname

2022-04-07 23:51:29,053 INFO sqlalchemy.engine.base.Engine {'table_oid': 33053}
2022-04-07 23:51:29,061 INFO sqlalchemy.engine.base.Engine
            SELECT
                cons.conname as name,
                cons.conkey as key,
                a.attnum as col_num,
                a.attname as col_name
            FROM
                pg_catalog.pg_constraint cons
                join pg_attribute a
                  on cons.conrelid = a.attrelid AND
                    a.attnum = ANY(cons.conkey)
            WHERE
                cons.conrelid = %(table_oid)s AND
                cons.contype = 'u'

2022-04-07 23:51:29,063 INFO sqlalchemy.engine.base.Engine {'table_oid': 33053}
2022-04-07 23:51:29,067 INFO sqlalchemy.engine.base.Engine
            SELECT
                cons.conname as name,
                pg_get_constraintdef(cons.oid) as src
            FROM
                pg_catalog.pg_constraint cons
            WHERE
                cons.conrelid = %(table_oid)s AND
                cons.contype = 'c'

2022-04-07 23:51:29,070 INFO sqlalchemy.engine.base.Engine {'table_oid': 33053}
2022-04-07 23:51:29,073 INFO sqlalchemy.engine.base.Engine
            SELECT
                pgd.description as table_comment
            FROM
                pg_catalog.pg_description pgd
            WHERE
                pgd.objsubid = 0 AND
                pgd.objoid = %(table_oid)s

2022-04-07 23:51:29,075 INFO sqlalchemy.engine.base.Engine {'table_oid': 33053}
2022-04-07 23:51:29,086 INFO sqlalchemy.engine.base.Engine
DROP TABLE movies
2022-04-07 23:51:29,088 INFO sqlalchemy.engine.base.Engine {}
2022-04-07 23:51:29,097 INFO sqlalchemy.engine.base.Engine COMMIT
2022-04-07 23:51:29,195 INFO sqlalchemy.engine.base.Engine
CREATE TABLE movies (
	index BIGINT,
	imdb_id TEXT,
	title TEXT,
	year BIGINT,
	rated TEXT,
	released TEXT,
	runtime FLOAT(53),
	genres TEXT,
	imdb_rating FLOAT(53),
	imdb_votes BIGINT
)

2022-04-07 23:51:29,198 INFO sqlalchemy.engine.base.Engine {}
2022-04-07 23:51:29,224 INFO sqlalchemy.engine.base.Engine COMMIT
2022-04-07 23:51:29,241 INFO sqlalchemy.engine.base.Engine CREATE INDEX ix_movies_index ON movies (index)
2022-04-07 23:51:29,242 INFO sqlalchemy.engine.base.Engine {}
2022-04-07 23:51:29,267 INFO sqlalchemy.engine.base.Engine COMMIT
2022-04-07 23:51:29,288 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2022-04-07 23:51:29,303 INFO sqlalchemy.engine.base.Engine INSERT INTO movies (index, imdb_id, title, year, rated, released, runtime, genres, imdb_rating, imdb_votes) VALUES (%(index)s, %(imdb_id)s, %(title)s, %(year)s, %(rated)s, %(released)s, %(runtime)s, %(genres)s, %(imdb_rating)s, %(imdb_votes)s)
2022-04-07 23:51:29,306 INFO sqlalchemy.engine.base.Engine ({'index': 0, 'imdb_id': 'tt0115433', 'title': '101 Dalmatians', 'year': 1996, 'rated': 'G', 'released': '27 Nov 1996', 'runtime': 103.0, 'genres': 'Adventure|Children|Comedy', 'imdb_rating': 5.7, 'imdb_votes': 109762}, {'index': 1, 'imdb_id': 'tt0115433', 'title': '101 Dalmatians', 'year': 1996, 'rated': 'G', 'released': '27 Nov 1996', 'runtime': 103.0, 'genres': 'Adventure|Children|Comedy', 'imdb_rating': 5.7, 'imdb_votes': 109762}, {'index': 2, 'imdb_id': 'tt0211181', 'title': '102 Dalmatians', 'year': 2000, 'rated': 'G', 'released': '22 Nov 2000', 'runtime': 100.0, 'genres': 'Adventure|Comedy|Family', 'imdb_rating': 4.9, 'imdb_votes': 37045}, {'index': 3, 'imdb_id': 'tt0103594', 'title': '1492: Conquest of Paradise', 'year': 1992, 'rated': 'PG-13', 'released': '09 Oct 1992', 'runtime': 154.0, 'genres': 'Adventure|Biography|Drama', 'imdb_rating': 6.4, 'imdb_votes': 29990}, {'index': 4, 'imdb_id': 'tt0046672', 'title': '20,000 Leagues Under the Sea', 'year': 1954, 'rated': 'G', 'released': '20 Jul 1955', 'runtime': 127.0, 'genres': 'Adventure|Drama|Sci-Fi', 'imdb_rating': 7.2, 'imdb_votes': 33152}, {'index': 5, 'imdb_id': 'tt0307901', 'title': '25th Hour', 'year': 2002, 'rated': 'R', 'released': '10 Jan 2003', 'runtime': 135.0, 'genres': 'Crime|Drama', 'imdb_rating': 7.6, 'imdb_votes': 176763}, {'index': 6, 'imdb_id': 'tt0094137', 'title': 'Three Men and a Baby', 'year': 1987, 'rated': 'PG', 'released': '25 Nov 1987', 'runtime': 102.0, 'genres': 'Comedy|Drama|Family', 'imdb_rating': 6.1, 'imdb_votes': 52436}, {'index': 7, 'imdb_id': 'tt0098966', 'title': 'Three Men and a Little Lady', 'year': 1990, 'rated': 'PG', 'released': '21 Nov 1990', 'runtime': 104.0, 'genres': 'Comedy|Drama|Family', 'imdb_rating': 5.5, 'imdb_votes': 24413}  ... displaying 10 of 617 total bound parameter sets ...  {'index': 615, 'imdb_id': 'tt0283426', 'title': 'The Jungle Book 2', 'year': 2002, 'rated': 'G', 'released': '14 Feb 2003', 'runtime': 72.0, 'genres': 'Animation|Adventure|Comedy', 'imdb_rating': 5.4, 'imdb_votes': 16161}, {'index': 616, 'imdb_id': 'tt1568921', 'title': 'The Secret World of Arrietty', 'year': 2010, 'rated': 'G', 'released': '17 Feb 2012', 'runtime': 94.0, 'genres': 'Animation|Adventure|Drama', 'imdb_rating': 7.6, 'imdb_votes': 89613})
2022-04-07 23:51:29,519 INFO sqlalchemy.engine.base.Engine COMMIT

In [110]:
# movies_df.to_sql(
#     'movies',
#     db_engine,
#     if_exists='replace',
#     index=False,
#     chunksize=500,
#     dtype={
#     "imdbID": Text, 
#     "Title": Text, 
#     "Year": Integer, 
#     "Rated": Text, 
#     "Released": Text, 
#     "Runtime": Float(53), 
#     "genres": Text, 
#     "IMDBRating": Float(53), 
#     "imdbVotes": Integer
#     }
# )

In [111]:
awards_df.to_sql('awards' , db_engine, if_exists='replace')

2022-04-07 23:48:00,270 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2022-04-07 23:48:00,275 INFO sqlalchemy.engine.base.Engine {'name': 'awards'}
2022-04-07 23:48:00,288 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2022-04-07 23:48:00,293 INFO sqlalchemy.engine.base.Engine {'name': 'awards'}
2022-04-07 23:48:00,301 INFO sqlalchemy.engine.base.Engine SELECT c.relname FROM pg_class c JOIN pg_namespace n ON n.oid = c.relnamespace WHERE n.nspname = %(schema)s AND c.relkind in ('r', 'p')
2022-04-07 23:48:00,302 INFO sqlalchemy.engine.base.Engine {'schema': 'public'}
2022-04-07 23:48:00,315 INFO sqlalchemy.engine.base.Engine
            SELECT c.oid
            FROM pg_catalog.pg_class c
            LEFT JOIN pg_catalog.pg_namespace n ON n.oid = c.relnamespace
            WHERE (pg_catalog.pg_table_is_visible(c.oid))
            AND c.relname = %(table_name)s AND c.relkind in
            ('r', 'v', 'm', 'f', 'p')

2022-04-07 23:48:00,318 INFO sqlalchemy.engine.base.Engine {'table_name': 'awards'}
2022-04-07 23:48:00,322 INFO sqlalchemy.engine.base.Engine
            SELECT a.attname,
              pg_catalog.format_type(a.atttypid, a.atttypmod),
              (SELECT pg_catalog.pg_get_expr(d.adbin, d.adrelid)
                FROM pg_catalog.pg_attrdef d
               WHERE d.adrelid = a.attrelid AND d.adnum = a.attnum
               AND a.atthasdef)
              AS DEFAULT,
              a.attnotnull, a.attnum, a.attrelid as table_oid,
              pgd.description as comment,
              a.attgenerated as generated
            FROM pg_catalog.pg_attribute a
            LEFT JOIN pg_catalog.pg_description pgd ON (
                pgd.objoid = a.attrelid AND pgd.objsubid = a.attnum)
            WHERE a.attrelid = %(table_oid)s
            AND a.attnum > 0 AND NOT a.attisdropped
            ORDER BY a.attnum

2022-04-07 23:48:00,323 INFO sqlalchemy.engine.base.Engine {'table_oid': 33027}
2022-04-07 23:48:00,328 INFO sqlalchemy.engine.base.Engine
            SELECT t.typname as "name",
               pg_catalog.format_type(t.typbasetype, t.typtypmod) as "attype",
               not t.typnotnull as "nullable",
               t.typdefault as "default",
               pg_catalog.pg_type_is_visible(t.oid) as "visible",
               n.nspname as "schema"
            FROM pg_catalog.pg_type t
               LEFT JOIN pg_catalog.pg_namespace n ON n.oid = t.typnamespace
            WHERE t.typtype = 'd'

2022-04-07 23:48:00,332 INFO sqlalchemy.engine.base.Engine {}
2022-04-07 23:48:00,337 INFO sqlalchemy.engine.base.Engine
            SELECT t.typname as "name",
               -- no enum defaults in 8.4 at least
               -- t.typdefault as "default",
               pg_catalog.pg_type_is_visible(t.oid) as "visible",
               n.nspname as "schema",
               e.enumlabel as "label"
            FROM pg_catalog.pg_type t
                 LEFT JOIN pg_catalog.pg_namespace n ON n.oid = t.typnamespace
                 LEFT JOIN pg_catalog.pg_enum e ON t.oid = e.enumtypid
            WHERE t.typtype = 'e'
        ORDER BY "schema", "name", e.oid
2022-04-07 23:48:00,340 INFO sqlalchemy.engine.base.Engine {}
2022-04-07 23:48:00,365 INFO sqlalchemy.engine.base.Engine
                SELECT a.attname
                FROM pg_attribute a JOIN (
                    SELECT unnest(ix.indkey) attnum,
                           generate_subscripts(ix.indkey, 1) ord
                    FROM pg_index ix
                    WHERE ix.indrelid = %(table_oid)s AND ix.indisprimary
                    ) k ON a.attnum=k.attnum
                WHERE a.attrelid = %(table_oid)s
                ORDER BY k.ord

2022-04-07 23:48:00,367 INFO sqlalchemy.engine.base.Engine {'table_oid': 33027}
2022-04-07 23:48:00,401 INFO sqlalchemy.engine.base.Engine
        SELECT conname
           FROM  pg_catalog.pg_constraint r
           WHERE r.conrelid = %(table_oid)s AND r.contype = 'p'
           ORDER BY 1

2022-04-07 23:48:00,402 INFO sqlalchemy.engine.base.Engine {'table_oid': 33027}
2022-04-07 23:48:00,416 INFO sqlalchemy.engine.base.Engine
          SELECT r.conname,
                pg_catalog.pg_get_constraintdef(r.oid, true) as condef,
                n.nspname as conschema
          FROM  pg_catalog.pg_constraint r,
                pg_namespace n,
                pg_class c

          WHERE r.conrelid = %(table)s AND
                r.contype = 'f' AND
                c.oid = confrelid AND
                n.oid = c.relnamespace
          ORDER BY 1

2022-04-07 23:48:00,418 INFO sqlalchemy.engine.base.Engine {'table': 33027}
2022-04-07 23:48:00,430 INFO sqlalchemy.engine.base.Engine
              SELECT
                  i.relname as relname,
                  ix.indisunique, ix.indexprs, ix.indpred,
                  a.attname, a.attnum, c.conrelid, ix.indkey::varchar,
                  ix.indoption::varchar, i.reloptions, am.amname,
                  ix.indnkeyatts as indnkeyatts
              FROM
                  pg_class t
                        join pg_index ix on t.oid = ix.indrelid
                        join pg_class i on i.oid = ix.indexrelid
                        left outer join
                            pg_attribute a
                            on t.oid = a.attrelid and a.attnum = ANY(ix.indkey)
                        left outer join
                            pg_constraint c
                            on (ix.indrelid = c.conrelid and
                                ix.indexrelid = c.conindid and
                                c.contype in ('p', 'u', 'x'))
                        left outer join
                            pg_am am
                            on i.relam = am.oid
              WHERE
                  t.relkind IN ('r', 'v', 'f', 'm', 'p')
                  and t.oid = %(table_oid)s
                  and ix.indisprimary = 'f'
              ORDER BY
                  t.relname,
                  i.relname

2022-04-07 23:48:00,431 INFO sqlalchemy.engine.base.Engine {'table_oid': 33027}
2022-04-07 23:48:00,449 INFO sqlalchemy.engine.base.Engine
            SELECT
                cons.conname as name,
                cons.conkey as key,
                a.attnum as col_num,
                a.attname as col_name
            FROM
                pg_catalog.pg_constraint cons
                join pg_attribute a
                  on cons.conrelid = a.attrelid AND
                    a.attnum = ANY(cons.conkey)
            WHERE
                cons.conrelid = %(table_oid)s AND
                cons.contype = 'u'

2022-04-07 23:48:00,451 INFO sqlalchemy.engine.base.Engine {'table_oid': 33027}
2022-04-07 23:48:00,460 INFO sqlalchemy.engine.base.Engine
            SELECT
                cons.conname as name,
                pg_get_constraintdef(cons.oid) as src
            FROM
                pg_catalog.pg_constraint cons
            WHERE
                cons.conrelid = %(table_oid)s AND
                cons.contype = 'c'

2022-04-07 23:48:00,462 INFO sqlalchemy.engine.base.Engine {'table_oid': 33027}
2022-04-07 23:48:00,468 INFO sqlalchemy.engine.base.Engine
            SELECT
                pgd.description as table_comment
            FROM
                pg_catalog.pg_description pgd
            WHERE
                pgd.objsubid = 0 AND
                pgd.objoid = %(table_oid)s

2022-04-07 23:48:00,469 INFO sqlalchemy.engine.base.Engine {'table_oid': 33027}
2022-04-07 23:48:00,483 INFO sqlalchemy.engine.base.Engine
DROP TABLE awards
2022-04-07 23:48:00,485 INFO sqlalchemy.engine.base.Engine {}
2022-04-07 23:48:00,494 INFO sqlalchemy.engine.base.Engine COMMIT
2022-04-07 23:48:00,551 INFO sqlalchemy.engine.base.Engine
CREATE TABLE awards (
	index BIGINT,
	imdb_id TEXT,
	awards TEXT,
	awards_id TEXT
)


2022-04-07 23:48:00,553 INFO sqlalchemy.engine.base.Engine {}
2022-04-07 23:48:00,600 INFO sqlalchemy.engine.base.Engine COMMIT

2022-04-07 23:48:00,623 INFO sqlalchemy.engine.base.Engine CREATE INDEX ix_awards_index ON awards (index)
2022-04-07 23:48:00,625 INFO sqlalchemy.engine.base.Engine {}
2022-04-07 23:48:00,638 INFO sqlalchemy.engine.base.Engine COMMIT
2022-04-07 23:48:00,662 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2022-04-07 23:48:00,671 INFO sqlalchemy.engine.base.Engine INSERT INTO awards (index, imdb_id, awards, awards_id) VALUES (%(index)s, %(imdb_id)s, %(awards)s, %(awards_id)s)
2022-04-07 23:48:00,673 INFO sqlalchemy.engine.base.Engine ({'index': 0, 'imdb_id': 'tt0115433', 'awards': 'Nominated for 1 BAFTA Film Award3 wins & 10 nominations total', 'awards_id': 'a-0000'}, {'index': 1, 'imdb_id': 'tt0115433', 'awards': 'Nominated for 1 BAFTA Film Award3 wins & 10 nominations total', 'awards_id': 'a-0001'}, {'index': 2, 'imdb_id': 'tt0211181', 'awards': 'Nominated for 1 Oscar. 1 win & 8 nominations total', 'awards_id': 'a-0002'}, {'index': 3, 'imdb_id': 'tt0103594', 'awards': '2 nominations', 'awards_id': 'a-0003'}, {'index': 4, 'imdb_id': 'tt0046672', 'awards': 'Won 2 Oscars. 5 wins & 3 nominations total', 'awards_id': 'a-0004'}, {'index': 5, 'imdb_id': 'tt0307901', 'awards': '4 wins & 17 nominations', 'awards_id': 'a-0005'}, {'index': 6, 'imdb_id': 'tt0094137', 'awards': '2 wins & 1 nomination', 'awards_id': 'a-0006'}, {'index': 7, 'imdb_id': 'tt0098966', 'awards': '2 nominations', 'awards_id': 'a-0007'}  ... displaying 10 of 617 total bound parameter sets ...  {'index': 615, 'imdb_id': 'tt0283426', 'awards': '1 win & 9 nominations', 'awards_id': 'a-000615'}, {'index': 616, 'imdb_id': 'tt1568921', 'awards': '12 wins & 6 nominations', 'awards_id': 'a-000616'})
2022-04-07 23:48:00,906 INFO sqlalchemy.engine.base.Engine COMMIT

In [112]:
metascore_df.to_sql('metascore' , db_engine, if_exists='replace')

2022-04-07 23:48:01,401 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2022-04-07 23:48:01,402 INFO sqlalchemy.engine.base.Engine {'name': 'metascore'}
2022-04-07 23:48:01,421 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2022-04-07 23:48:01,422 INFO sqlalchemy.engine.base.Engine {'name': 'metascore'}
2022-04-07 23:48:01,433 INFO sqlalchemy.engine.base.Engine SELECT c.relname FROM pg_class c JOIN pg_namespace n ON n.oid = c.relnamespace WHERE n.nspname = %(schema)s AND c.relkind in ('r', 'p')
2022-04-07 23:48:01,435 INFO sqlalchemy.engine.base.Engine {'schema': 'public'}
2022-04-07 23:48:01,440 INFO sqlalchemy.engine.base.Engine
            SELECT c.oid
            FROM pg_catalog.pg_class c
            LEFT JOIN pg_catalog.pg_namespace n ON n.oid = c.relnamespace
            WHERE (pg_catalog.pg_table_is_visible(c.oid))
            AND c.relname = %(table_name)s AND c.relkind in
            ('r', 'v', 'm', 'f', 'p')

2022-04-07 23:48:01,441 INFO sqlalchemy.engine.base.Engine {'table_name': 'metascore'}
2022-04-07 23:48:01,447 INFO sqlalchemy.engine.base.Engine
            SELECT a.attname,
              pg_catalog.format_type(a.atttypid, a.atttypmod),
              (SELECT pg_catalog.pg_get_expr(d.adbin, d.adrelid)
                FROM pg_catalog.pg_attrdef d
               WHERE d.adrelid = a.attrelid AND d.adnum = a.attnum
               AND a.atthasdef)
              AS DEFAULT,
              a.attnotnull, a.attnum, a.attrelid as table_oid,
              pgd.description as comment,
              a.attgenerated as generated
            FROM pg_catalog.pg_attribute a
            LEFT JOIN pg_catalog.pg_description pgd ON (
                pgd.objoid = a.attrelid AND pgd.objsubid = a.attnum)
            WHERE a.attrelid = %(table_oid)s
            AND a.attnum > 0 AND NOT a.attisdropped
            ORDER BY a.attnum

2022-04-07 23:48:01,448 INFO sqlalchemy.engine.base.Engine {'table_oid': 33033}
2022-04-07 23:48:01,454 INFO sqlalchemy.engine.base.Engine
            SELECT t.typname as "name",
               pg_catalog.format_type(t.typbasetype, t.typtypmod) as "attype",
               not t.typnotnull as "nullable",
               t.typdefault as "default",
               pg_catalog.pg_type_is_visible(t.oid) as "visible",
               n.nspname as "schema"
            FROM pg_catalog.pg_type t
               LEFT JOIN pg_catalog.pg_namespace n ON n.oid = t.typnamespace
            WHERE t.typtype = 'd'

2022-04-07 23:48:01,455 INFO sqlalchemy.engine.base.Engine {}
2022-04-07 23:48:01,458 INFO sqlalchemy.engine.base.Engine
            SELECT t.typname as "name",
               -- no enum defaults in 8.4 at least
               -- t.typdefault as "default",
               pg_catalog.pg_type_is_visible(t.oid) as "visible",
               n.nspname as "schema",
               e.enumlabel as "label"
            FROM pg_catalog.pg_type t
                 LEFT JOIN pg_catalog.pg_namespace n ON n.oid = t.typnamespace
                 LEFT JOIN pg_catalog.pg_enum e ON t.oid = e.enumtypid
            WHERE t.typtype = 'e'
        ORDER BY "schema", "name", e.oid
2022-04-07 23:48:01,460 INFO sqlalchemy.engine.base.Engine {}
2022-04-07 23:48:01,468 INFO sqlalchemy.engine.base.Engine
                SELECT a.attname
                FROM pg_attribute a JOIN (
                    SELECT unnest(ix.indkey) attnum,
                           generate_subscripts(ix.indkey, 1) ord
                    FROM pg_index ix
                    WHERE ix.indrelid = %(table_oid)s AND ix.indisprimary
                    ) k ON a.attnum=k.attnum
                WHERE a.attrelid = %(table_oid)s
                ORDER BY k.ord

2022-04-07 23:48:01,469 INFO sqlalchemy.engine.base.Engine {'table_oid': 33033}
2022-04-07 23:48:01,473 INFO sqlalchemy.engine.base.Engine
        SELECT conname
           FROM  pg_catalog.pg_constraint r
           WHERE r.conrelid = %(table_oid)s AND r.contype = 'p'
           ORDER BY 1

2022-04-07 23:48:01,474 INFO sqlalchemy.engine.base.Engine {'table_oid': 33033}
2022-04-07 23:48:01,482 INFO sqlalchemy.engine.base.Engine
          SELECT r.conname,
                pg_catalog.pg_get_constraintdef(r.oid, true) as condef,
                n.nspname as conschema
          FROM  pg_catalog.pg_constraint r,
                pg_namespace n,
                pg_class c

          WHERE r.conrelid = %(table)s AND
                r.contype = 'f' AND
                c.oid = confrelid AND
                n.oid = c.relnamespace
          ORDER BY 1

2022-04-07 23:48:01,483 INFO sqlalchemy.engine.base.Engine {'table': 33033}
2022-04-07 23:48:01,488 INFO sqlalchemy.engine.base.Engine
              SELECT
                  i.relname as relname,
                  ix.indisunique, ix.indexprs, ix.indpred,
                  a.attname, a.attnum, c.conrelid, ix.indkey::varchar,
                  ix.indoption::varchar, i.reloptions, am.amname,
                  ix.indnkeyatts as indnkeyatts
              FROM
                  pg_class t
                        join pg_index ix on t.oid = ix.indrelid
                        join pg_class i on i.oid = ix.indexrelid
                        left outer join
                            pg_attribute a
                            on t.oid = a.attrelid and a.attnum = ANY(ix.indkey)
                        left outer join
                            pg_constraint c
                            on (ix.indrelid = c.conrelid and
                                ix.indexrelid = c.conindid and
                                c.contype in ('p', 'u', 'x'))
                        left outer join
                            pg_am am
                            on i.relam = am.oid
              WHERE
                  t.relkind IN ('r', 'v', 'f', 'm', 'p')
                  and t.oid = %(table_oid)s
                  and ix.indisprimary = 'f'
              ORDER BY
                  t.relname,
                  i.relname

2022-04-07 23:48:01,489 INFO sqlalchemy.engine.base.Engine {'table_oid': 33033}
2022-04-07 23:48:01,498 INFO sqlalchemy.engine.base.Engine
            SELECT
                cons.conname as name,
                cons.conkey as key,
                a.attnum as col_num,
                a.attname as col_name
            FROM
                pg_catalog.pg_constraint cons
                join pg_attribute a
                  on cons.conrelid = a.attrelid AND
                    a.attnum = ANY(cons.conkey)
            WHERE
                cons.conrelid = %(table_oid)s AND
                cons.contype = 'u'

2022-04-07 23:48:01,499 INFO sqlalchemy.engine.base.Engine {'table_oid': 33033}
2022-04-07 23:48:01,502 INFO sqlalchemy.engine.base.Engine
            SELECT
                cons.conname as name,
                pg_get_constraintdef(cons.oid) as src
            FROM
                pg_catalog.pg_constraint cons
            WHERE
                cons.conrelid = %(table_oid)s AND
                cons.contype = 'c'

2022-04-07 23:48:01,504 INFO sqlalchemy.engine.base.Engine {'table_oid': 33033}
2022-04-07 23:48:01,508 INFO sqlalchemy.engine.base.Engine
            SELECT
                pgd.description as table_comment
            FROM
                pg_catalog.pg_description pgd
            WHERE
                pgd.objsubid = 0 AND
                pgd.objoid = %(table_oid)s

2022-04-07 23:48:01,510 INFO sqlalchemy.engine.base.Engine {'table_oid': 33033}
2022-04-07 23:48:01,516 INFO sqlalchemy.engine.base.Engine
DROP TABLE metascore
2022-04-07 23:48:01,517 INFO sqlalchemy.engine.base.Engine {}
2022-04-07 23:48:01,526 INFO sqlalchemy.engine.base.Engine COMMIT
2022-04-07 23:48:01,560 INFO sqlalchemy.engine.base.Engine
CREATE TABLE metascore (
	index BIGINT,
	imdb_id TEXT,
	metascore FLOAT(53),
	ms_id TEXT
)


2022-04-07 23:48:01,562 INFO sqlalchemy.engine.base.Engine {}

2022-04-07 23:48:01,576 INFO sqlalchemy.engine.base.Engine COMMIT
2022-04-07 23:48:01,594 INFO sqlalchemy.engine.base.Engine CREATE INDEX ix_metascore_index ON metascore (index)
2022-04-07 23:48:01,596 INFO sqlalchemy.engine.base.Engine {}
2022-04-07 23:48:01,608 INFO sqlalchemy.engine.base.Engine COMMIT
2022-04-07 23:48:01,623 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2022-04-07 23:48:01,630 INFO sqlalchemy.engine.base.Engine INSERT INTO metascore (index, imdb_id, metascore, ms_id) VALUES (%(index)s, %(imdb_id)s, %(metascore)s, %(ms_id)s)
2022-04-07 23:48:01,632 INFO sqlalchemy.engine.base.Engine ({'index': 0, 'imdb_id': 'tt0115433', 'metascore': 49.0, 'ms_id': 'ms-0000'}, {'index': 1, 'imdb_id': 'tt0115433', 'metascore': 49.0, 'ms_id': 'ms-0001'}, {'index': 2, 'imdb_id': 'tt0211181', 'metascore': 35.0, 'ms_id': 'ms-0002'}, {'index': 3, 'imdb_id': 'tt0103594', 'metascore': 47.0, 'ms_id': 'ms-0003'}, {'index': 4, 'imdb_id': 'tt0046672', 'metascore': 83.0, 'ms_id': 'ms-0004'}, {'index': 5, 'imdb_id': 'tt0307901', 'metascore': 68.0, 'ms_id': 'ms-0005'}, {'index': 6, 'imdb_id': 'tt0094137', 'metascore': 61.0, 'ms_id': 'ms-0006'}, {'index': 7, 'imdb_id': 'tt0098966', 'metascore': 51.0, 'ms_id': 'ms-0007'}  ... displaying 10 of 617 total bound parameter sets ...  {'index': 615, 'imdb_id': 'tt0283426', 'metascore': 38.0, 'ms_id': 'ms-000615'}, {'index': 616, 'imdb_id': 'tt1568921', 'metascore': 80.0, 'ms_id': 'ms-000616'})
2022-04-07 23:48:01,937 INFO sqlalchemy.engine.base.Engine COMMIT

In [113]:
language_country_df.to_sql('language_country' , db_engine, if_exists='replace')

2022-04-07 23:48:02,347 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2022-04-07 23:48:02,349 INFO sqlalchemy.engine.base.Engine {'name': 'language_country'}
2022-04-07 23:48:02,357 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2022-04-07 23:48:02,358 INFO sqlalchemy.engine.base.Engine {'name': 'language_country'}
2022-04-07 23:48:02,365 INFO sqlalchemy.engine.base.Engine SELECT c.relname FROM pg_class c JOIN pg_namespace n ON n.oid = c.relnamespace WHERE n.nspname = %(schema)s AND c.relkind in ('r', 'p')
2022-04-07 23:48:02,366 INFO sqlalchemy.engine.base.Engine {'schema': 'public'}
2022-04-07 23:48:02,374 INFO sqlalchemy.engine.base.Engine
            SELECT c.oid
            FROM pg_catalog.pg_class c
            LEFT JOIN pg_catalog.pg_namespace n ON n.oid = c.relnamespace
            WHERE (pg_catalog.pg_table_is_visible(c.oid))
            AND c.relname = %(table_name)s AND c.relkind in
            ('r', 'v', 'm', 'f', 'p')

2022-04-07 23:48:02,375 INFO sqlalchemy.engine.base.Engine {'table_name': 'language_country'}
2022-04-07 23:48:02,381 INFO sqlalchemy.engine.base.Engine
            SELECT a.attname,
              pg_catalog.format_type(a.atttypid, a.atttypmod),
              (SELECT pg_catalog.pg_get_expr(d.adbin, d.adrelid)
                FROM pg_catalog.pg_attrdef d
               WHERE d.adrelid = a.attrelid AND d.adnum = a.attnum
               AND a.atthasdef)
              AS DEFAULT,
              a.attnotnull, a.attnum, a.attrelid as table_oid,
              pgd.description as comment,
              a.attgenerated as generated
            FROM pg_catalog.pg_attribute a
            LEFT JOIN pg_catalog.pg_description pgd ON (
                pgd.objoid = a.attrelid AND pgd.objsubid = a.attnum)
            WHERE a.attrelid = %(table_oid)s
            AND a.attnum > 0 AND NOT a.attisdropped
            ORDER BY a.attnum

2022-04-07 23:48:02,382 INFO sqlalchemy.engine.base.Engine {'table_oid': 33039}
2022-04-07 23:48:02,387 INFO sqlalchemy.engine.base.Engine
            SELECT t.typname as "name",
               pg_catalog.format_type(t.typbasetype, t.typtypmod) as "attype",
               not t.typnotnull as "nullable",
               t.typdefault as "default",
               pg_catalog.pg_type_is_visible(t.oid) as "visible",
               n.nspname as "schema"
            FROM pg_catalog.pg_type t
               LEFT JOIN pg_catalog.pg_namespace n ON n.oid = t.typnamespace
            WHERE t.typtype = 'd'

2022-04-07 23:48:02,389 INFO sqlalchemy.engine.base.Engine {}
2022-04-07 23:48:02,396 INFO sqlalchemy.engine.base.Engine
            SELECT t.typname as "name",
               -- no enum defaults in 8.4 at least
               -- t.typdefault as "default",
               pg_catalog.pg_type_is_visible(t.oid) as "visible",
               n.nspname as "schema",
               e.enumlabel as "label"
            FROM pg_catalog.pg_type t
                 LEFT JOIN pg_catalog.pg_namespace n ON n.oid = t.typnamespace
                 LEFT JOIN pg_catalog.pg_enum e ON t.oid = e.enumtypid
            WHERE t.typtype = 'e'
        ORDER BY "schema", "name", e.oid
2022-04-07 23:48:02,397 INFO sqlalchemy.engine.base.Engine {}
2022-04-07 23:48:02,405 INFO sqlalchemy.engine.base.Engine
                SELECT a.attname
                FROM pg_attribute a JOIN (
                    SELECT unnest(ix.indkey) attnum,
                           generate_subscripts(ix.indkey, 1) ord
                    FROM pg_index ix
                    WHERE ix.indrelid = %(table_oid)s AND ix.indisprimary
                    ) k ON a.attnum=k.attnum
                WHERE a.attrelid = %(table_oid)s
                ORDER BY k.ord

2022-04-07 23:48:02,405 INFO sqlalchemy.engine.base.Engine {'table_oid': 33039}
2022-04-07 23:48:02,408 INFO sqlalchemy.engine.base.Engine
        SELECT conname
           FROM  pg_catalog.pg_constraint r
           WHERE r.conrelid = %(table_oid)s AND r.contype = 'p'
           ORDER BY 1

2022-04-07 23:48:02,409 INFO sqlalchemy.engine.base.Engine {'table_oid': 33039}
2022-04-07 23:48:02,417 INFO sqlalchemy.engine.base.Engine
          SELECT r.conname,
                pg_catalog.pg_get_constraintdef(r.oid, true) as condef,
                n.nspname as conschema
          FROM  pg_catalog.pg_constraint r,
                pg_namespace n,
                pg_class c

          WHERE r.conrelid = %(table)s AND
                r.contype = 'f' AND
                c.oid = confrelid AND
                n.oid = c.relnamespace
          ORDER BY 1

2022-04-07 23:48:02,418 INFO sqlalchemy.engine.base.Engine {'table': 33039}
2022-04-07 23:48:02,426 INFO sqlalchemy.engine.base.Engine
              SELECT
                  i.relname as relname,
                  ix.indisunique, ix.indexprs, ix.indpred,
                  a.attname, a.attnum, c.conrelid, ix.indkey::varchar,
                  ix.indoption::varchar, i.reloptions, am.amname,
                  ix.indnkeyatts as indnkeyatts
              FROM
                  pg_class t
                        join pg_index ix on t.oid = ix.indrelid
                        join pg_class i on i.oid = ix.indexrelid
                        left outer join
                            pg_attribute a
                            on t.oid = a.attrelid and a.attnum = ANY(ix.indkey)
                        left outer join
                            pg_constraint c
                            on (ix.indrelid = c.conrelid and
                                ix.indexrelid = c.conindid and
                                c.contype in ('p', 'u', 'x'))
                        left outer join
                            pg_am am
                            on i.relam = am.oid
              WHERE
                  t.relkind IN ('r', 'v', 'f', 'm', 'p')
                  and t.oid = %(table_oid)s
                  and ix.indisprimary = 'f'
              ORDER BY
                  t.relname,
                  i.relname

2022-04-07 23:48:02,426 INFO sqlalchemy.engine.base.Engine {'table_oid': 33039}
2022-04-07 23:48:02,435 INFO sqlalchemy.engine.base.Engine
            SELECT
                cons.conname as name,
                cons.conkey as key,
                a.attnum as col_num,
                a.attname as col_name
            FROM
                pg_catalog.pg_constraint cons
                join pg_attribute a
                  on cons.conrelid = a.attrelid AND
                    a.attnum = ANY(cons.conkey)
            WHERE
                cons.conrelid = %(table_oid)s AND
                cons.contype = 'u'

2022-04-07 23:48:02,436 INFO sqlalchemy.engine.base.Engine {'table_oid': 33039}
2022-04-07 23:48:02,442 INFO sqlalchemy.engine.base.Engine
            SELECT
                cons.conname as name,
                pg_get_constraintdef(cons.oid) as src
            FROM
                pg_catalog.pg_constraint cons
            WHERE
                cons.conrelid = %(table_oid)s AND
                cons.contype = 'c'

2022-04-07 23:48:02,443 INFO sqlalchemy.engine.base.Engine {'table_oid': 33039}
2022-04-07 23:48:02,447 INFO sqlalchemy.engine.base.Engine
            SELECT
                pgd.description as table_comment
            FROM
                pg_catalog.pg_description pgd
            WHERE
                pgd.objsubid = 0 AND
                pgd.objoid = %(table_oid)s

2022-04-07 23:48:02,448 INFO sqlalchemy.engine.base.Engine {'table_oid': 33039}
2022-04-07 23:48:02,454 INFO sqlalchemy.engine.base.Engine
DROP TABLE language_country
2022-04-07 23:48:02,456 INFO sqlalchemy.engine.base.Engine {}
2022-04-07 23:48:02,461 INFO sqlalchemy.engine.base.Engine COMMIT
2022-04-07 23:48:02,514 INFO sqlalchemy.engine.base.Engine
CREATE TABLE language_country (
	index BIGINT,
	imdb_id TEXT,
	language TEXT,
	country TEXT,
	lc_id TEXT
)


2022-04-07 23:48:02,515 INFO sqlalchemy.engine.base.Engine {}

2022-04-07 23:48:02,554 INFO sqlalchemy.engine.base.Engine COMMIT
2022-04-07 23:48:02,574 INFO sqlalchemy.engine.base.Engine CREATE INDEX ix_language_country_index ON language_country (index)
2022-04-07 23:48:02,577 INFO sqlalchemy.engine.base.Engine {}
2022-04-07 23:48:02,630 INFO sqlalchemy.engine.base.Engine COMMIT
2022-04-07 23:48:02,651 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2022-04-07 23:48:02,660 INFO sqlalchemy.engine.base.Engine INSERT INTO language_country (index, imdb_id, language, country, lc_id) VALUES (%(index)s, %(imdb_id)s, %(language)s, %(country)s, %(lc_id)s)
2022-04-07 23:48:02,662 INFO sqlalchemy.engine.base.Engine ({'index': 0, 'imdb_id': 'tt0115433', 'language': 'English|Spanish', 'country': 'United States| United Kingdom', 'lc_id': 'lc-0000'}, {'index': 1, 'imdb_id': 'tt0115433', 'language': 'English|Spanish', 'country': 'United States| United Kingdom', 'lc_id': 'lc-0001'}, {'index': 2, 'imdb_id': 'tt0211181', 'language': 'English', 'country': 'United States| United Kingdom', 'lc_id': 'lc-0002'}, {'index': 3, 'imdb_id': 'tt0103594', 'language': 'English|Spanish|Latin|Arabic', 'country': 'United Kingdom| France| Spain', 'lc_id': 'lc-0003'}, {'index': 4, 'imdb_id': 'tt0046672', 'language': 'English', 'country': 'United States', 'lc_id': 'lc-0004'}, {'index': 5, 'imdb_id': 'tt0307901', 'language': 'English', 'country': 'United States', 'lc_id': 'lc-0005'}, {'index': 6, 'imdb_id': 'tt0094137', 'language': 'English', 'country': 'United States', 'lc_id': 'lc-0006'}, {'index': 7, 'imdb_id': 'tt0098966', 'language': 'English', 'country': 'United States', 'lc_id': 'lc-0007'}  ... displaying 10 of 617 total bound parameter sets ...  {'index': 615, 'imdb_id': 'tt0283426', 'language': 'English', 'country': 'United States| Australia', 'lc_id': 'lc-000615'}, {'index': 616, 'imdb_id': 'tt1568921', 'language': 'Japanese', 'country': 'Japan', 'lc_id': 'lc-000616'})
2022-04-07 23:48:02,858 INFO sqlalchemy.engine.base.Engine COMMIT

In [114]:
gross_revenue_df.to_sql('gross_revenue' , db_engine, if_exists='replace')

2022-04-07 23:48:03,300 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2022-04-07 23:48:03,304 INFO sqlalchemy.engine.base.Engine {'name': 'gross_revenue'}
2022-04-07 23:48:03,327 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2022-04-07 23:48:03,328 INFO sqlalchemy.engine.base.Engine {'name': 'gross_revenue'}
2022-04-07 23:48:03,347 INFO sqlalchemy.engine.base.Engine SELECT c.relname FROM pg_class c JOIN pg_namespace n ON n.oid = c.relnamespace WHERE n.nspname = %(schema)s AND c.relkind in ('r', 'p')
2022-04-07 23:48:03,348 INFO sqlalchemy.engine.base.Engine {'schema': 'public'}
2022-04-07 23:48:03,355 INFO sqlalchemy.engine.base.Engine
            SELECT c.oid
            FROM pg_catalog.pg_class c
            LEFT JOIN pg_catalog.pg_namespace n ON n.oid = c.relnamespace
            WHERE (pg_catalog.pg_table_is_visible(c.oid))
            AND c.relname = %(table_name)s AND c.relkind in
            ('r', 'v', 'm', 'f', 'p')

2022-04-07 23:48:03,356 INFO sqlalchemy.engine.base.Engine {'table_name': 'gross_revenue'}
2022-04-07 23:48:03,359 INFO sqlalchemy.engine.base.Engine
            SELECT a.attname,
              pg_catalog.format_type(a.atttypid, a.atttypmod),
              (SELECT pg_catalog.pg_get_expr(d.adbin, d.adrelid)
                FROM pg_catalog.pg_attrdef d
               WHERE d.adrelid = a.attrelid AND d.adnum = a.attnum
               AND a.atthasdef)
              AS DEFAULT,
              a.attnotnull, a.attnum, a.attrelid as table_oid,
              pgd.description as comment,
              a.attgenerated as generated
            FROM pg_catalog.pg_attribute a
            LEFT JOIN pg_catalog.pg_description pgd ON (
                pgd.objoid = a.attrelid AND pgd.objsubid = a.attnum)
            WHERE a.attrelid = %(table_oid)s
            AND a.attnum > 0 AND NOT a.attisdropped
            ORDER BY a.attnum

2022-04-07 23:48:03,363 INFO sqlalchemy.engine.base.Engine {'table_oid': 33045}
2022-04-07 23:48:03,366 INFO sqlalchemy.engine.base.Engine
            SELECT t.typname as "name",
               pg_catalog.format_type(t.typbasetype, t.typtypmod) as "attype",
               not t.typnotnull as "nullable",
               t.typdefault as "default",
               pg_catalog.pg_type_is_visible(t.oid) as "visible",
               n.nspname as "schema"
            FROM pg_catalog.pg_type t
               LEFT JOIN pg_catalog.pg_namespace n ON n.oid = t.typnamespace
            WHERE t.typtype = 'd'

2022-04-07 23:48:03,367 INFO sqlalchemy.engine.base.Engine {}
2022-04-07 23:48:03,373 INFO sqlalchemy.engine.base.Engine
            SELECT t.typname as "name",
               -- no enum defaults in 8.4 at least
               -- t.typdefault as "default",
               pg_catalog.pg_type_is_visible(t.oid) as "visible",
               n.nspname as "schema",
               e.enumlabel as "label"
            FROM pg_catalog.pg_type t
                 LEFT JOIN pg_catalog.pg_namespace n ON n.oid = t.typnamespace
                 LEFT JOIN pg_catalog.pg_enum e ON t.oid = e.enumtypid
            WHERE t.typtype = 'e'
        ORDER BY "schema", "name", e.oid
2022-04-07 23:48:03,375 INFO sqlalchemy.engine.base.Engine {}
2022-04-07 23:48:03,379 INFO sqlalchemy.engine.base.Engine
                SELECT a.attname
                FROM pg_attribute a JOIN (
                    SELECT unnest(ix.indkey) attnum,
                           generate_subscripts(ix.indkey, 1) ord
                    FROM pg_index ix
                    WHERE ix.indrelid = %(table_oid)s AND ix.indisprimary
                    ) k ON a.attnum=k.attnum
                WHERE a.attrelid = %(table_oid)s
                ORDER BY k.ord

2022-04-07 23:48:03,380 INFO sqlalchemy.engine.base.Engine {'table_oid': 33045}
2022-04-07 23:48:03,383 INFO sqlalchemy.engine.base.Engine
        SELECT conname
           FROM  pg_catalog.pg_constraint r
           WHERE r.conrelid = %(table_oid)s AND r.contype = 'p'
           ORDER BY 1

2022-04-07 23:48:03,385 INFO sqlalchemy.engine.base.Engine {'table_oid': 33045}
2022-04-07 23:48:03,389 INFO sqlalchemy.engine.base.Engine
          SELECT r.conname,
                pg_catalog.pg_get_constraintdef(r.oid, true) as condef,
                n.nspname as conschema
          FROM  pg_catalog.pg_constraint r,
                pg_namespace n,
                pg_class c

          WHERE r.conrelid = %(table)s AND
                r.contype = 'f' AND
                c.oid = confrelid AND
                n.oid = c.relnamespace
          ORDER BY 1

2022-04-07 23:48:03,390 INFO sqlalchemy.engine.base.Engine {'table': 33045}
2022-04-07 23:48:03,395 INFO sqlalchemy.engine.base.Engine
              SELECT
                  i.relname as relname,
                  ix.indisunique, ix.indexprs, ix.indpred,
                  a.attname, a.attnum, c.conrelid, ix.indkey::varchar,
                  ix.indoption::varchar, i.reloptions, am.amname,
                  ix.indnkeyatts as indnkeyatts
              FROM
                  pg_class t
                        join pg_index ix on t.oid = ix.indrelid
                        join pg_class i on i.oid = ix.indexrelid
                        left outer join
                            pg_attribute a
                            on t.oid = a.attrelid and a.attnum = ANY(ix.indkey)
                        left outer join
                            pg_constraint c
                            on (ix.indrelid = c.conrelid and
                                ix.indexrelid = c.conindid and
                                c.contype in ('p', 'u', 'x'))
                        left outer join
                            pg_am am
                            on i.relam = am.oid
              WHERE
                  t.relkind IN ('r', 'v', 'f', 'm', 'p')
                  and t.oid = %(table_oid)s
                  and ix.indisprimary = 'f'
              ORDER BY
                  t.relname,
                  i.relname

2022-04-07 23:48:03,398 INFO sqlalchemy.engine.base.Engine {'table_oid': 33045}
2022-04-07 23:48:03,412 INFO sqlalchemy.engine.base.Engine
            SELECT
                cons.conname as name,
                cons.conkey as key,
                a.attnum as col_num,
                a.attname as col_name
            FROM
                pg_catalog.pg_constraint cons
                join pg_attribute a
                  on cons.conrelid = a.attrelid AND
                    a.attnum = ANY(cons.conkey)
            WHERE
                cons.conrelid = %(table_oid)s AND
                cons.contype = 'u'

2022-04-07 23:48:03,414 INFO sqlalchemy.engine.base.Engine {'table_oid': 33045}
2022-04-07 23:48:03,422 INFO sqlalchemy.engine.base.Engine
            SELECT
                cons.conname as name,
                pg_get_constraintdef(cons.oid) as src
            FROM
                pg_catalog.pg_constraint cons
            WHERE
                cons.conrelid = %(table_oid)s AND
                cons.contype = 'c'

2022-04-07 23:48:03,424 INFO sqlalchemy.engine.base.Engine {'table_oid': 33045}
2022-04-07 23:48:03,433 INFO sqlalchemy.engine.base.Engine
            SELECT
                pgd.description as table_comment
            FROM
                pg_catalog.pg_description pgd
            WHERE
                pgd.objsubid = 0 AND
                pgd.objoid = %(table_oid)s

2022-04-07 23:48:03,434 INFO sqlalchemy.engine.base.Engine {'table_oid': 33045}
2022-04-07 23:48:03,438 INFO sqlalchemy.engine.base.Engine
DROP TABLE gross_revenue
2022-04-07 23:48:03,439 INFO sqlalchemy.engine.base.Engine {}
2022-04-07 23:48:03,446 INFO sqlalchemy.engine.base.Engine COMMIT
2022-04-07 23:48:03,462 INFO sqlalchemy.engine.base.Engine
CREATE TABLE gross_revenue (
	index BIGINT,
	imdb_id TEXT,
	total_gross FLOAT(53),
	inflation_adjusted_gross FLOAT(53),
	rev_id TEXT
)

2022-04-07 23:48:03,464 INFO sqlalchemy.engine.base.Engine {}
2022-04-07 23:48:03,472 INFO sqlalchemy.engine.base.Engine COMMIT
2022-04-07 23:48:03,478 INFO sqlalchemy.engine.base.Engine CREATE INDEX ix_gross_revenue_index ON gross_revenue (index)
2022-04-07 23:48:03,480 INFO sqlalchemy.engine.base.Engine {}
2022-04-07 23:48:03,494 INFO sqlalchemy.engine.base.Engine COMMIT
2022-04-07 23:48:03,500 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2022-04-07 23:48:03,512 INFO sqlalchemy.engine.base.Engine INSERT INTO gross_revenue (index, imdb_id, total_gross, inflation_adjusted_gross, rev_id) VALUES (%(index)s, %(imdb_id)s, %(total_gross)s, %(inflation_adjusted_gross)s, %(rev_id)s)
2022-04-07 23:48:03,514 INFO sqlalchemy.engine.base.Engine ({'index': 0, 'imdb_id': 'tt0115433', 'total_gross': 153000000.0, 'inflation_adjusted_gross': 1386568896.0, 'rev_id': 'r-000r-0000'}, {'index': 1, 'imdb_id': 'tt0115433', 'total_gross': 136189294.0, 'inflation_adjusted_gross': 235202122.0, 'rev_id': 'r-000r-0001'}, {'index': 2, 'imdb_id': 'tt0211181', 'total_gross': 66941559.0, 'inflation_adjusted_gross': 105337713.0, 'rev_id': 'r-000r-0002'}, {'index': 3, 'imdb_id': 'tt0103594', 'total_gross': 7099531.0, 'inflation_adjusted_gross': 13711759.0, 'rev_id': 'r-000r-0003'}, {'index': 4, 'imdb_id': 'tt0046672', 'total_gross': 28200000.0, 'inflation_adjusted_gross': 284065204.0, 'rev_id': 'r-000r-0004'}, {'index': 5, 'imdb_id': 'tt0307901', 'total_gross': 13084595.0, 'inflation_adjusted_gross': 19708353.0, 'rev_id': 'r-000r-0005'}, {'index': 6, 'imdb_id': 'tt0094137', 'total_gross': 167780960.0, 'inflation_adjusted_gross': 400207805.0, 'rev_id': 'r-000r-0006'}, {'index': 7, 'imdb_id': 'tt0098966', 'total_gross': 71609321.0, 'inflation_adjusted_gross': 148461956.0, 'rev_id': 'r-000r-0007'}  ... displaying 10 of 617 total bound parameter sets ...  {'index': 615, 'imdb_id': 'tt0283426', 'total_gross': 47901582.0, 'inflation_adjusted_gross': 70542889.0, 'rev_id': 'r-000r-000615'}, {'index': 616, 'imdb_id': 'tt1568921', 'total_gross': 19192510.0, 'inflation_adjusted_gross': 22651264.0, 'rev_id': 'r-000r-000616'})
2022-04-07 23:48:03,797 INFO sqlalchemy.engine.base.Engine COMMIT

### Load Completed IMDB TV show dataset

In [116]:
#Load the complete IMDB dataset
imdb_tv_df = pd.read_csv('input/IMDB_tv.csv')

imdb_tv_df['Rated'] = imdb_tv_df['Rated'].str.replace('Not Rated','Not-Rated')
imdb_tv_df['Title'] = imdb_tv_df['Title'].str.replace('.', '')

imdb_tv_df['Year'] = imdb_tv_df['Year'].str.split('–', 1).str[0]
imdb_tv_df['Year'] = imdb_tv_df['Year'].astype(int)
imdb_tv_df['Genre'] = imdb_tv_df['Genre'].str.replace(',', '|')
imdb_tv_df['Genre'] = imdb_tv_df['Genre'].str.replace(' ', '')

imdb_tv_df['Director'] = imdb_tv_df['Director'].str.replace(',', '|')
#imdb_tv_df['Director'] = imdb_tv_df['Director'].str.replace(' ', '')

imdb_tv_df['Writer'] = imdb_tv_df['Writer'].str.replace(',', '|')
#imdb_tv_df['Writer'] = imdb_tv_df['Writer'].str.replace(' ', '')

imdb_tv_df['Actors'] = imdb_tv_df['Actors'].str.replace(',', '|')
#imdb_tv_df['Actors'] = imdb_tv_df['Actors'].str.replace(' ', '')

imdb_tv_df['Language'] = imdb_tv_df['Language'].str.replace(',', '|')
imdb_tv_df['Language'] = imdb_tv_df['Language'].str.replace(' ', '')

imdb_tv_df['Country'] = imdb_tv_df['Country'].str.replace(',', '|')
#imdb_tv_df['Country'] = imdb_tv_df['Country'].str.replace(' ', '')

imdb_tv_df['imdbVotes'] = imdb_tv_df['imdbVotes'].astype(str)
imdb_tv_df['imdbVotes'] = imdb_tv_df['imdbVotes'].str.replace(',', '')

imdb_tv_df.head()

,Title,Year,Rated,Released,Runtime,Genre,Director,Writer,Actors,Language,Country,Awards,Metascore,IMDBRating,imdbVotes,imdbID
0,Ice Age: A Mammoth Christmas,2011,TV-PG,24 Nov 2011,26,Animation|Short|Adventure|Comedy|Family|Fantasy,Karen Disher,Sam Harper| Mike Reiss,Ray Romano| John Leguizamo| Denis Leary| Queen...,English,USA,1 nomination.,-1.0,6.5,9671,tt2100546
1,The Queen Family Singalong,2021,TV-PG,04 Nov 2021,41,Music|Musical,Hamish Hamilton,Brian Strickland,Darren Criss| Adam Lambert| Jimmie Allen,English,United States,NaN,-1.0,5.9,86,tt15716286
2,The Beatles: Get Back,2021,PG-13,25 Nov 2021,-1,Documentary|Biography|Music,Peter Jackson,NaN,The Beatles| John Lennon| Paul McCartney,English,United Kingdom| New Zealand| United States,4 wins & 4 nominations,-1.0,9.1,18501,tt9735318
3,Becoming Cousteau,2021,PG-13,24 Nov 2021,94,Documentary|Adventure|Biography,Liz Garbus,Mark Monroe| Pax Wassermann,Vincent Cassel| Carol Burnett| Louis Malle,English|French,United States,Nominated for 1 BAFTA Film Award2 wins & 11 no...,74.0,7.1,834,tt10334438
4,Hawkeye,2021,TV-14,24 Nov 2021,60,Action|Adventure|Crime,NaN,NaN,Jeremy Renner| Hailee Steinfeld| Florence Pugh,English|AmericanSign,United States,8 nominations,-1.0,7.7,142549,tt10160804

In [128]:
#Merge the IMDB tv shows dataset and MovieLens dataset on movie_title & year ONLY
merged_tv_df =pd.merge(imdb_tv_df, ml_df, how='left', left_on=['Title', 'Year'], right_on=['movie_title', 'year'])
merged_tv_df.head()

,Title,Year,Rated,Released,Runtime,Genre,Director,Writer,Actors,Language,...,Awards,Metascore,IMDBRating,imdbVotes,imdbID,movieId,title,genres,movie_title,year
0,Ice Age: A Mammoth Christmas,2011,TV-PG,24 Nov 2011,26,Animation|Short|Adventure|Comedy|Family|Fantasy,Karen Disher,Sam Harper| Mike Reiss,Ray Romano| John Leguizamo| Denis Leary| Queen...,English,...,1 nomination.,-1.0,6.5,9671,tt2100546,117922.0,Ice Age: A Mammoth Christmas (2011),Adventure|Animation|Children,Ice Age: A Mammoth Christmas,2011.0
1,The Queen Family Singalong,2021,TV-PG,04 Nov 2021,41,Music|Musical,Hamish Hamilton,Brian Strickland,Darren Criss| Adam Lambert| Jimmie Allen,English,...,NaN,-1.0,5.9,86,tt15716286,NaN,NaN,NaN,NaN,NaN
2,The Beatles: Get Back,2021,PG-13,25 Nov 2021,-1,Documentary|Biography|Music,Peter Jackson,NaN,The Beatles| John Lennon| Paul McCartney,English,...,4 wins & 4 nominations,-1.0,9.1,18501,tt9735318,NaN,NaN,NaN,NaN,NaN
3,Becoming Cousteau,2021,PG-13,24 Nov 2021,94,Documentary|Adventure|Biography,Liz Garbus,Mark Monroe| Pax Wassermann,Vincent Cassel| Carol Burnett| Louis Malle,English|French,...,Nominated for 1 BAFTA Film Award2 wins & 11 no...,74.0,7.1,834,tt10334438,NaN,NaN,NaN,NaN,NaN
4,Hawkeye,2021,TV-14,24 Nov 2021,60,Action|Adventure|Crime,NaN,NaN,Jeremy Renner| Hailee Steinfeld| Florence Pugh,English|AmericanSign,...,8 nominations,-1.0,7.7,142549,tt10160804,NaN,NaN,NaN,NaN,NaN

In [129]:
#Replace Genre "Not Rated" with "Not-Rated"
merged_tv_df['Rated'] = merged_tv_df['Rated'].str.replace('Not Rated','Not-Rated')

In [130]:
merged_tv_df.isna().sum()

Title            0
Year             0
Rated          164
Released        13
Runtime          0
Genre            6
Director       232
Writer         199
Actors          35
Language        18
Country         10
Awards         404
Metascore        0
IMDBRating       0
imdbVotes        0
imdbID           0
movieId        496
title          496
genres         496
movie_title    496
year           496
dtype: int64

In [131]:
#genres na?
merged_tv_df.loc[merged_tv_df['genres'] == '(no genres listed)']

,Title,Year,Rated,Released,Runtime,Genre,Director,Writer,Actors,Language,...,Awards,Metascore,IMDBRating,imdbVotes,imdbID,movieId,title,genres,movie_title,year
352,How to Play Football,1944,Approved,15 Sep 1944,7,Animation|Short|Comedy,Jack Kinney,Rex Cox| Harry Reeves,Billy Bletcher| Pinto Colvig,English,...,Nominated for 1 Oscar. 1 nomination total,-1.0,7.1,1199,tt0036933,136453.0,How to Play Football (1944),(no genres listed),How to Play Football,1944.0
415,A Ring of Endless Light,2002,TV-G,23 Aug 2002,88,Drama|Family|Romance,Greg Beeman,Madeleine L'Engle (novel)| Marita Giovanni (te...,Mischa Barton| Ryan Merriman| Jared Padalecki|...,English,...,2 wins & 1 nomination.,-1.0,6.0,1165,tt0282123,143426.0,A Ring of Endless Light (2002),(no genres listed),A Ring of Endless Light,2002.0
419,Almost Angels,1962,Not-Rated,21 Dec 1962,93,Comedy|Family|Music,Steve Previn,Vernon Harris| Robert A. Stemmle,Vincent Winter| Sean Scully| Peter Weck,English,...,NaN,-1.0,6.6,547,tt0055740,170058.0,Almost Angels (1962),(no genres listed),Almost Angels,1962.0
508,Going to the Mat,2004,G,19 Mar 2004,120,Drama|Family|Sport,Stuart Gillard,Chris Nolan (story)| Laurie Nolan (story)| Chr...,Andrew Lawrence| Khleo Thomas| Alessandra Torr...,English,...,1 win & 3 nominations.,-1.0,6.9,1305,tt0399104,143235.0,Going to the Mat (2004),(no genres listed),Going to the Mat,2004.0
567,Life Is Ruff,2005,TV-G,15 Jul 2005,84,Comedy|Family,Charles Haid,Eddie Guzelian,Kyle Massey| Kay Panabaker| Mitchel Musso| Car...,English,...,NaN,-1.0,4.9,1290,tt0450455,142572.0,Life Is Ruff (2005),(no genres listed),Life Is Ruff,2005.0
635,Quints,2000,TV-G,18 Aug 2000,83,Comedy|Drama|Family,Bill Corcoran,Matthew Weisman (story)| Matthew Weisman (tele...,Kimberly J. Brown| Daniel Roebuck| Elizabeth M...,English,...,2 nominations.,-1.0,5.7,2243,tt0245380,136371.0,Quints (2000),(no genres listed),Quints,2000.0
643,Right on Track,2003,TV-G,21 Mar 2003,89,Biography|Drama|Family,Duwayne Dunham,Sally Nemeth| Bruce Graham,Beverley Mitchell| Brie Larson| Jon Lindstrom|...,English,...,NaN,-1.0,6.3,1233,tt0323810,140461.0,Right on Track (2003),(no genres listed),Right on Track,2003.0
716,The Jungle Book: Mowgli's Story,1998,G,28 Sep 1998,77,Adventure|Family,Nick Marck,Rudyard Kipling (book)| Jose Rivera (teleplay)...,Brandon Baker| Sherman Howard| Clancy Brown| P...,English,...,NaN,-1.0,4.2,677,tt0144262,165965.0,The Jungle Book: Mowgli's Story (1998),(no genres listed),The Jungle Book: Mowgli's Story,1998.0
731,The Prince and the Pauper,1962,TV-PG,11 Mar 1962,93,Adventure,Don Chaffey,Mark Twain| Jack Whittingham,Guy Williams| Laurence Naismith| Donald Houston,English,...,NaN,-1.0,6.3,295,tt1836776,170056.0,The Prince and the Pauper (1962),(no genres listed),The Prince and the Pauper,1962.0
745,The Thirteenth Year,1999,TV-G,15 May 1999,95,Comedy|Family|Fantasy,Duwayne Dunham,Jenny Arata (story)| Robert L. Baird (teleplay...,Chez Starbuck| Justin Jon Ross| Courtnee Drape...,English,...,1 nomination.,-1.0,6.0,5072,tt0200208,136590.0,The Thirteenth Year (1999),(no genres listed),The Thirteenth Year,1999.0
792,Yellowstone Cubs,1963,Not-Rated,01 Jun 1963,48,Adventure|Family,Charles L. Draper,Ralph Wright,Rex Allen| Joe Way,English,...,1 nomination,-1.0,6.9,283,tt0206446,203639.0,Yellowstone Cubs (1963),(no genres listed),Yellowstone Cubs,1963.0
793,You Lucky Dog,1998,TV-G,27 Jun 1998,89,Comedy|Family|Fantasy|Mystery,Paul Schneider,David Covell (story)| David Covell (teleplay)|...,Kirk Cameron| Chelsea Noble| John de Lancie| C...,English,...,NaN,-1.0,4.7,616,tt0153992,162702.0,You Lucky Dog (1998),(no genres listed),You Lucky Dog,1998.0

In [132]:
#genres na?
merged_tv_df.loc[merged_tv_df['Genre'].isna()]

,Title,Year,Rated,Released,Runtime,Genre,Director,Writer,Actors,Language,...,Awards,Metascore,IMDBRating,imdbVotes,imdbID,movieId,title,genres,movie_title,year
94,Built for Mars: The Perseverance Rover,2021,NaN,02 May 2021,88,NaN,Mark Davis,Mark Davis,Steve French| Moogega Cooper| Adam Steltzner,NaN,...,NaN,-1.0,-1.0,50,tt13932270,NaN,NaN,NaN,NaN,NaN
211,Disney Holiday Magic Quest,2020,NaN,04 Dec 2020,45,NaN,Art Spigel,NaN,Raven-Symoné| Milo Manheim| Kylee Russell,English,...,NaN,-1.0,6.2,32,tt13522634,NaN,NaN,NaN,NaN,NaN
223,American Party Animals,2016,NaN,NaN,-1,NaN,NaN,NaN,NaN,NaN,...,NaN,-1.0,-1.0,-1,tt6925732,NaN,NaN,NaN,NaN,NaN
285,Destination World,2018,NaN,NaN,-1,NaN,NaN,NaN,Rick Robles,English,...,NaN,-1.0,-1.0,-1,tt14630178,NaN,NaN,NaN,NaN,NaN
311,The Story of the Animated Drawing,1955,NaN,01 Nov 1955,50,NaN,NaN,NaN,NaN,NaN,...,NaN,-1.0,-1.0,-1,tt4903486,NaN,NaN,NaN,NaN,NaN
647,Rocky Mountain Animal Rescue,2018,NaN,NaN,-1,NaN,NaN,NaN,NaN,English,...,NaN,-1.0,8.4,27,tt9395780,NaN,NaN,NaN,NaN,NaN

In [133]:
#So after merged, we need to find titles in IMDB lists without it's corresponding MovieLens movieID
#then we take the MovieLens movieId & genres to add into merged_tv_df

for i in merged_tv_df.index:
    if str(merged_tv_df['movieId'][i]) == 'nan':  
        for j in ml_df.index:
            if merged_tv_df['Title'][i] == ml_df['movie_title'][j]:
                print("--------------------------")
                print(merged_tv_df['Title'][i])
                print(ml_df['movie_title'][j])
                merged_tv_df['movieId'][i] = ml_df['movieId'][j]
                merged_tv_df['genres'][i] = ml_df['genres'][j]
                print("--------------------------")

--------------------------
Spin
Spin
--------------------------

/Users/vuvie/opt/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()
/Users/vuvie/opt/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':

--------------------------
Spin
Spin
--------------------------
--------------------------
Spin
Spin
--------------------------
--------------------------
Spin
Spin
--------------------------
--------------------------
Under Wraps
Under Wraps
--------------------------
--------------------------
Turner & Hooch
Turner & Hooch
--------------------------
--------------------------
Mulan
Mulan
--------------------------
--------------------------
Mulan
Mulan
--------------------------
--------------------------
Black Beauty
Black Beauty
--------------------------
--------------------------
Black Beauty
Black Beauty
--------------------------
--------------------------
Black Beauty
Black Beauty
--------------------------
--------------------------
Once Upon a Time
Once Upon a Time
--------------------------
--------------------------
Once Upon a Time
Once Upon a Time
--------------------------
--------------------------
Once Upon a Time
Once Upon a Time
--------------------------
--------------------------
Once Upon a Time
Once Upon a Time
--------------------------
--------------------------
Once Upon a Time
Once Upon a Time
--------------------------
--------------------------
Magic Camp
Magic Camp
--------------------------
--------------------------
Elephant
Elephant
--------------------------
--------------------------
Elephant
Elephant
--------------------------
--------------------------
The Lodge
The Lodge
--------------------------
--------------------------
Drain the Titanic
Drain the Titanic
--------------------------
--------------------------
Pick of the Litter
Pick of the Litter
--------------------------
--------------------------
Wind
Wind
--------------------------
--------------------------
Wind
Wind
--------------------------
--------------------------
Wind
Wind
--------------------------
--------------------------
Float
Float
--------------------------
--------------------------
Gargoyles
Gargoyles
--------------------------
--------------------------
Hounded
Hounded
--------------------------
--------------------------
I'll Be Home for Christmas
I'll Be Home for Christmas
--------------------------
--------------------------
Jungle Cat
Jungle Cat
--------------------------
--------------------------
Lifted
Lifted
--------------------------
--------------------------
Swiss Family Robinson
Swiss Family Robinson
--------------------------
--------------------------
The Computer Wore Tennis Shoes
The Computer Wore Tennis Shoes
--------------------------

In [139]:
merged_tv_df.loc[merged_tv_df['Title'] == 'Lifted']

,Title,Year,Rated,Released,Runtime,Genre,Director,Writer,Actors,Language,...,Awards,Metascore,IMDBRating,imdbVotes,imdbID,movieId,title,genres,movie_title,year
570,Lifted,2006,G,29 Jun 2007,5,Animation|Short|Comedy,Gary Rydstrom,Gary Rydstrom| Jeff Pidgeon| Maxwell Brace IV,Sheb Wooley,None,...,Nominated for 1 Oscar. 1 nomination total,-1.0,7.8,19290,tt0945571,133335.0,NaN,Children|Drama,NaN,NaN

In [140]:
merged_tv_df.loc[merged_tv_df['Genre'].isna()]

,Title,Year,Rated,Released,Runtime,Genre,Director,Writer,Actors,Language,...,Awards,Metascore,IMDBRating,imdbVotes,imdbID,movieId,title,genres,movie_title,year
94,Built for Mars: The Perseverance Rover,2021,NaN,02 May 2021,88,NaN,Mark Davis,Mark Davis,Steve French| Moogega Cooper| Adam Steltzner,NaN,...,NaN,-1.0,-1.0,50,tt13932270,NaN,NaN,NaN,NaN,NaN
211,Disney Holiday Magic Quest,2020,NaN,04 Dec 2020,45,NaN,Art Spigel,NaN,Raven-Symoné| Milo Manheim| Kylee Russell,English,...,NaN,-1.0,6.2,32,tt13522634,NaN,NaN,NaN,NaN,NaN
223,American Party Animals,2016,NaN,NaN,-1,NaN,NaN,NaN,NaN,NaN,...,NaN,-1.0,-1.0,-1,tt6925732,NaN,NaN,NaN,NaN,NaN
285,Destination World,2018,NaN,NaN,-1,NaN,NaN,NaN,Rick Robles,English,...,NaN,-1.0,-1.0,-1,tt14630178,NaN,NaN,NaN,NaN,NaN
311,The Story of the Animated Drawing,1955,NaN,01 Nov 1955,50,NaN,NaN,NaN,NaN,NaN,...,NaN,-1.0,-1.0,-1,tt4903486,NaN,NaN,NaN,NaN,NaN
647,Rocky Mountain Animal Rescue,2018,NaN,NaN,-1,NaN,NaN,NaN,NaN,English,...,NaN,-1.0,8.4,27,tt9395780,NaN,NaN,NaN,NaN,NaN

In [149]:
#drop the column if Genre is Null
merged_tv_df.dropna(subset = ['Genre'], inplace=True)

In [150]:
merged_tv_df.loc[merged_tv_df['Genre'].isna()]

Empty DataFrame
Columns: [Title, Year, Rated, Released, Runtime, Genre, Director, Writer, Actors, Language, Country, Awards, Metascore, IMDBRating, imdbVotes, imdbID, movieId, title, genres, movie_title, year]
Index: []

[0 rows x 21 columns]

In [152]:
#We are going to add the Genre to genres column if it is nan or (no genres listed) because we will keep genres 
#column (from MovieLens) and drop Genre column from IMDB.
#The reason is MovieLens genres have longer genres list than IMDB

for i in merged_tv_df.index:
    if str(merged_tv_df['title'][i]) == 'nan' or str(merged_tv_df['genres'][i]) =='(no genres listed)':
        print("List of Movies that IMDB Genre nan will be replaced by MovieLens genres")
        print(merged_tv_df['Title'][i])
        print(merged_tv_df['Genre'][i])
        print(merged_tv_df['genres'][i])
        merged_tv_df['genres'][i] = merged_tv_df['Genre'][i]
        print("--------------------------")
        
    elif len(merged_tv_df['Genre'][i]) > len(merged_tv_df['genres'][i]):
        print(merged_tv_df['Genre'][i])
        print(merged_tv_df['genres'][i])
        merged_tv_df['genres'][i] = merged_tv_df['Genre'][i]
        print("--------------------------")

Animation|Short|Adventure|Comedy|Family|Fantasy
Adventure|Animation|Children
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Queen Family Singalong
Music|Musical
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Beatles: Get Back
Documentary|Biography|Music
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Becoming Cousteau
Documentary|Adventure|Biography
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Hawkeye
Action|Adventure|Crime
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
A Muppets Christmas: Letters to Santa
Comedy|Family|Music
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Adventure Thru the Walt Disney Archives
Documentary
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Puppy for Hanukkah
Short|Music
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Pixar Story
Documentary
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Ciao Alberto
Animation|Short|Comedy
nan
--------------------------
Animation|Short|Adventure
Adventure|Animation
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Home Sweet Home Alone
Comedy|Crime|Family
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Marvel Studios' 2021 Disney+ Day Special
Documentary|Short
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Olaf Presents
Animation|Short|Comedy
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Pixar 2021 Disney+ Day Special
Documentary|Short
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Shang-Chi and the Legend of the Ten Rings
Action|Adventure|Fantasy
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Spin
Short|Drama|Romance
Documentary
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Tangled Ever After
Animation|Short|Adventure
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Ballad of Nessie
Animation|Short|Adventure
nan
--------------------------
Animation|Short|Drama
Animation
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Making of Happier Than Ever: A Love Letter to Los Angeles
Documentary
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Simpsons in Plusaversary
Animation|Short|Comedy
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Under the Helmet: The Legacy of Boba Fett
Documentary
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Willow!!!!
Short|Comedy
nan
--------------------------
Animation|Adventure|Comedy
Animation|Comedy
--------------------------
Adventure|Comedy|Family
Children|Comedy
--------------------------
Adventure|Drama|Family|Fantasy|Musical
Adventure|Children
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Photo Ark
Documentary
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Storm Rising
Reality-TV
nan
--------------------------
Comedy|Family|Fantasy
Comedy|Fantasy
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
PJ Masks
Animation|Action|Adventure
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Wild Life of Dr Ole
Reality-TV
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Apollo: Back to the Moon
Documentary|History
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Just Beyond
Comedy|Drama|Fantasy
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Secrets of the Zoo: Down Under
Documentary
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Secrets of the Zoo: North Carolina
Reality-TV
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Zombies: Addison's Moonstone Mystery: Feelin' the Power
Short|Music
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Muppets Haunted Mansion
Adventure|Comedy|Family
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Most Magical Story on Earth: 50 Years of Walt Disney World
Documentary|Music|Musical
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Under Wraps
Short|Drama
Children|Comedy|Horror
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Among the Stars
Documentary
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Fauci
Documentary|Biography|History
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
National Geographic Presents: Impact with Gal Gadot
Documentary
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Ghost and Molly McGee
Animation|Short|Adventure
nan
--------------------------
Animation|Adventure|Comedy
Children|Comedy
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Disney's Magic Bake-Off
Family|Game-Show|Reality-TV
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Octonauts & the Great Barrier Reef
Animation|Action|Adventure
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Disney Junior Ready for Preschool
Family
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Rolie Polie Olie
Animation|Comedy|Family
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Star Wars: Galaxy of Sounds
Sci-Fi
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Hatcher Family Dairy
Documentary
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Simpsons
Animation|Comedy
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
A Spark Story
Documentary|Animation
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Dog: Impossible
Reality-TV
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Spidey and His Amazing Friends
Animation|Action|Adventure
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Star Wars: Visions
Animation|Action|Adventure
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Flooded Tombs of the Nile
Documentary
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Nona
Animation|Short
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Life Below Zero
Documentary
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Miraculous: Tales of Ladybug & Cat Noir
Animation|Action|Adventure
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Unknown Waters with Jeremy Wade
Adventure
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Twenty Something
Animation|Short|Comedy
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Doogie Kamealoha, MD
Comedy|Drama|Family
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Mira, Royal Detective
Animation|Short|Adventure
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Pepper Ann
Animation|Comedy|Family
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Incredible Dr Pol
Documentary|Reality-TV
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Happier Than Ever: A Love Letter to Los Angeles
Music
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
X-Men: Dark Phoenix
Action|Adventure|Sci-Fi
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Dug Days
Animation|Short|Adventure
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Disney Princess Remixed - An Ultimate Princess Celebration
Documentary|Fantasy|Music
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Dr K's Exotic Animal ER
Reality-TV
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Life Below Zero: Next Generation
Reality-TV
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Growing Up Animal
Documentary
nan
--------------------------
Action|Adventure|Fantasy
Action|Adventure|Sci-Fi
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Chicken Squad
Animation|Short|Adventure
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
What If?
Animation|Action|Adventure
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Beverly Hills Chihuahua 2
Adventure|Comedy|Family
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Beverly Hills Chihuahua 3: Viva La Fiesta!
Adventure|Comedy|Family
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Killer Shark vs Killer Whale
Documentary
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Cesar Millan: Better Human Better Dog
Reality-TV
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Garfield
Animation|Adventure|Comedy
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Chip 'N' Dale: Park Life
Animation|Short|Adventure
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Critter Fixers: Country Vets
Family
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Mickey Mouse Funhouse
Animation|Short|Adventure
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Turning the Tables with Robin Roberts
Talk-Show
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Ice Age: The Meltdown El Chavo del 8 y animado
Animation
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Playing with Sharks: The Valerie Taylor Story
Documentary|Adventure
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Shark vs Surfer
Documentary
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Shark vs Whale
Documentary
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Hollywood Bulldogs: The Rise and Falls of the Great British Stuntman
Documentary
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Behind the Attraction
Documentary
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Turner & Hooch
Comedy|Crime|Drama
Comedy|Crime
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Secrets of the Bull Shark
Documentary
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Shark Attack Files
Documentary
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Shark Attack Investigation: The Paige Winter Story
Documentary
nan
--------------------------
Comedy|Drama|Family
Comedy|Drama
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
World's Most Dangerous Shark
Documentary
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
So Random!
Comedy|Family|Musical
nan
--------------------------
Adventure|Drama|Family
Children|Drama
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Orca vs Great White
Documentary
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Rogue Shark?
Documentary
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Shark Beach with Chris Hemsworth
Documentary
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Shark Gangs
Documentary
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
When Sharks Attack
Documentary
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Breaking Bobby Bones
Documentary
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Mickey Mouse: Mixed-Up Adventures
Animation
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Monsters at Work
Animation|Adventure|Comedy
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Good, the Bart, and the Loki
Animation|Short|Action
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Sandlot
Comedy|Drama|Family
nan
--------------------------
Comedy|Family|Sport
Children|Comedy
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Mysterious Benedict Society
Action|Adventure|Comedy
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Wolfgang
Documentary|Biography
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Dino Ranch
Animation|Adventure|Comedy
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Luca
Animation|Adventure|Comedy
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Happiest Millionaire
Comedy|Family|Musical
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Zenimation
Animation|Short|Family
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Loki
Action|Adventure|Fantasy
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Us Again
Animation|Short|Drama
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Dinner is Served
Short|Horror
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Growing Fangs
Short
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Ice Road Rescue
Documentary|Reality-TV
nan
--------------------------
Animation|Adventure|Family|Fantasy
Adventure|Animation|Children
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Schoolhouse Rock!
Animation|Short|Family
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Race to the Center of the Earth
Adventure|Game-Show|Reality-TV
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Special Agent Oso
Animation|Action|Adventure
nan
--------------------------
Action|Adventure|Sci-Fi
Action|Sci-Fi|Thriller
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Incredible Hulk
Animation|Action|Adventure
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Wander Over Yonder
Animation|Adventure|Comedy
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Star Wars Biomes
Short|Sci-Fi
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Star Wars Vehicle Flythroughs
Sci-Fi
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Star Wars: The Bad Batch
Animation|Action|Adventure
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Spider-Man: The Animated Series
Animation|Action|Adventure
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
22 vs Earth
Animation|Short|Adventure
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
DuckTales
Animation|Action|Adventure
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Oklahoma Woman
Action|Drama|Western
nan
--------------------------
Adventure|Comedy|Crime
Comedy
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Being the Queen
Documentary
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Liv and Maddie
Comedy|Drama|Family
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Secrets of the Whales
Documentary|Adventure
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Big Shot
Comedy|Drama|Sport
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Earth Moods
Documentary|Adventure
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Cesar Millan: The Real Story
Documentary|Biography
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Kick Buttowski: Suburban Daredevil
Animation|Action|Adventure
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Mark Twain and Me
Biography|Drama
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Ewoks: The Battle for Endor

/Users/vuvie/opt/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/Users/vuvie/opt/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()

List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Last Ice
Documentary
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Third Man on the Mountain
Adventure|Drama|Family
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Walk the Prank
Comedy|Reality-TV
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Pickle and Peanut
Animation|Short|Adventure
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Mighty Ducks: Game Changers
Comedy|Drama|Sport
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Mexico Untamed
Documentary
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Falcon and the Winter Soldier
Action|Adventure|Drama
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Doc McStuffins: The Doc Is In
Animation
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Marvel Studios: Assembled
Documentary
nan
--------------------------
Adventure|Drama|Family
Fantasy
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Own the Room
Documentary
nan
--------------------------
Animation|Adventure|Comedy
Animation|Children|Comedy
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Dog with a Blog
Comedy|Drama|Family
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Mickey Go Local
Animation|Short|Comedy
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Okavango: River of Dreams - Director's Cut
Documentary
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Pair of Kings
Comedy|Family|Fantasy
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Secrets of Sulphur Springs
Adventure|Drama|Family
nan
--------------------------
Adventure|Comedy|Family
Adventure|Comedy
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Flora & Ulysses
Adventure|Comedy|Family
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Muppet Show
Comedy|Family|Music
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Marvel Battleworld: Mystery of the Thanostones
Animation|Action
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Marvel's Behind the Mask
Documentary
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Expedition Everest
Documentary
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Upside-Down Magic
Family|Fantasy
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Dinosaurs
Comedy|Family|Fantasy
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Pixar Popcorn
Animation|Short|Comedy
nan
--------------------------
Animation|Adventure|Comedy
Animation|Comedy
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
WandaVision
Action|Comedy|Drama
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Disney Fam Jam
Biography
nan
--------------------------
Animation|Adventure|Comedy
Animation|Children|Comedy
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Marvel Studios: Legends
Short|Action|Fantasy
nan
--------------------------
Animation|Short|Adventure|Comedy|Family|Fantasy
Animation|Children
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Mega Hammerhead
Documentary
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Burrow
Animation|Short|Comedy
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Cosmos: Possible Worlds
Documentary
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Soul
Animation|Adventure|Comedy
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Dory's Reef Cam
Animation|Adventure|Comedy|Family
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
On Pointe
Documentary
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Wild Nordic
Documentary
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
High School Musical: The Musical: The Holiday Special
Comedy|Drama|Musical
nan
--------------------------
Animation|Adventure|Comedy
Animation|Children
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Safety
Biography|Drama|Sport
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Godmothered
Comedy|Drama|Family
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Man vs Shark
Documentary
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Mulan
Action|Adventure|Drama
Action|Adventure|Drama|Romance
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Disney Holiday Singalong
Family|Music|Musical
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Black Beauty
Drama|Family
Children|Drama|Romance
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
From Our Family to Yours
Animation|Short|Family
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Once Upon a Time in Wonderland
Adventure|Drama|Fantasy
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Folklore: The Long Pond Studio Sessions
Documentary|Drama|Music
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Bia
Action|Comedy|Drama
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Real Right Stuff
Documentary
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Wonderful World of Mickey Mouse
Animation|Short|Adventure
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Lego Star Wars Holiday Special
Animation|Action|Adventure|Comedy|Family|Sci-Fi
nan
--------------------------
Adventure|Comedy|Crime
Children|Comedy
--------------------------
Action|Comedy|Crime
Children|Comedy
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Inside Pixar
Documentary|Short|Family
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Petra: Secrets of the Ancient Builders
Documentary|Short
nan
--------------------------
Animation|Short|Adventure|Comedy|Family|Fantasy
Animation|Children|Fantasy
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Prep & Landing: Naughty vs Nice
Animation|Short|Adventure
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Disney Channel Halloween House Party
Comedy|Family|Musical
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Mandalorian
Action|Adventure|Fantasy
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
X-Ray Earth
Documentary
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Gathering Storm
Documentary
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Marvel Super Hero Adventures
Animation|Action|Adventure
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Once Upon a Snowman
Animation|Short|Adventure
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Pompeii: Secrets of the Dead
Documentary|History
nan
--------------------------
Animation|Short|Adventure|Comedy|Family|Fantasy|Horror
Animation|Children|Comedy
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Clouds
Biography|Drama|Music
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Lost on Everest
Documentary
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Meet the Chimps
Documentary
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Rocketeer
Animation|Short|Action
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Chronicles of Narnia: The Voyage of the Dawn Treader
Adventure|Family|Fantasy
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Right Stuff
Drama|History
nan
--------------------------
Biography|Drama|History
Drama
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Magic of Disney's Animal Kingdom
Documentary
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Secret Society of Second Born Royals
Action|Adventure|Comedy
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Giant Robber Crab
Documentary|Short
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Ancient China From Above
Documentary|History
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Becoming
Documentary|Biography
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Europe From Above
Documentary
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Kingdom of the Mummies
Documentary
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Notre-Dame: Race Against the Inferno
Documentary|Short|Drama
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Once Upon a Time
Adventure|Fantasy|Romance
(no genres listed)
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres

Violetta
Drama
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Earth to Ned
Comedy|Sci-Fi|Talk-Show
nan
--------------------------
Animation|Short|Comedy
Animation
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Phineas and Ferb the Movie: Candace Against the Universe
Animation|Adventure|Comedy
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Back to the Titanic
Documentary
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Mars: One Day on the Red Planet
Documentary
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The One and Only Ivan
Adventure|Comedy|Drama
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
India's Wild Leopards
Documentary|Short
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Magic Camp
Comedy|Family|Fantasy
Children|Documentary
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Nature Boom Time!
Family
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Sam's Zookeeper Challenge
Adventure
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Scuba Sam's World
Adventure
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Spaced Out
Short|Comedy
nan
--------------------------
Biography|Drama|Musical
Drama
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Wild Cats of India
Documentary
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Howard Original
Comedy|Drama
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Star Wars Galaxy's Edge: Adventure Awaits
Documentary
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Hidden Kingdoms of China
Documentary
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Peanuts Movie
Animation|Adventure|Comedy
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
UFO Europe: The Untold Stories
Reality-TV|Sci-Fi
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Black Is King
Adventure|Drama|Fantasy
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Cradle of the Gods
Documentary
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
King Fishers
Documentary|Reality-TV
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Lost Temple of the Inca
Documentary
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Muppets Now
Comedy|Family|Reality-TV
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Surviving the Mount St Helens Disaster
Documentary|History
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
What Sam Sees
Adventure
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Rogue Trip
Documentary|Adventure
nan
--------------------------
Adventure|Comedy|Family
Children|Comedy
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Lost City of Machu Picchu
Documentary|History
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Super Robot Monkey Team Hyperforce Go!
Animation|Action|Adventure
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Mouseketeers at Walt Disney World
Family
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Wild Chile
Documentary
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Hamilton: History Has Its Eyes on You
Documentary|Talk-Show
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Undefeated Presents Hamilton In-Depth
Documentary|Short
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Animal ER
Reality-TV
nan
--------------------------
Comedy|Family
Comedy
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Hamilton
Biography|Drama|History
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Into the Unknown: Making Frozen 2
Documentary|Family
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Egypt's Treasure Guardians
History
nan
--------------------------
Animation|Adventure|Family|Fantasy
Animation|Children|Fantasy
--------------------------
Animation|Short|Comedy
Animation|Comedy
--------------------------
Animation|Short|Adventure
Animation|Comedy
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Artemis Fowl
Adventure|Family|Fantasy
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Mighty Med
Comedy|Family|Sci-Fi
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Alaska's Grizzly Gauntlet
Documentary
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
America's Greatest Animals
Documentary
nan
--------------------------
Adventure|Family|Fantasy
Adventure|Fantasy
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Secrets of Wild India
Documentary
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Greeks
Documentary|History
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Wild Hawaii
Documentary
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Moon-Spinners
Adventure|Family|Mystery
nan
--------------------------
Adventure|Comedy|Musical
Comedy|Musical|Romance
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Out
Animation|Short|Comedy
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Buried Secrets of the Bible with Albert Lin
Documentary|History
nan
--------------------------
Action|Adventure|Comedy
Children|Comedy
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
How to Play Baseball
Animation|Short|Comedy
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Nature's Half Acre
Documentary|Short|Family
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Prairie Dog Manor
Reality-TV
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Prowlers of the Everglades
Documentary|Short|Family
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Princess Bride
Adventure|Family|Fantasy
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Unlikely Animal Friends
Documentary
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Water Birds
Documentary|Short|Family
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Born Wild: The Next Generation
Documentary
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
America's Funniest Home Videos
Comedy|Family|Reality-TV
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Olympic Elk
Documentary|Short
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Jane Goodall: The Hope
Documentary
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Brain Games
Documentary|Comedy|Drama
nan
--------------------------
Family|Animation|Comedy
Animation
--------------------------
Animation|Comedy|Family
Animation
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Tron Uprising: Prequel to the Series Parody
Animation|Short
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
A Celebration of the Music from Coco
Music|Musical
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Tut's Treasures: Hidden Secrets
Documentary|History
nan
--------------------------
Animation|Short|Comedy
Animation
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Diving with Dolphins
Documentary
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Dolphin Reef
Documentary|Family
nan
--------------------------
Animation|Short|Comedy
Animation
--------------------------
Animation|Short|Comedy
Animation
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Double Dribble
Animation|Short|Comedy
nan
--------------------------
Family|Comedy|Animation
Animation|Children
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Elephant
Documentary|Adventure|Biography
Crime
--------------------------
Animation|Short|Comedy
Animation
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Fish Hooks
Animation|Adventure|Comedy
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
How to Play Football
Animation|Short|Comedy
(no genres listed)
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
In the Footsteps of Elephant
Documentary|Adventure|Family
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Lambert the Sheepish Lion
Animation|Short|Comedy
nan
--------------------------
Animation|Short|Adventure
Animation
--------------------------
Animation|Short|Comedy
Animation|Children
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Penguins: Life on the Edge
Documentary|Family
nan
--------------------------
Animation|Short|Comedy
Animation
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Sea Scouts
Animation|Family|Comedy
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Boy Who Talked to Badgers
Adventure|Family
nan
--------------------------
Family|Comedy|Animation
Animation
--------------------------
Animation|Short|Drama
Animation|Children
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Be Our Chef
Game-Show
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Disney Insider
Documentary
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Frozen 2 - Priyanka Chopra Jonas and Parineeti Chopra - Promo
Short
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Stargirl
Action|Adventure|Crime
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Sandlot: Heading Home
Family|Sport
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
101 Dalmatian Street
Animation|Comedy|Family
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Shop Class
Adventure|Family|Game-Show
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Viking Warrior Women
Documentary|Drama|History
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Star Wars Resistance
Animation|Action|Adventure
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Lost Cities with Albert Lin
Documentary|History
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Marvel Rising: Operation Shuri
Animation|Short|Action
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Marvel Rising: Playing with Fire
Animation|Short|Action|Adventure|Family|Sci-Fi
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Disney's Fairy Tale Weddings
Reality-TV
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Raven Symoné: That's So Raven
Short|Music
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Timmy Failure: Mistakes Were Made
Adventure|Comedy|Drama
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Descendants 3
Action|Adventure|Drama|Family|Musical|Thriller
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Lamp Life
Animation|Short|Adventure|Comedy|Family|Fantasy
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Diary of a Future President
Comedy|Drama|Family
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
America's National Parks
Documentary
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Continent 7: Antarctica
Adventure
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Lodge
Family
Drama|Horror
--------------------------
Animation|Short
Animation
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Loop
Animation|Short|Adventure
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Aladdin (2019)
Comedy|Talk-Show
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Austin & Ally
Comedy|Drama|Family
nan
--------------------------

List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Drain Alcatraz
Documentary
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Drain the Bermuda Triangle
Documentary|Short
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Drain the Great Lakes
Documentary
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Drain the Ocean: WWII
History
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Drain the Sunken Pirate City
Documentary
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Drain the Titanic
Documentary
Documentary
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Hacksaw
Family
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Marvel 75 Years: From Pulp to Pop!
Documentary|History
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Marvel Rising: Battle of the Bands
Animation|Short|Action
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Out There with Jack Randall
Documentary
nan
--------------------------
Animation|Short|Adventure|Comedy|Family
Animation|Comedy
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Proud Family
Animation|Comedy|Family
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Super Hero Squad Show
Animation|Action|Comedy
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
High School Musical: The Musical: The Series: The Special
Documentary
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Pick of the Litter
Documentary|Family
Documentary
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Togo
Adventure|Biography|Drama
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Wind
Animation|Short|Adventure
Animation
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
One Day at Disney
Documentary
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Expedition Amelia
Documentary|History
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Marvel Rising: Chasing Ghosts
Animation|Short|Action|Adventure|Family
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Supercar Megabuild
Documentary
nan
--------------------------
Animation|Short|Comedy
Animation
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
A Ring of Endless Light
Drama|Family|Romance
(no genres listed)
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Aladdin and the King of Thieves
Animation|Adventure|Comedy|Family|Fantasy|Musical|Romance
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Almost Angels
Comedy|Family|Music
(no genres listed)
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
America's Heart & Soul
Documentary
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
An Extremely Goofy Movie
Animation|Comedy|Family|Sport
nan
--------------------------
Family|Comedy|Musical
Children|Comedy
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Apollo: Missions to the Moon
Documentary|History
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Atlantis Rising
Documentary|Adventure|Mystery
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Atlantis: Milo's Return
Animation|Action|Adventure|Comedy|Drama|Family|Fantasy|Sci-Fi
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Auntie Edna
Animation|Short|Action
nan
--------------------------
Animation|Short|Comedy
Animation
--------------------------
Animation|Adventure|Drama
Animation|Children|Drama
--------------------------
Animation|Short|Drama
Animation
--------------------------
Animation|Short|Comedy
Animation
--------------------------
Animation|Short|Comedy
Animation
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Beauty and the Beast: The Enchanted Christmas
Animation|Family|Fantasy|Music|Musical
nan
--------------------------
Animation|Short|Comedy
Animation
--------------------------
Documentary|News
Documentary
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Best Friends Whenever
Comedy|Family|Sci-Fi
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Bizarre Dinosaurs
Documentary
nan
--------------------------
Animation|Short|Comedy
Animation
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Bone Bandit
Family|Comedy|Animation
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Bonkers
Animation|Short|Action
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Boy Meets World
Comedy|Drama|Family
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Breaking2
Documentary
nan
--------------------------
Drama|Family|Sport
Drama
--------------------------
Animation|Adventure|Comedy|Family|Fantasy|Romance
Adventure|Animation|Children|Comedy|Fantasy
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Buffalo Dreams
Family
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Burn-E
Animation|Short|Adventure
nan
--------------------------
Comedy|Drama|Family
Comedy
--------------------------
Comedy|Family|Music|Musical|Romance
Comedy|Musical|Romance
--------------------------
Comedy|Family|Music|Musical|Romance
Comedy|Musical|Romance
--------------------------
Animation|Short|Comedy
Animation
--------------------------
Animation|Short|Comedy
Animation
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Chip 'n' Dale's Rescue Rangers to the Rescue
Animation|Adventure|Comedy|Family|Mystery
nan
--------------------------
Animation|Short|Comedy
Animation|Children
--------------------------
Animation|Short|Comedy
Animation
--------------------------
Family|Animation|Comedy
Animation|Children
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Crash & Bernstein
Comedy|Family
nan
--------------------------
Action|Adventure|Comedy|Crime|Family
Action|Adventure|Children|Comedy
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Darkwing Duck
Animation|Action|Adventure
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Davy Crockett: King of the Wild Frontier
Adventure|Drama|Family
nan
--------------------------
Animation|Short|Comedy
Animation|Children
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Decorating Disney: Holiday Magic
Reality-TV
nan
--------------------------
Action|Adventure|Family|Fantasy|Romance
Action|Adventure|Children|Comedy
--------------------------
Comedy|Drama|Family
Children|Comedy
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Disney Descendants: School of Secrets
Fantasy
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Disney Family Sundays
Family|Reality-TV
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Disney's Doug
Animation|Comedy|Drama
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Disneynature: Wings of Life
Documentary|Family|News
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Dog Whisperer with Cesar Millan
Family|Reality-TV
nan
--------------------------
Family|Fantasy|Horror
Children|Drama
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Donald's Golf Game
Animation|Short|Comedy
nan
--------------------------
Family|Comedy|Animation
Animation
--------------------------
Biography|Drama|Family|Sport
Children|Drama
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Dr T, Lone Star Vet
Reality-TV
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
DuckTales the Movie: Treasure of the Lost Lamp
Animation|Adventure|Comedy
nan
--------------------------
Animation|Short|Comedy|Family
Animation|Children|Comedy
--------------------------
Animation|Short|Comedy
Animation
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Earth Live
Documentary
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Easter Island Unsolved
Documentary
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Eddie's Million Dollar Cook-Off
Comedy|Family|Sport
nan
--------------------------
Documentary|History|Sci-Fi
Documentary
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Encore!
Musical|Reality-TV
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Even Stevens
Comedy|Family
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Float
Animation|Short|Drama
Drama|Romance
--------------------------
Animation|Short|Comedy
Animation
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Food for Feudin'
Comedy|Family|Animation
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Midway Is for the Birds
Short|War
nan
--------------------------
Documentary|Adventure|Sport
Documentary
--------------------------
Comedy|Drama|Family
Children|Drama
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Full-Court Miracle
Drama|Family|Sport
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Fuzzbucket
Adventure|Comedy|Family
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Gargoyles
Animation|Action|Adventure
Fantasy|Horror
--------------------------
Comedy|Drama|Family|Romance
Comedy
--------------------------
Comedy|Family|Romance|Sci-Fi
Children|Comedy|Drama
--------------------------
Animation|Short|Family
Animation|Children
--------------------------
Comedy|Crime|Family|Mystery
Children|Comedy|Mystery
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Giants of the Deep Blue
Short|Documentary
nan
--------------------------
Action|Comedy|Drama|Family|Romance|Sport
Children|Comedy|Drama
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Going to the Mat
Drama|Family|Sport
(no genres listed)
--------------------------
Comedy|Drama|Family
Children|Comedy
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Goof Troop
Animation|Adventure|Comedy
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Gotta Kick It Up!
Comedy|Drama|Family
nan
--------------------------
Family|Comedy|Animation
Animation

--------------------------
Animation|Short|Comedy
Animation
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Greyfriars Bobby: The True Story of a Dog
Drama|Family
nan
--------------------------
Comedy|Family|Sport
Children|Comedy
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Handy Manny
Animation|Comedy|Family
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Hatching Pete
Comedy|Family
nan
--------------------------
Animation|Short|Comedy
Animation
--------------------------
Comedy|Drama|Family|Music|Musical|Romance
Children|Comedy|Drama|Musical|Romance
--------------------------
Comedy|Drama|Family|Music|Musical|Romance
Comedy|Drama|Musical|Romance
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
High School Musical: The Musical - The Series
Comedy|Drama|Musical
nan
--------------------------
Adventure|Comedy|Family
Children|Comedy|Sci-Fi
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Honey, We Shrunk Ourselves!
Action|Adventure|Comedy|Family|Sci-Fi
nan
--------------------------
Drama|Family
Drama
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Hostile Planet
Documentary
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Hounded
Comedy|Drama|Family
Drama
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
How Dogs Got Their Shapes
Documentary
nan
--------------------------
Comedy|Family|Sci-Fi
Children|Sci-Fi
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
How to Fish
Comedy|Family|Animation
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
How to Swim
Animation|Short|Comedy
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
I'll Be Home for Christmas
Comedy|Family
Children|Drama
--------------------------
Animation|Short|Adventure|Comedy|Family
Adventure|Animation|Children|Comedy
--------------------------
Animation|Short|Adventure
Animation|Comedy
--------------------------
Action|Comedy|Crime|Family|Sci-Fi
Action|Adventure|Children|Comedy
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Into the Okavango
Documentary
nan
--------------------------
Adventure|Comedy|Family|Fantasy
Adventure|Comedy|Fantasy
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Iron Man: Armored Adventures
Animation|Action|Adventure
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Jack-Jack Attack
Animation|Short|Adventure|Comedy|Family
nan
--------------------------
Documentary|Biography
Documentary
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Jessie
Comedy|Drama|Family
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Johnny Kapahala: Back on Board
Comedy|Drama|Family|Sport
nan
--------------------------
Drama|Family|Sport
Children|Drama
--------------------------
Comedy|Drama|Family|Romance|Sport
Comedy|Drama|Romance
--------------------------
Family|Adventure|Comedy|Drama
Children|Drama
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Jungle Cat
Documentary|Family
(no genres listed)
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Kingdom of the White Wolf
Documentary
nan
--------------------------
Animation|Short|Drama
Animation|Children
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Kronk's New Groove
Animation|Comedy|Family|Musical|Romance
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Ruta de la luna
Drama
nan
--------------------------
Adventure|Comedy|Family
Comedy|Romance
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Lava Murders
Thriller
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Lego Star Wars: All-Stars
Animation|Action|Adventure
nan
--------------------------
Comedy|Drama|Family|Music|Musical
Children
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Lend a Paw
Animation|Short|Comedy
nan
--------------------------
Animation|Action|Adventure|Comedy|Drama|Family|Sci-Fi
Animation|Children|Comedy
--------------------------
Drama|Family|Music
Children
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Life Is Ruff
Comedy|Family
(no genres listed)
--------------------------
Comedy|Family
Comedy
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Lifted
Animation|Short|Comedy
Children|Drama
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Lilo & Stitch 2: Stitch Has a Glitch
Animation|Comedy|Drama|Family|Sci-Fi
nan
--------------------------
Animation|Short|Comedy
Animation|Comedy
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Lost Treasures of the Maya
Documentary|History
nan
--------------------------
Animation|Short|Comedy
Animation
--------------------------
Adventure|Comedy|Drama|Family|Fantasy|Sport
Adventure|Children|Comedy
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Luxo Jr
Animation|Short|Comedy
nan
--------------------------
Family|Animation|Comedy
Animation
--------------------------
Comedy|Family|Animation
Animation
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Man Among Cheetahs
Documentary
nan
--------------------------
Animation|Action|Comedy|Fantasy|Sci-Fi
Action|Animation|Comedy
--------------------------
Documentary|History
Documentary
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Marvel Studios: Expanding the Universe
Documentary|Short
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Marvel Studios' Avengers: Endgame LIVE Red Carpet World Premiere
Reality-TV
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Marvel Studios' Captain Marvel LIVE Red Carpet World Premiere
Reality-TV
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Marvel's Hero Project
Documentary
nan
--------------------------
Animation|Short|Comedy|Family|Horror
Animation|Children|Comedy
--------------------------
Family|Animation|Short
Animation|Children
--------------------------
Animation|Adventure|Comedy|Family|Musical|Romance
Adventure|Animation|Children|Comedy
--------------------------
Animation|Short|Comedy
Animation|Children
--------------------------
Animation|Short|Comedy
Animation|Comedy
--------------------------
Animation|Comedy|Family|Fantasy
Animation|Comedy|Fantasy
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Mickey's Rival
Animation|Short|Comedy
nan
--------------------------
Animation|Short|Adventure
Animation
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Mickey's Twice Upon a Christmas
Animation|Comedy|Family|Fantasy
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Mike's New Car
Animation|Short|Comedy|Family|Fantasy
nan
--------------------------
Adventure|Comedy|Family|Romance|Sci-Fi|Thriller
Adventure|Children|Comedy|Sci-Fi
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Miracle at Midnight
Drama
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Miracle in Lane 2
Biography|Comedy|Drama|Family|Sport
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Miracle Landing on the Hudson
Drama
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Mission to the Sun
Documentary
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Mom's Got a Date with a Vampire
Comedy|Family|Fantasy|Horror
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Disney's Newsies: The Broadway Musical!
Musical
nan
--------------------------
Adventure|Comedy|Family
Children
--------------------------
Drama|Family|Fantasy|Mystery
Comedy|Mystery
--------------------------
Adventure|Drama|Family
Children|Drama
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Once Upon a Mattress
Comedy|Musical|Romance
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Out of the Box
Family|Fantasy|Music
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Phineas and Ferb
Animation|Short|Action
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Phineas and Ferb the Movie: Across the 2nd Dimension
Animation|Action|Adventure|Comedy|Family|Musical|Sci-Fi
nan
--------------------------
Animation|Short|Family
Animation
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Pixar in Real Life
Comedy|Family|Reality-TV
nan
--------------------------
Family|Sci-Fi|Comedy|Fantasy|Music
Children|Comedy|Sci-Fi
--------------------------
Animation|Comedy|Family
Animation|Children
--------------------------
Animation|Short|Comedy
Animation|Comedy
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Pluto's Surprise Package
Animation|Comedy|Family
nan
--------------------------
Animation|Short|Comedy
Animation
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Pooh's Grand Adventure: The Search for Christopher Robin
Animation|Adventure|Comedy|Family|Musical
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Princess Protection Program
Comedy|Drama|Family
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Quack Pack
Animation|Adventure|Comedy
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Quints
Comedy|Drama|Family
(no genres listed)
--------------------------
Animation|Comedy|Drama|Family|Romance
Comedy
--------------------------
Family|Sport
Children
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Red's Dream
Animation|Short|Family
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Rescue Dog
Animation|Comedy|Family
nan
--------------------------
Adventure|Family|Fantasy
Children|Sci-Fi
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Richie Rich's Christmas Wish
Comedy|Family
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Right on Track
Biography|Drama|Family
(no genres listed)
--------------------------
Animation|Short|Comedy|Family|Romance
Animation|Children
--------------------------
Documentary|Short
Documentary
--------------------------
Animation|Short|Action
Animation
--------------------------
Adventure|Family
Children
--------------------------
Animation|Short|Family
Animation
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Sea of Hope: America's Underwater Treasures
Documentary
nan
--------------------------
Documentary|Family
Documentary
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Shake It Up
Comedy|Family
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Sharks of Lost Island
Documentary
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Sharpay's Fabulous Adventure
Comedy|Drama|Family|Music|Musical|Romance
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Simpsons Movie
Animation|Adventure|Comedy
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Skyrunners
Family|Sci-Fi
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Smash and Grab
Animation|Short|Action
nan
--------------------------
Comedy|Family|Fantasy|Romance
Children|Fantasy|Sci-Fi
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
So Weird
Adventure|Family|Mystery
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Society Dog Show
Animation|Short|Adventure
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Spider-Man Unlimited
Animation|Action|Adventure
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Spider-Woman
Animation|Action|Family

nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Star Wars: Rebels
Animation|Action|Adventure
nan
--------------------------
Comedy|Family|Music|Romance
Comedy|Musical
--------------------------
Comedy|Family|Sci-Fi
Children|Sci-Fi
--------------------------
Animation|Adventure|Comedy|Family|Sci-Fi
Animation|Children|Comedy
--------------------------
Comedy|Family|Music
Children|Comedy
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Swiss Family Robinson
Adventure|Family
Adventure|Children
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
TaleSpin
Animation|Action|Adventure
nan
--------------------------
Animation|Action|Adventure|Comedy|Family|Fantasy|Musical
Adventure|Animation|Children|Comedy|Fantasy
--------------------------
Animation|Adventure|Family
Animation|Children|Comedy
--------------------------
Family|Fantasy|Musical
Comedy
--------------------------
Family|Fantasy|Musical
Children|Musical
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Absent Minded Professor
Comedy|Family|Sci-Fi
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Adventures of Bullwhip Griffin
Action|Adventure|Comedy
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Adventures of Spin and Marty
Adventure|Western|Family
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Apple Dumpling Gang Rides Again
Comedy|Family|Western
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Art of Skiing
Animation|Short|Comedy
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Avengers: Earth's Mightiest Heroes
Animation|Action|Adventure
nan
--------------------------
Animation|Short|Comedy
Animation
--------------------------
Animation|Short|Adventure
Animation
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Blue Umbrella
Animation|Short|Drama
nan
--------------------------
Animation|Adventure|Family|Sci-Fi
Animation|Children
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Castaway Cowboy
Comedy|Family|Western
nan
--------------------------
Comedy|Drama|Family|Music|Musical
Children|Comedy|Drama
--------------------------
Comedy|Drama|Family|Music|Musical
Children|Comedy|Drama
--------------------------
Comedy|Drama|Family|Musical
Children|Comedy|Drama
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Christmas Star
Drama|Family
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Color of Friendship
Biography|Drama|Family
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Computer Wore Tennis Shoes
Comedy|Family|Sci-Fi
(no genres listed)
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Flood
Documentary
nan
--------------------------
Animation|Adventure|Comedy|Family|Musical
Adventure|Animation|Children|Comedy
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Ghosts of Buxley Hall
Comedy|Family|Fantasy|Horror
nan
--------------------------
Animation|Short|Family
Animation
--------------------------
Animation|Short|Comedy
Animation
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Great Muppet Caper
Adventure|Comedy|Crime
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Hockey Champ
Animation|Short|Comedy
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Imagineering Story
Documentary
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Incredible Journey
Adventure|Drama|Family
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Jungle Book: Mowgli's Story
Adventure|Family
(no genres listed)
--------------------------
Animation|Short|Family|Fantasy
Animation|Children
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Lion King 2: Simba's Pride
Animation|Adventure|Drama|Family|Musical|Romance
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Little Mermaid: Ariel's Beginning
Animation|Drama|Family|Fantasy|Musical
nan
--------------------------
Animation|Short|Comedy
Animation|Comedy
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Living Desert
Family|Documentary
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Lost Tomb of Alexander the Great
Documentary
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Million Dollar Duck
Comedy|Family|Sci-Fi
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Mistle-Tones
Comedy|Family|Music
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Muppet Movie
Adventure|Comedy|Family
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The New Adventures of Winnie the Pooh
Animation|Short|Adventure
nan
--------------------------
Animation|Short|Comedy
Animation
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Olympic Champ
Animation|Short|Comedy
nan
--------------------------
Animation|Short|Family
Animation|Children
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Poof Point
Comedy|Family|Sci-Fi
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Prince and the Pauper
Adventure
(no genres listed)
--------------------------
Animation|Adventure|Comedy|Family|Fantasy|Sci-Fi
Animation|Children|Comedy
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Reluctant Dragon
Animation|Comedy|Family
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Replacements
Animation|Comedy|Family
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Scream Team
Comedy|Family|Fantasy|Horror
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Shaggy DA
Comedy|Family|Fantasy
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Shaggy Dog
Comedy|Family|Fantasy
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Sound of Music
Biography|Drama|Family
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Strongest Man in the World
Comedy|Family|Sci-Fi
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Suite Life Movie
Adventure|Comedy|Crime|Drama|Family|Sci-Fi
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Suite Life on Deck
Action|Adventure|Comedy
nan
--------------------------
Comedy|Family|Fantasy
Comedy
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Thirteenth Year
Comedy|Family|Fantasy
(no genres listed)
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Tortoise and the Hare
Animation|Short|Comedy
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Ugly Dachshund
Comedy|Family
nan
--------------------------
Documentary|Family
Documentary
--------------------------
Animation|Short|Comedy
Animation
--------------------------
Animation|Action|Adventure|Comedy|Drama|Family|Fantasy|Romance
Adventure|Comedy|Drama
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The World According to Jeff Goldblum
Documentary|Comedy
nan
--------------------------
Animation|Short|Comedy
Animation|Children
--------------------------
Drama|Family|Fantasy
Children
--------------------------
Animation|Short|Adventure
Animation
--------------------------
Animation|Short|Comedy
Animation
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Tiger Cruise
Drama|Family
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Making of Tim Burton's 'The Nightmare Before Christmas'
Documentary|Short
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Timon & Pumbaa
Animation|Short|Adventure
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Tin Toy
Animation|Short|Family
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Titanic: 20 Years Later with James Cameron
Documentary
nan
--------------------------
Animation|Short|Comedy
Animation
--------------------------
Animation|Comedy|Family
Animation
--------------------------
Adventure|Family|Western
Action|Adventure
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Tugboat Mickey
Animation|Short|Comedy
nan
--------------------------
Comedy|Family
Children
--------------------------
Drama|Family|Fantasy|Horror|Thriller
Children|Drama|Fantasy
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Up, Up, and Away!
Comedy|Family|Fantasy|Sci-Fi
nan
--------------------------
Action|Adventure|Family|Fantasy|Romance|Sci-Fi
Action|Adventure|Children
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Whispers: An Elephant's Tale
Adventure|Family
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Wild Yellowstone
Documentary
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Winged Seduction: Birds of Paradise
Documentary
nan
--------------------------
Animation|Comedy|Drama
Animation|Children
--------------------------
Animation|Comedy|Family
Animation
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Wizards of Waverly Place
Adventure|Comedy|Drama
nan
--------------------------
Animation|Action|Adventure|Comedy|Drama|Family|Fantasy
Adventure|Children|Comedy|Drama|Fantasy|Sci-Fi
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Wolverine and the X-Men
Animation|Action|Adventure
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
X-Men: Evolution
Animation|Action|Drama
nan
--------------------------
Animation|Short|Comedy
Animation
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Yellowstone Cubs
Adventure|Family
(no genres listed)
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
You Lucky Dog
Comedy|Family|Fantasy|Mystery
(no genres listed)
--------------------------
Comedy|Family|Fantasy|Drama
Children
--------------------------
Animation|Short|Comedy|Family
Animation
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Z-O-M-B-I-E-S
Family|Musical|Romance
nan
--------------------------
Adventure|Comedy|Family|Sci-Fi
Adventure|Children|Comedy
--------------------------
Adventure|Comedy|Family|Sci-Fi
Adventure|Children|Comedy
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Justin Morgan Had a Horse
Family|Drama|Western
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
The Cat from Outer Space
Comedy|Family|Sci-Fi
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Imagination Movers
Family
nan
--------------------------
Adventure|Comedy|Family
Action|Comedy|IMAX
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
Eddie the Eagle: Attitude Is Altitude - Filming the Ski Jumps
Documentary|Short|Sport
nan
--------------------------
List of Movies that IMDB Genre nan will be replaced by MovieLens genres
She Shoots, She Scores: The Making of 'Bend It Like Beckham'
Documentary|Short
nan
--------------------------

In [153]:
merged_tv_df.isna().sum()

Title            0
Year             0
Rated            0
Released        10
Runtime          0
Genre            0
Director       228
Writer         194
Actors          32
Language        15
Country          7
Awards         398
Metascore        0
IMDBRating       0
imdbVotes        0
imdbID           0
movieId        470
title          490
genres           0
movie_title    490
year           490
dtype: int64

In [154]:
#Make a decision to fill Rated NULL to "G"
merged_tv_df['Rated'].fillna('G', inplace = True)

In [155]:
merged_tv_df.drop(columns=['movie_title', 'year', 'movieId', 'title', 'Genre'], inplace = True)

In [156]:
merged_tv_df.head()

,Title,Year,Rated,Released,Runtime,Director,Writer,Actors,Language,Country,Awards,Metascore,IMDBRating,imdbVotes,imdbID,genres
0,Ice Age: A Mammoth Christmas,2011,TV-PG,24 Nov 2011,26,Karen Disher,Sam Harper| Mike Reiss,Ray Romano| John Leguizamo| Denis Leary| Queen...,English,USA,1 nomination.,-1.0,6.5,9671,tt2100546,Animation|Short|Adventure|Comedy|Family|Fantasy
1,The Queen Family Singalong,2021,TV-PG,04 Nov 2021,41,Hamish Hamilton,Brian Strickland,Darren Criss| Adam Lambert| Jimmie Allen,English,United States,NaN,-1.0,5.9,86,tt15716286,Music|Musical
2,The Beatles: Get Back,2021,PG-13,25 Nov 2021,-1,Peter Jackson,NaN,The Beatles| John Lennon| Paul McCartney,English,United Kingdom| New Zealand| United States,4 wins & 4 nominations,-1.0,9.1,18501,tt9735318,Documentary|Biography|Music
3,Becoming Cousteau,2021,PG-13,24 Nov 2021,94,Liz Garbus,Mark Monroe| Pax Wassermann,Vincent Cassel| Carol Burnett| Louis Malle,English|French,United States,Nominated for 1 BAFTA Film Award2 wins & 11 no...,74.0,7.1,834,tt10334438,Documentary|Adventure|Biography
4,Hawkeye,2021,TV-14,24 Nov 2021,60,NaN,NaN,Jeremy Renner| Hailee Steinfeld| Florence Pugh,English|AmericanSign,United States,8 nominations,-1.0,7.7,142549,tt10160804,Action|Adventure|Crime

In [157]:
#This first test list is ready for ML K-means Clustering

merged_tv_df.to_csv (r'output/ML_tv_ready.csv', index = None, header=True)

In [ ]:
# #check some titles
# merged_disney_df[merged_disney_df.Title.str.startswith('WAL')]

In [ ]:
# #check some titles
# ml_df[ml_df.title.str.startswith('WAL')]

In [ ]:
# #check some titles
# ml_df[ml_df.title.str.startswith('Déjà')]