In [39]:
import pandas as pd
import numpy as np
import re
from sqlalchemy import create_engine
from config import db_password

ImportError: cannot import name 'db_password' from 'config' (C:\ProgramData\Anaconda3\lib\site-packages\config\__init__.py)

In [2]:
#load IMDB movies dataset
imdb_df = pd.read_csv('../Resources/IMDB_movies.csv')

In [3]:
# change column names with lower case
imdb_df.columns= ['title', 'year' , 'rated' , 'released' , 'runtime' , 'genre', 'director' , 'writer' , 'actors', 'language' , 'country' , 'awards' , 'meta_score' , 'imdb_rating' , 'imdb_votes', 'imdb_id']

In [4]:
imdb_df.tail(1)

,title,year,rated,released,runtime,genre,director,writer,actors,language,country,awards,meta_score,imdb_rating,imdb_votes,imdb_id
608,The Secret World of Arrietty,2010,G,17 Feb 2012,94,"Animation, Adventure, Drama",Hiromasa Yonebayashi,"Mary Norton, Hayao Miyazaki, Keiko Niwa","Amy Poehler, Will Arnett, Mirai Shida",Japanese,Japan,12 wins & 6 nominations,80.0,7.6,"89,613",tt1568921

In [5]:
# Create data frame for metascore
metascore_df = imdb_df [['imdb_id' , 'meta_score']]

In [6]:
# Make a running number for the df 
metascore_df['score_id'] = np.arange(len(metascore_df))

<ipython-input-6-3756d18068b6>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  metascore_df['score_id'] = np.arange(len(metascore_df))

In [7]:
# make a score id a varchar to be used as pk in ERD
metascore_df['score_id'] = 'ms0' + metascore_df['score_id'].astype(str)

<ipython-input-7-14dde66343c3>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  metascore_df['score_id'] = 'ms0' + metascore_df['score_id'].astype(str)

In [15]:
metascore_df.head(1)

     imdb_id  meta_score score_id
0  tt0115433        49.0     ms00

In [9]:
metascore_df.to_csv('Datasets/Metascore.csv', index = None, header=True)

In [10]:
# Create data frame for language & country
lang_cntr_df = imdb_df [['imdb_id' , 'language' , 'country']]

In [11]:
# Make a running number for the df 
lang_cntr_df['country_id'] = np.arange(len(lang_cntr_df))

<ipython-input-11-5576ea736987>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lang_cntr_df['country_id'] = np.arange(len(lang_cntr_df))

In [13]:
# make a country id a varchar to be used as pk in ERD
lang_cntr_df['country_id'] = 'cs0' + lang_cntr_df['country_id'].astype(str)

<ipython-input-13-e01672395588>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lang_cntr_df['country_id'] = 'cs0' + lang_cntr_df['country_id'].astype(str)

In [14]:
lang_cntr_df.head()

,imdb_id,language,country,country_id
0,tt0115433,"English, Spanish","United States, United Kingdom",cs00
1,tt0211181,English,"United States, United Kingdom",cs01
2,tt0103594,"English, Spanish, Latin, Arabic","United Kingdom, France, Spain",cs02
3,tt0046672,English,United States,cs03
4,tt0307901,English,United States,cs04

In [16]:
# Export data set
lang_cntr_df.to_csv('Datasets/Language_Country.csv', index = None, header=True)

In [17]:
# Create data frame for Awards
awards_df = imdb_df [['imdb_id' , 'awards' , 'released']]

In [20]:
# Make a running number for the df 
awards_df['awards_id'] = np.arange(len(awards_df))

<ipython-input-20-d19f8bead1c8>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  awards_df['awards_id'] = np.arange(len(awards_df))

In [22]:
# make a country id a varchar to be used as pk in ERD
awards_df['awards_id'] = 'aw0' + awards_df['awards_id'].astype(str)

<ipython-input-22-20bd87f7dc28>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  awards_df['awards_id'] = 'aw0' + awards_df['awards_id'].astype(str)

In [27]:
awards_df.head(1)

,imdb_id,awards,released,awards_id
0,tt0115433,Nominated for 1 BAFTA Film Award3 wins & 10 no...,27 Nov 1996,aw00

In [28]:
# Export data set
awards_df.to_csv('Datasets/Awards.csv', index = None, header=True)

In [33]:
revenue_df = pd.read_csv('../Resources/FINAL_2021_disney_movies_total_gross.csv')
revenue_df.head(1)

      movie_title  year  release_date  total_gross  inflation_adjusted_gross
0  101 Dalmatians  1961  Jan 25, 1961    153000000                1386568896

In [34]:
# Create data frame for Gross_revenue ( need to connect imdb_id to to movies name ,, Suyin already did it as Complete Df.
# gr_df = revenue_df [['total_gross' , 'inflation_adjusted_gross']]

In [ ]:
# The dataframe for revenue doesnt have a common IMDB ID,
# Dataframe for IMDB_movies is more,, we need less colummns after we merge and align the imdb_id to movie lense and revenue,, which Suyin already did in her code.