In [1]:
import pandas as pd
import numpy as np
import re

In [2]:
#load IMDB movies dataset
imdb_df = pd.read_csv('../Resources/IMDB_movies.csv')

In [3]:
imdb_df.head(1)

,Title,Year,Rated,Released,Runtime,Genre,Director,Writer,Actors,Language,Country,Awards,Metascore,IMDBRating,imdbVotes,imdbID
0,101 Dalmatians,1996,G,27 Nov 1996,103,"Adventure, Comedy, Crime",Stephen Herek,"Dodie Smith, John Hughes","Glenn Close, Jeff Daniels, Joely Richardson","English, Spanish","United States, United Kingdom",Nominated for 1 BAFTA Film Award3 wins & 10 no...,49.0,5.7,"109,762",tt0115433

In [4]:
# change column names with lower case
imdb_df.columns= ['title', 'year' , 'rated' , 'released' , 'runtime' , 'genre', 'director' , 'writer' , 'actors', 'language' , 'country' , 'awards' , 'meta_score' , 'imdb_rating' , 'imdb_votes', 'imdb_id']

In [10]:
imdb_df.tail(1)

,title,year,rated,released,runtime,genre,director,writer,actors,language,country,awards,meta_score,imdb_rating,imdb_votes,imdb_id
608,The Secret World of Arrietty,2010,G,17 Feb 2012,94,"Animation, Adventure, Drama",Hiromasa Yonebayashi,"Mary Norton, Hayao Miyazaki, Keiko Niwa","Amy Poehler, Will Arnett, Mirai Shida",Japanese,Japan,12 wins & 6 nominations,80.0,7.6,"89,613",tt1568921

title           object
year            object
rated           object
released        object
runtime          int64
genre           object
director        object
writer          object
actors          object
language        object
country         object
awards          object
meta_score     float64
imdb_rating    float64
imdb_votes      object
imdb_id         object
dtype: object

In [ ]:
# copy one df to another df
#small_df = big_df[[â€˜id','imdb_id','title','release_date','runtime','vote_average','vote_count']]

In [7]:
# Create data frame for metascore
metascore_df = imdb_df [['imdb_id' , 'meta_score']]

In [32]:
# Make a running number for the df 
metascore_df['score_id'] = np.arange(len(metascore_df))

In [33]:
# make a score id a varchar to be used as pk in ERD
metascore_df['score_id'] = 'ms0' + metascore_df['score_id'].astype(str)

In [34]:
metascore_df.tail(10)

       imdb_id  meta_score score_id
599  tt0080684        82.0   ms0599
600  tt0118001        -1.0   ms0600
601  tt0111543        -1.0   ms0601
602  tt1159961        70.0   ms0602
603  tt1223150        55.0   ms0603
604  tt0120659        -1.0   ms0604
605  tt0119125        -1.0   ms0605
606  tt1305591        49.0   ms0606
607  tt0283426        38.0   ms0607
608  tt1568921        80.0   ms0608